@use "../utils" as *;
.b3-list--background .b3-list-item {
    @include superellipse(7px);
}
.b3-list-item--focus {
    background-color: var(--b3-list-active);
    .b3-list--background & {
        background-color: var(--b3-list-active);        
    }
}
.b3-list-item svg.b3-list-item__arrow {
    transition: color var(--b3-transition), transform var(--_rotate-transition);
}
.counter {
    @include superellipse(7px);
    &--bg {
        background-color: var(--b3-list-hover);
    }
}