@use "../utils" as *;
.counter {
    @include superellipse(7px);
    &--bg {
        background-color: var(--b3-list-hover);
    }
}
.b3-label__text.fn__pointer {
    color: var(--b3-theme-on-surface);
    transition: var(--b3-transition);
    &:hover {
        color: var(--b3-theme-on-background);
    }
}
.b3-card {
    box-shadow: unset;
    background-color: transparent;
    transition: var(--b3-transition);
    @include superellipse(10px);
    &:hover {
        background-color: var(--b3-list-hover);
    }
    &--current {
        color: var(--b3-theme-accent);
    }
}