#previewContainer {
    background-color: var(--b3-theme-surface);
    & > #preview {
        box-shadow: none;
        background-color: white;
        margin: 0 auto;
    }
}
body > #action {
    background-color: var(--b3-theme-surface);
    border: none;
}