#previewContainer {
    background-color: var(--b3-theme-surface);
    & > #preview {
        box-shadow: none;
        margin: 0 auto;
        & > .protyle-wysiwyg {
            overflow-x: visible;
            padding-left: 6px !important;
            padding-right: 6px !important;
        }
    }
}
body[data-export-pdf="true"] {
    color: var(--b3-theme-on-background);
    & > #action {
        background-color: var(--b3-theme-surface);
        border: none;
    }
}