@mixin frostedglass($blur: l, $color: background, $alpha: 0.6) {
    $blur-value: 20px;
    @if $blur == s {
        $blur-value: 6px;
    } @else if $blur == m {
        $blur-value: 12px;
    } @else if $blur == l {
        $blur-value: 20px;
    } @else {
        $blur-value: $blur;
    }
    $color-var: --b3-theme-background;
    @if $color == surface {
        $color-var: --b3-theme-surface;
    } @else if $color == menu {
        $color-var: --b3-menu-background;
    }
    @at-root {
        [data-theme-mode="dark"] & {
            background-color: oklch(from var(#{$color-var}) l c h / 0.7) !important;
            backdrop-filter: blur(#{$blur-value}) saturate(1.8) brightness(0.9);
        }
    }
    background-color: oklch(from var(#{$color-var}) l c h / #{$alpha}) !important;
    backdrop-filter: blur(#{$blur-value}) saturate(1.8) brightness(1.1);
}
