@use "superellipse" as *;
@mixin icon {
    @include superellipse(6px);
    color: var(--b3-theme-on-surface);
    background-color: transparent !important;
    transition: var(--b3-transition);
    svg {
        color: var(--b3-theme-on-surface);
        transition: var(--b3-transition);
    }
    &:hover {
        color: var(--b3-theme-on-background);
        background-color: transparent !important;
        svg {
            color: var(--b3-theme-on-background);
        }
    }
}