@use "../utils" as *;
.layout__center {
    anchor-name: --anchor-layout-center;
}
@supports (bottom: anchor(--a bottom)) {
    .status {
        position: absolute;
        bottom: calc(anchor(--anchor-layout-center bottom) + calc(var(--_layout-gap) * 1.5));
        right: calc(anchor(--anchor-layout-center right) + calc(var(--_layout-gap) * 1.5));
        @include superellipse(18px);
        @include frostedglass($blur: s, $color: surface);
        box-shadow: var(--neo-main-shadow-heavy);
        height: 26px;
        line-height: 26px;
        border: unset;
        padding: 0 2px;
        overflow: hidden;
        z-index: 5;
        max-width: max(anchor-size(--anchor-layout-center) - 16px, 200px);
        .toolbar__item {
            &:hover {
                box-shadow: none;
            }
        }
    }
}