@use "../utils" as *;
.protyle-wysiwyg [data-node-id] {
    @include superellipse(10px);
    &.protyle-wysiwyg--select,
    &.protyle-wysiwyg--hl {
        &::after {
            @include superellipse(10px);
        }
    }
}
.protyle-wysiwyg [data-node-id][fold="1"] {
    animation: neo-block-fold 0.4s var(--neo-ease-spring-3) !important;
    animation-timeline: unset !important; // 卷轴动画会覆盖动画
    transform-origin: top;
    &:not(.li) {
        outline: 1px solid oklch(from currentColor l c h / 0.3);
        outline-offset: -1px;
        background-color: oklch(from currentColor l c h / 0.12);
        opacity: 0.38 !important; // 卷轴动画会覆盖opacity
    }
    &.li {
        animation: neo-block-fold-li 0.4s var(--neo-ease-spring-3) !important;
        animation-timeline: unset !important;
        transform-origin: top left;
    }
}
@keyframes neo-block-fold {
    0% {
        transform: scaleY(1.65);
    }
    100% {
        transform: scaleY(1);
    }
}
@keyframes neo-block-fold-li {
    0% {
        transform: scaleX(1.25) scaleY(1.2);
    }
    100% {
        transform: scaleX(1) scaleY(1);
    }
}
:root {
    --b3-font-family: system-ui, ui-sans-serif, -apple-system, "Emojis Additional", "Emojis Reset",
    BlinkMacSystemFont, "SF Pro Text", "SF Pro Icons", "Helvetica Neue",
    "Luxi Sans", "DejaVu Sans", "PingFang SC", "Segoe UI", "Microsoft Yahei",
    "Hiragino Sans GB", sans-serif, "Segoe UI Emoji", "Noto Color Emoji",
    "Segoe UI Symbol", "Android Emoji", "EmojiSymbols";
    --b3-font-family-code: SF Mono, "JetBrains Mono", JetBrainsMono-Regular,
    Menlo, mononoki, Consolas, "Liberation Mono", Courier,
    "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji",
    "Segoe UI Symbol", "Android Emoji", "EmojiSymbols",
    var(--b3-font-family), monospace;
    text-underline-position: under;
    text-decoration-skip-ink: all;
    text-spacing-trim: trim-start;
    text-autospace: normal;
    font-variant-ligatures: normal;
}
.neo-mode-light body {
    -webkit-font-smoothing: auto;
}
.neo-mode-dark body {
    -webkit-font-smoothing: antialiased;
}
table,
.av__scroll,
.av__cell[data-dtype="number"] {
  font-variant-numeric: tabular-nums;
}
@for $i from 1 through 6 {
    .b3-typography, .protyle-wysiwyg {
        h#{$i}, .h#{$i} {
            word-break: auto-phrase;
        }
    }
    @if $i == 1 {
        .b3-typography, .protyle-wysiwyg {
            h1, .h1 {
            padding: 0 4px;
            margin-bottom: calc(0.1em + 4px);
            }
        }
    }
    @if $i < 6 {
        @each $container in ".b3-typography", ".protyle-wysiwyg" {
            @for $j from 1 through $i {
                #{$container} h#{$j} + h#{($i + 1)} {
                    margin-top: 0;
                }
                #{$container} .h#{$j} + .h#{($i + 1)} {
                    margin-top: 0;
                }
            }
        }
    }
}
.protyle-title__input {
    word-break: auto-phrase;
    text-wrap-style: pretty;
    white-space: normal;
}
.b3-typography, .protyle-wysiwyg {
    kbd,
    span[data-type~="kbd"],
    code:not(.hljs),
    span[data-type~="code"],
    span[data-type~="tag"] {
        box-decoration-break: clone;
    }
}