@use "sass:string";
@use "../utils" as *;
.protyle-wysiwyg[data-readonly] .callout-icon {
    @include icon;
}
:root {
    $callout-subtypes: (
        "note":      260,
        "tip":       140,
        "important": 285,
        "warning":   90,
        "caution":   30,
    );
    @each $name, $hue in $callout-subtypes {
        --b3-callout-#{$name}: oklch(from var(--b3-theme-accent) l max(c, 0.2) #{$hue});
    }
}
.b3-typography .callout,
.protyle-wysiwyg .callout {
    background-color: oklch(from currentColor l c h / 0.05);
    outline: 0.5px solid oklch(from currentColor l c h / 0.08);
    outline-offset: -0.5px;
    padding: 16px 16px 10px 16px;
    margin: 0.4em 0;
    @include superellipse(10px);
    .callout-title {
        transition: var(--b3-transition);
    }
    &::before {
        display: none;
    }
    $callout-subtypes: "NOTE", "TIP", "IMPORTANT", "WARNING", "CAUTION";
    @each $name in $callout-subtypes {
        &[data-subtype="#{$name}"] {
            $var: --b3-callout-#{string.to-lower-case($name)};
            color: var(#{$var});
            --neo-kbd-color: var(#{$var});
            --neo-inline-code-color: var(#{$var});
            --neo-tag-color: var(#{$var});
            --neo-inline-memo-color: var(#{$var});
        }
    }
}