@use "../utils" as *;
.protyle-wysiwyg[data-readonly] .callout-icon {
    @include icon;
}
.b3-typography .callout,
.protyle-wysiwyg .callout {
    background-color: oklch(from currentColor l c h / 0.05);
    outline: 0.5px solid oklch(from currentColor l c h / 0.08);
    outline-offset: -1px;
    padding: 16px 16px 10px 16px;
    margin: 0.4em 0;
    @include superellipse(10px);
    .callout-title {
        transition: var(--b3-transition);
    }
    &::before {
        display: none;
    }
    &[data-subtype="NOTE"] {
        --b3-callout-note: oklch(from var(--b3-theme-accent) l max(c, 0.2) 260);
        color: var(--b3-callout-note);
        --neo-kbd-color: var(--b3-callout-note);
        --neo-inline-code-color: var(--b3-callout-note);
        --neo-tag-color: var(--b3-callout-note);
        --neo-inline-memo-color: var(--b3-callout-note);
    }
    &[data-subtype="TIP"] {
        --b3-callout-tip: oklch(from var(--b3-theme-accent) l max(c, 0.2) 140);
        color: var(--b3-callout-tip);
        --neo-kbd-color: var(--b3-callout-tip);
        --neo-inline-code-color: var(--b3-callout-tip);
        --neo-tag-color: var(--b3-callout-tip);
        --neo-inline-memo-color: var(--b3-callout-tip);
    }
    &[data-subtype="IMPORTANT"] {
        --b3-callout-important: oklch(from var(--b3-theme-accent) l max(c, 0.2) 285);
        color: var(--b3-callout-important);
        --neo-kbd-color: var(--b3-callout-important);
        --neo-inline-code-color: var(--b3-callout-important);
        --neo-tag-color: var(--b3-callout-important);
        --neo-inline-memo-color: var(--b3-callout-important);
    }
    &[data-subtype="WARNING"] {
        --b3-callout-warning: oklch(from var(--b3-theme-accent) l max(c, 0.2) 90);
        color: var(--b3-callout-warning);
        --neo-kbd-color: var(--b3-callout-warning);
        --neo-inline-code-color: var(--b3-callout-warning);
        --neo-tag-color: var(--b3-callout-warning);
        --neo-inline-memo-color: var(--b3-callout-warning);
    }
    &[data-subtype="CAUTION"] {
        --b3-callout-caution: oklch(from var(--b3-theme-accent) l max(c, 0.2) 30);
        color: var(--b3-callout-caution);
        --neo-kbd-color: var(--b3-callout-caution);
        --neo-inline-code-color: var(--b3-callout-caution);
        --neo-tag-color: var(--b3-callout-caution);
        --neo-inline-memo-color: var(--b3-callout-caution);
    }
}