.protyle-wysiwyg [data-node-id] .img {
    &:hover {
        .protyle-action__drag {
            opacity: 0.5;
        }
    }
    .protyle-action__drag {
        background: var(--b3-theme-on-surface);
        box-shadow: none;
        transition: 0.15s var(--neo-ease-out-3);
        display: inline-block;
        opacity: 0;
        &:hover {
            opacity: 1;
            background: var(--b3-theme-on-background);
            box-shadow: none;
            scale: 1.2;
        }
    }
}
.protyle-wysiwyg [data-node-id].iframe {
    &:hover {
        .protyle-action__drag {
            opacity: 0.5;
        }
    }
    .protyle-action__drag {
        height: 20px;
        width: 20px;
        background-color: var(--b3-theme-on-surface);
        mask-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIzNDEuMzMzMzMzIDM0MS4zMzMzMzMgNDI2LjY2NjY2NyA0MjYuNjY2NjY3IiBmaWxsPSJjdXJyZW50Q29sb3IiIHdpZHRoPSI4My4zMzMzMzMiIGhlaWdodD0iODMuMzMzMzMzIiBjbGFzcz0iaWNvbiIgcC1pZD0iMzk5OTUiIHQ9IjE3Nzk1NDMyMzg2ODAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgPHBhdGggZD0iTTY4Mi42NjY3IDU1NC42NjY3bDAtMjEzLjMzMzQgODUuMzMzMyAwdjIxMy4zMzM0QTIxMy4zMzMzIDIxMy4zMzMzIDAgMCAxIDU1NC42NjY3IDc2OEgzNDEuMzMzM2wwLTg1LjMzMzMgMjEzLjMzMzQgMGExMjggMTI4IDAgMCAwIDEyOC0xMjh6IiBwLWlkPSIzOTk5NiIgLz4KPC9zdmc+");
        mask-size: cover;
        mask-repeat: no-repeat;
        box-shadow: none;
        border-radius: 0;
        right: -8px;
        bottom: -8.5px;
        display: inline-block;
        opacity: 0;
        transition: 0.15s var(--neo-ease-out-3);
        &:hover {
            opacity: 1;
            background-color: var(--b3-theme-on-background);
            box-shadow: none;
            scale: 1.2;
        }
        &::after {
            visibility: hidden;
        }
    }
}