@use "../utils" as *;
.b3-typography mark,
.b3-typography span[data-type~=mark],
.protyle-wysiwyg mark,
.protyle-wysiwyg span[data-type~=mark] {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 -0.5em 0 0 inset oklch(from var(--b3-protyle-inline-mark-background) l c h / 0.5), 0 .1em 0 0 oklch(from var(--b3-protyle-inline-mark-background) l c h / 0.5);
    color: inherit;
}