@use "../utils" as *;
@mixin neo-link-common {
    color: inherit;
    transition: var(--b3-transition);
    text-decoration: none;
    background-image: linear-gradient(var(--b3-theme-accent), var(--b3-theme-accent));
    background-size: 100% 1px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    padding-bottom: 2px;
    &:hover {
        border-bottom: unset;
        color: var(--b3-theme-accent);
        text-decoration: none;
    }
}
.protyle-wysiwyg [data-node-id] span[data-type~=a] {
    @include neo-link-common;
}
a {
    --b3-theme-primary: var(--b3-theme-accent);
}