@use "../utils" as *;
@mixin neo-link-common {
    color: inherit;
    transition: var(--b3-transition);
    text-decoration: none;
    background-image: linear-gradient(90deg, var(--b3-theme-accent) 0%, var(--b3-theme-accent) 40%, oklch(from var(--b3-theme-accent) l c calc(h + 10)) 50%, oklch(from var(--b3-theme-accent) l c calc(h - 10)) 60%, var(--b3-theme-accent) 100%);
    background-size: 300% 1px;
    background-position: 0% 100%;
    background-repeat: repeat-x;
    padding-bottom: 2px;
    will-change: transform;
    animation: neo-link-flow 1s linear infinite;
    animation-play-state: paused;
    &:hover {
        color: var(--b3-theme-accent);
        text-decoration: none;
        border: none;
        animation-play-state: running;
    }
}
.protyle-wysiwyg [data-node-id] span[data-type~=a] {
    @include neo-link-common;
}
a {
    --b3-theme-primary: var(--b3-theme-accent);
}
@keyframes neo-link-flow {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: -100% 100%;
    }
}