@use "../utils" as *;
.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]:not(.av__celltext),
.protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref],
.protyle-wysiwyg [data-node-id] span[data-type=virtual-block-ref] {
    --_ref-underline-color: var(--b3-theme-accent);
    color: inherit;
    opacity: 1;
    transition: var(--b3-transition);
    background-image: repeating-linear-gradient(90deg, var(--_ref-underline-color) 0px, var(--_ref-underline-color) 3px, transparent 3px, transparent 6px);
    background-size: 8px 1px;
    background-position: 0 100%;
    background-repeat: repeat-x;
    padding-bottom: 2px;
    border: unset;
    &:hover {
        color: var(--_ref-underline-color);
    }
    &[data-subtype="s"] { // 静态锚文本
        --_ref-underline-color: oklch(from var(--b3-theme-accent) l c calc(h + 180))
    }
}
.protyle-wysiwyg [data-node-id] span[data-type=virtual-block-ref] {
    --_ref-underline-color: var(--b3-theme-on-background);
}