@use "../utils" as *;
$table-border-color: oklch(from currentColor l c h / 0.15);
.b3-typography table,
.protyle-wysiwyg table {
    --b3-table-even-background: oklch(from currentColor l c h / 0.05);
    outline: 1px solid $table-border-color !important; // 覆盖.protyle-wysiwyg [data-node-id] [spellcheck]:focus { outline: none; }
    outline-offset: -1px;
    padding: 1px;
    overflow: hidden;
    @include superellipse(10px);
    caption {
        border-bottom: 1px solid $table-border-color;
        &[style*="caption-side: bottom"] {
            border-bottom: unset;
            border-top: 1px solid $table-border-color;
        }
    }
    td,
    th {
        border: none;
    }
    thead th,
    thead td {
        background-color: var(--b3-table-even-background);
    }
    th {
        border-bottom: 1px solid $table-border-color;
        &:not(:last-child) {
            border-inline-end: 1px solid $table-border-color;
        }
    }
    td {
        border-bottom: 1px solid $table-border-color;
        &:not(:last-child) {
            border-inline-end: 1px solid $table-border-color;
        }
    }
    tr:last-child {
        td {
            border-bottom: none;
        }
    }
}
.protyle-table-control__add,
.protyle-table-control__handle {
    background-color: transparent;
    box-shadow: unset;
    border: unset;
    color: var(--b3-theme-on-surface);
    transition: var(--b3-transition);
    &:hover {
        background-color: transparent;
        color: var(--b3-theme-accent);
    }
    svg {
        transition: var(--b3-transition);
        animation: neo-table-control 0.5s var(--neo-ease-spring-3);
    }
}
.protyle-table-control__handle--cell {
    box-shadow: var(--neo-main-shadow);
    border-radius: 50%;
    background-color: var(--b3-theme-background);
    @include frostedglass($blur: s, $color: transparent, $alpha: 0.6);
    &:hover {
        color: var(--b3-theme-on-background);
    }
    svg {
        animation: none;
    }
}
@keyframes neo-table-control {
    from {
        transform: scale(0.15);
        opacity: 0;
    }
    to {
        transform: scale(1);
    }
}
.protyle-table-control__selection {
    border: unset;
    outline: 1px solid oklch(from var(--b3-theme-accent) l c calc(h + 90) / 0.3);
    outline-offset: -1px;
    background-color: oklch(from var(--b3-theme-accent) l c calc(h + 90) / 0.12);
}
.protyle-table-control__drop {
    background-color: oklch(from var(--b3-theme-accent) l c calc(h + 90));
}
.protyle-table-control__color {
    border: unset;
    outline: 0.5px solid oklch(from currentColor l c h / 0.18);
    outline-offset: -0.5px;
}