@use "../utils" as *;
.toolbar__item {
    @include icon;
}
#barWorkspace {
    .toolbar__text {
        font-size: 14px;
    }
    .toolbar__svg {
        display: none;
    }
    &:hover {
        color: var(--b3-theme-on-background);
    }
    .body--toolbar-hide & {
        line-height: 20px;
        height: unset;
    }
}
// windows
#closeWindow {
    &:hover {
        svg {
            color: var(--b3-theme-error);
        }
    }
}