@use "../utils" as *;
.toolbar__item {
    @include icon;
}
#barWorkspace {
    .toolbar__text {
        font-size: 14px;
    }
    .toolbar__svg {
        display: none;
    }
    &:hover {
        color: var(--b3-theme-on-background);
    }
    .body--toolbar-hide & {
        line-height: 20px;
        height: unset;
    }
}
// windows
.toolbar__item--win {
    padding: 9px;
    body.body--toolbar-hide & {
        padding: 13.25px 9px;
    }
}
.toolbar__item--close {
    padding: 9px;
    padding-right: 14px;
    &:hover {
        svg {
            color: var(--b3-theme-error);
        }
    }
    body.body--toolbar-hide & {
        padding: 13.25px 9px;
        padding-right: 14px;
    }
}
#windowControls {
    z-index: 5 !important;
}
body.body--win32 .fullscreen > .protyle-breadcrumb,
body.body--win32 .fullscreen > .block__icons {
    padding-right: 8px;
}