@use "../utils" as *;
body {
    background-color: var(--b3-theme-surface);
    background-image: unset;
    &.body--window,
    &.neo-mobile {
        background-color: var(--b3-theme-background);
    }
    &:not(.body--window):not(.neo-mobile) {
        & > .fn__flex-1 {
            margin-top: calc(var(--_layout-gap) / -2);
            margin-bottom: calc(var(--_layout-gap) / 2);
            min-height: 0.1px;
        }
    }
}
// neo+提示
html[data-frontend]:not(.neo-enabled) {
    body::after {
        content: "Note: Neo+ is not installed or enabled, so the theme will not display correctly.";
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        pointer-events: none;
        font-size: 16px;
        z-index: 3;
        @include superellipse-use(16px);
        padding: 16px 24px;
        line-height: 1.625;
        color: var(--b3-theme-warning);
        background-color: oklch(from var(--b3-menu-background) l c h / 0.8);
        box-shadow: var(--neo-main-shadow);
        backdrop-filter: blur(3px) saturate(1.5) brightness(1.05);
    }
    &[data-theme-mode="dark"] {
        body::after {
            backdrop-filter: blur(3px) saturate(1.5) brightness(0.9);
        }
    }
}
html[data-frontend][lang="zh-CN"]:not(.neo-enabled) body::after {
    content: "注意：当前未安装或未启用Neo+插件，Neo主题无法正常显示";
}