@use "../utils" as *;
body:not(.body--window) {
    .layout__center {
        border-radius: unset;
        .neo-haswnd {
            padding: calc(var(--_layout-gap) / 2);
            & > [data-type="wnd"] {
                @include superellipse(10px);
                box-shadow: var(--neo-layout-shadow-blur);
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    inset: 0;
                    border-radius: inherit;
                    corner-shape: inherit;
                    background-color: transparent;
                    box-shadow: var(--neo-layout-shadow-inset);
                    pointer-events: none;
                    z-index: 10;
                }
            }
        }
    }
}
.body--toolbar-hide:not(.body--window) {
    .layout__center {
        .neo-haswnd {
            padding: unset;
            & > [data-type="wnd"] {
                padding: calc(var(--_layout-gap) / 2);
                min-height: 0.1px;
                corner-shape: unset;
                border-radius: unset;
                box-shadow: unset;
                &::before {
                    display: none;
                }
                & > .layout-tab-container {
                    @include superellipse(10px);
                    box-shadow: var(--neo-layout-shadow-blur);
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0;
                        border-radius: inherit;
                        corner-shape: inherit;
                        background-color: transparent;
                        box-shadow: var(--neo-layout-shadow-inset);
                        pointer-events: none;
                        z-index: 10;
                    }
                }
                .layout-tab-bar {
                    background-color: transparent;
                }
            }
        }
    }
}