@use "../utils" as *;
body:not(.body--window) {
    .layout__center {
        border-radius: unset;
        .neo-haswnd {
            padding: calc(var(--_layout-gap) / 2);
            & > [data-type="wnd"] {
                @include superellipse(8px);
                box-shadow: var(--neo-main-shadow-light);
            }
        }
    }
}
.body--toolbar-hide:not(.body--window) {
    .layout__center {
        .neo-haswnd {
            padding: unset;
            & > [data-type="wnd"] {
                padding: calc(var(--_layout-gap) / 2);
                min-height: 0.1px;
                corner-shape: unset;
                border-radius: unset;
                box-shadow: unset;
                & > .layout-tab-container {
                    @include superellipse(8px);
                    box-shadow: var(--neo-main-shadow-light);
                }
                .layout-tab-bar {
                    background-color: transparent;
                }
            }
        }
    }
}