@use "../utils" as *;
#dockLeft {
    margin-right: calc(var(--_layout-gap) / -2);
}
#dockRight {
    margin-left: calc(var(--_layout-gap) / -2);
}
#dockLeft, 
#dockRight {
    & > .dock__items:first-child {
        .dock__item:first-child {
            margin-top: calc(var(--_layout-gap) / 2);
        }
    }
    & > .dock__item--space + .dock__items {
        .dock__item:last-child {
            margin-bottom: calc(var(--_layout-gap) / 2);
        }
    }
}