@use "../utils" as *;
#dockLeft {
    margin-right: calc(var(--_layout-gap) / -2);
}
#dockRight {
    margin-left: calc(var(--_layout-gap) / -2);
}
#dockLeft, 
#dockRight {
    & > .dock__items:first-child {
        .dock__item:first-child {
            margin-top: 10px;
        }
    }
    & > .dock__item--space + .dock__items {
        .dock__item:last-child {
            margin-bottom: 10px;
        }
    }
    body.body--toolbar-hide & {
        margin-top: 0;
        padding-top: 42px;
        height: 100%;
    }
}