@use "../utils" as *;
.layout__dockl,
.layout__dockr,
.layout__dockb {
    border-radius: unset;
    background-color: unset;
    .neo-haswnd {
        padding: calc(var(--_layout-gap) / 2);
        min-height: 0;
        min-width: 0;
        & > [data-type="wnd"] {
            @include superellipse(10px);
            background-color: var(--b3-theme-background);
            box-shadow: var(--neo-layout-shadow-blur);
            position: relative;
            &::before {
                content: "";
                position: absolute;
                inset: 0;
                border-radius: inherit;
                corner-shape: inherit;
                background-color: transparent;
                box-shadow: var(--neo-layout-shadow-inset);
                pointer-events: none;
                z-index: 10;
            }
        }
    }
}
// 停靠栏收起时，下侧栏需要左右边距
#dockLeft.fn__none {
    & + #layouts {
        & > .layout__resize:not(.fn__none) + .layout__dockb {
            margin: 0 var(--_layout-gap);
            .neo-ide & {
                margin: 0;
            }
        }
    }
}