#toolbar {
    app-region: drag;
    .toolbar__item {
        app-region: no-drag;
    }
}
.body--toolbar-hide,
.body--window {
    #drag {
        app-region: drag;
    }
    .layout__center [data-type="wnd"] > .fn__flex:first-child {
        & > .layout-tab-bar:not(.layout-tab-bar--readonly) {
            app-region: drag;
            .item {
                app-region: no-drag;
            }
        }
        & > .layout-tab-bar--readonly {
            app-region: drag;
            .block__icon {
                app-region: no-drag;
            }
        }
    }
    .protyle-breadcrumb__bar,
    .protyle-breadcrumb__space,
    .protyle-breadcrumb__space ~ button {
        app-region: no-drag;        
    }
}