@use "../utils" as *;
body {
    background-color: var(--b3-theme-surface);
    background-image: unset;
    &:not(.body--toolbar-hide):not(.body--window) {
        & > .fn__flex-1 {
            padding-top: calc(var(--_layout-gap) / 2);
        }
        .toolbar {
            margin-bottom: calc(var(--_layout-gap) / -2);
        }
    }
}