@use "../utils" as *;
.dock__item {
    @include icon;
    transition-property: box-shadow, background-color;
    @include superellipse-use(8px);
}
.dock__item--active,
.dock__item--activefocus {
    box-shadow: var(--neo-main-shadow) !important;
    background-color: oklch(from var(--b3-theme-background) l c h / 0.7) !important;
    &:hover {
        box-shadow: var(--neo-main-shadow) !important;
        background-color: oklch(from var(--b3-theme-background) l c h / 0.7) !important;
    }
}
.dock__item--active {
    animation: neo-dock-active 0.3s var(--neo-ease-out-3);
}
#dockMoveItem {
    background-color: transparent !important; // 覆盖内联
    box-shadow: var(--neo-main-shadow);
    animation: neo-dock-move 0.45s var(--neo-ease-spring-3);
}
@keyframes neo-dock-active {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.06);
    }
    100% {
        transform: scale(1);
    } 
}
@keyframes neo-dock-move {
    0% {
        opacity: 0;
        transform: scale(0.6);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    } 
}
.dock__split::after {
    background-color: var(--b3-border-color-trans);
    width: 24px;
    left: 50%;
    transform: translateX(-50%);
}
/* 导致顶栏页签位置无法更新
$dock-transition: 0.45s var(--neo-ease-spring-3);
#dockLeft,
#dockRight {
    transition: display $dock-transition;
    transition-behavior: allow-discrete;
    width: 42px;
}
#dockLeft {
    &:not(.fn__none) {
        animation: neo-dockLeft-expand $dock-transition;
    }
    &.fn__none {
        animation: neo-dockLeft-collapse $dock-transition;
    }
}
#dockRight {
    &:not(.fn__none) {
        animation: neo-dockRight-expand $dock-transition;
    }
    &.fn__none {
        animation: neo-dockLeft-collapse $dock-transition;
    }
}
@keyframes neo-dockLeft-expand {
    from {
        width: 0px;
        margin-right: var(--_layout-gap);
    }
    to {
        width: 42px;
        margin-right: calc(var(--_layout-gap) / -2);
    }
}
@keyframes neo-dockLeft-collapse {
    from {
        width: 42px;
        margin-right: calc(var(--_layout-gap) * -1.5);
    }
    to {
        width: 0px;
        margin-right: 0;
    }
}
@keyframes neo-dockRight-expand {
    from {
        width: 0px;
        margin-left: var(--_layout-gap);
    }
    to {
        width: 42px;
        margin-left: calc(var(--_layout-gap) / -2);
    }
}
@keyframes neo-dockRight-collapse {
    from {
        width: 42px;
        margin-left: calc(var(--_layout-gap) * -1.5);
    }
    to {
        width: 0px;
        margin-left: 0;
    }
}*/