// 块标
.protyle-gutters button,
.protyle-title:hover .protyle-title__icon svg {
    animation: neo-gutters-entrance 0.5s;
    animation-delay: calc((sibling-count() - sibling-index()) * 0.05s);
    transform-origin: right bottom;
    animation-fill-mode: both
}
@keyframes neo-gutters-entrance {
    0% {
        transform: scale(0.85) translateX(5px);
        opacity: 0;
    }
    30% {
        transform: scale(1.03) translateX(0px);
        opacity: 1;
    }
    60% {
        transform: scale(0.98);
    }
    100% {
        transform: scale(1);
    }
}
// protyle-toolbar
.protyle-toolbar {
    animation: neo-toolbar-entrance 0.5s;
    transform-origin: center;
}
@keyframes neo-toolbar-entrance {
    0% {
        transform: scale(0.975);
    }
    30% {
        transform: scale(1.01);
    }
    60% {
        transform: scale(0.995);
    }
    100% {
        transform: scale(1);
    }
}
// slash
.protyle-hint.hint--menu {
    animation: neo-slash-entrance 0.5s;
    transform-origin: center;
}
@keyframes neo-slash-entrance {
    0% {
        transform: scale(0.985);
    }
    30% {
        transform: scale(1.002);
    }
    60% {
        transform: scale(0.998);
    }
    100% {
        transform: scale(1);
    }
}
// dialog
.b3-dialog__container {
    transform: translateY(-3%);
    transition: transform 0.3s cubic-bezier(0.25, 0, 0.25, 1.55);
}
// dock
#dockLeft,
#dockRight {
    transition: width 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19), display 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    transition-behavior: allow-discrete;
    width: 42px;
    @starting-style {
        width: 0px;
    }
    &.fn__none {
        width: 0px;
    }
}
.layout__dockl,
.layout__dockr {
    transition: width 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    will-change: width;
    & > .fn__flex {
        transition: width 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19), display 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19);
        transition-behavior: allow-discrete;
        & > .fn__none {
            width: 0;
        }
    }
}
.layout__dockb {
    transition: height 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19);
    will-change: height;
    & > .fn__flex {
        transition: height 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19), display 0.3s cubic-bezier(0.55, 0.06, 0.68, 0.19);
        transition-behavior: allow-discrete;
        & > .fn__none {
            height: 0;
        }
    }
}
// tooltip
.tooltip {
    animation: neo-tooltip-entrance 0.5s;
    transform-origin: top center;
    animation-delay: 0.3s;
    animation-fill-mode: both
}
@keyframes neo-tooltip-entrance {
    0% {
        transform: scale(0.95);
        opacity: 0;
    }
    30% {
        transform: scale(1.015);
        opacity: 1;
    }
    60% {
        transform: scale(0.995);
    }
    100% {
        transform: scale(1);
    }
}