// 块标
.protyle-gutters button,
.protyle-title:hover .protyle-title__icon svg {
    transition: color var(--b3-transition);
    animation: neo-gutters-entrance 0.25s cubic-bezier(0.25, 0.89, 0.32, 1.22);
    animation-delay: calc((sibling-count() - sibling-index()) * 0.03s);
    transform-origin: right bottom;
    animation-fill-mode: both;
    & svg {
        transition: color var(--b3-transition);
    }
}
.protyle-gutters button:hover svg,
.protyle-title:hover .protyle-title__icon:hover svg {
    color: var(--b3-theme-accent);
}
@keyframes neo-gutters-entrance {
    from {
        transform: scale(0.75) translateX(10px);
        opacity: 0;
    }
    to {
        transform: scale(1);
    }
}
// protyle-toolbar
.protyle-toolbar {
    animation: neo-toolbar-entrance 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.8);
    transform-origin: center;
    will-change: transform;
}
@keyframes neo-toolbar-entrance {
    from {
        transform: scale(0.97);
    }
    to {
        transform: scale(1);
    }
}
// s-menu
.protyle-hint,
.protyle-util {
    animation: neo-smenu-entrance 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.8);
    transform-origin: top left;
    animation-fill-mode: both;
}
@keyframes neo-smenu-entrance {
    from {
        transform: scale(0.985);
    }
    to {
        transform: scale(1);
    }
}
// dialog
.b3-dialog__container {
    transform: translateY(-3%);
    transition: transform 0.25s cubic-bezier(0.25, 0, 0.25, 1.55);
}

.layout__dockl,
.layout__dockr {
    transition: width 0.15s cubic-bezier(0.7, 0, 0.3, 1);
    & > .fn__flex {
        transition: display 0.15s;
        transition-behavior: allow-discrete;
    }
}
.layout__dockb {
    transition: height 0.15s cubic-bezier(0.7, 0, 0.3, 1);
    & > .fn__flex {
        transition: display 0.15s;
        transition-behavior: allow-discrete;
    }
}
// tooltip
.tooltip {
    animation: neo-tooltip-entrance 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.5);
    transform-origin: center;
    animation-delay: 0.3s;
    animation-fill-mode: both;
}
@keyframes neo-tooltip-entrance {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
    }
}

// task
.protyle-wysiwyg .li[data-subtype=t] > .protyle-action--task {
    &::before {
        animation: neo-task-entrance 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.48);
        transform-origin: center;
    }
}
.protyle-wysiwyg .li[data-subtype=t].protyle-task--done > .protyle-action--task {
    &::before {
        animation: neo-task-done-entrance 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.48);
    }
}
@keyframes neo-task-entrance {
    from {
        transform: scale(1.2) translateY(-50%);
    }
    to {
        transform: scale(1) translateY(-50%);
    }
}
@keyframes neo-task-done-entrance {
    from {
        transform: scale(1.2) translateY(-50%);
    }
    to {
        transform: scale(1) translateY(-50%);
    }
}
// block ref
.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]:not(.av__celltext),
.protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref],
.protyle-wysiwyg [data-node-id] span[data-type=virtual-block-ref] {
    animation: neo-blockref-flow 1s linear infinite;
    animation-play-state: paused;
    &:hover {
        animation-play-state: running;
    }
}
@keyframes neo-blockref-flow {
    0% {
        background-position: 0 100%;
}
    100% {
        background-position: 8px 100%;
    }
}
// link
.protyle-wysiwyg [data-node-id] span[data-type~=a] {
    animation: neo-link-flow 1s linear infinite;
    animation-play-state: paused;
    &:hover {
        animation-play-state: running;
    }
}
@keyframes neo-link-flow {
    0% {
        background-position: 0% 100%;
    }
    100% {
        background-position: -100% 100%;
    }
}
// title
@property --_title-angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
.protyle[data-loading="finished"] .protyle-title__input {
    padding-left: 0.8em;
    &::before {
        content: "";
        pointer-events: none;
        position: absolute;
        left: 0.3em;
        top: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
        box-sizing: border-box;
        width: 0.3em;
        height: calc(100% - 0.5em);
        background-color: currentColor;
        border-radius: 0;
        transition: 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.28);
        transition-property: width, height, background-color, border-radius, border-color, border-width;
        animation: neo-angle 2.5s linear infinite;
        animation-play-state: paused;
    }
}
/*.layout__wnd--active .protyle[data-loading="finished"] .protyle-title__input {
    &::before {
        width: 0.8em;
        height: 0.8em;
        background-color: transparent;
        border: 0.15em solid currentColor;
        border-top-color: transparent;
        border-radius: 50%;
        transform: translate(-50%, -50%) rotate(var(--_title-angle));
        animation-play-state: running;
    }
}
@keyframes neo-angle {
    from { 
        --_title-angle: 0deg;
    }
    to { 
        --_title-angle: 360deg;
    }
}*/


// filetree icon
.file-tree:hover .block__icons .block__icon,
.file-tree:not(.fullscreen):hover .block__icons .fn__space {
    animation: neo-filetree-icon-entrance 0.25s cubic-bezier(0.18, 0.89, 0.32, 1.8);
    animation-delay: calc((sibling-index() - 1) * 0.02s);
    transform-origin: left;
    animation-fill-mode: both;
}
.file-tree:not(:hover) .block__icons .block__icon,
.file-tree:not(.fullscreen):not(:hover) .block__icons .fn__space {
    opacity: 1;
    animation: neo-filetree-icon-exit 0.35s cubic-bezier(0.18, 0.89, 0.32, 1.8);
    animation-delay: calc((sibling-count() - sibling-index()) * 0.02s);
    transform-origin: right;
    animation-fill-mode: both;
}
@keyframes neo-filetree-icon-entrance {
    from {
        transform: scale(0.75);
        opacity: 1;
    }
    to {
        transform: scale(1);
    }
}
@keyframes neo-filetree-icon-exit {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0.75);
        opacity: 0;
    }
}
// parallax scrolling
$header-height: 40vh;
$header-parallax: 5vh;
.protyle[data-loading="finished"] .protyle-content {
    scroll-timeline-name: --protyle-conten-scroll;
    scroll-timeline-axis: block;
    .protyle-background__img {
        height: $header-height;
        transform-origin: center;
        animation: header-parallax ease-out;
        animation-timeline: --protyle-conten-scroll;
        animation-range: 0 $header-height;
        img,video {
            height: $header-height;
        }
    }
}
@keyframes header-parallax {
    to {
        transform: scale(1.375) translateY($header-parallax);
        filter: blur(1px);
        opacity: 0;
    }
}

// block fold
.protyle-wysiwyg [data-node-id][fold="1"] {
    animation: neo-block-fold 0.25s cubic-bezier(0.25, 0.89, 0.32, 1.18) !important;
    animation-timeline: unset !important; // 覆盖卷轴效果
    transform-origin: top;
}
@keyframes neo-block-fold {
    0% {
        transform: scaleY(1.65);
    }
    100% {
        transform: scaleY(1);
    }
}
 // lock
 .protyle-breadcrumb .block__icon[data-subtype="lock"] svg {
    animation: neo-lock 0.35s cubic-bezier(0.18, 0.89, 0.32, 1.38);
}
.protyle-breadcrumb .block__icon[data-subtype="unlock"] svg {
    animation: neo-unlock 0.35s cubic-bezier(0.18, 0.89, 0.32, 1.38);
}
@keyframes neo-lock {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-16deg);
    }
    65% {
        transform: rotate(6deg);
    }
    80% {
        transform: rotate(-6deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes neo-unlock {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-16deg);
    }
    65% {
        transform: rotate(6deg);
    }
    80% {
        transform: rotate(-6deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
// protyle-entrance
.protyle:not(.fn__none) .protyle-content {
    animation: neo-protyle-entrance 0.3s cubic-bezier(0.39, 0.58, 0.57, 1);
}
@keyframes neo-protyle-entrance {
    0% {
        opacity: 0;
        transform: translateY(-1%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
// tab focus
.layout-tab-bar .item--focus {
    animation: neo-tab-focus 0.2s cubic-bezier(0.39, 0.58, 0.57, 1);
}
@keyframes neo-tab-focus {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.96);
    }
    100% {
        transform: scale(1);
    } 
}
// dock active
.dock__item--active {
    animation: neo-dock-active 0.2s cubic-bezier(0.39, 0.58, 0.57, 1);
}
@keyframes neo-dock-active {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.06);
    }
    100% {
        transform: scale(1);
    } 
}