
.search__layout {
    border-top: 1px solid var(--b3-border-color-trans);
}
.search__layout:not(.search__layout--row) .search__list {
    border-top: none;
}
#searchList.neo-cardsearchlist,
#searchUnRefList.neo-cardsearchlist,
#searchAssetList.neo-cardsearchlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: max-content;
    gap: 6px;
    padding: 6px;
    @include overflow-indicator-fadein-mask($fadeout-size-l, "top bottom");
    & [data-type=search-item] {
        flex-wrap: wrap;
        justify-content: flex-end;
        margin: 0;
        padding: 6px;
        outline: 1px solid var(--b3-border-color-trans);
        @include superellipse(8px);
        &.b3-list-item--focus {
            outline-color: oklch(from var(--b3-list-active) l c h / 0.25);
            background-color: var(--b3-list-active);
        }
        & .b3-list-item__graphic {
            align-self: flex-start;
            transform: translateY(18%);
            padding: 0;
            margin-right: 6px;
        }
        & .b3-list-item__text {
            align-self: flex-start;
            -webkit-line-clamp: 3;
            flex-basis: calc(100% - 44px);
            flex-shrink: 0;
            line-height: 1.5;
        }
        & .b3-list-item__meta {
            align-self: flex-end;
            max-width: calc(100% - 22px);
            padding: 6px 0 0 0;
            line-height: 1;
        }
        & .ft__on-surface {
            align-self: flex-start;
            transform: translateY(-10%);
        }
    }
}