@use "../tools" as *;
@mixin frostedglass-before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    border-radius: inherit;
    corner-shape: inherit;
    pointer-events: none;
}
// status
.status {
    @include frostedglass($blur: s, $color: background);
}
// menu
.b3-menu,
.b3-menu__submenu {
    background-color: transparent;
    &::before {
        @include frostedglass-before;
        @include frostedglass($blur: l, $color: menu);
        box-shadow: var(--b3-menu-shadow);
    }
}
.b3-menu__item {
    background-color: transparent;
}
// protyle-toolbar
.protyle-toolbar {
    background-color: transparent;
    &::before {
        @include frostedglass-before;
        @include frostedglass($blur: s, $color: menu);
        box-shadow: var(--b3-menu-shadow);
    }
}
// protyle-hint
.protyle-hint {
    background-color: transparent;
    &::before {
        @include frostedglass-before;
        @include frostedglass($blur: l, $color: menu);
        box-shadow: var(--b3-menu-shadow);
    }
}
// protyle-util
.protyle-util {
    background-color: transparent;
    &::before {
        @include frostedglass-before;
        @include frostedglass($blur: l, $color: menu);
        box-shadow: var(--b3-menu-shadow);
    }
}
// fullscreen
.fullscreen {
    @include frostedglass($blur: l, $color: background);
}
// dialog
.b3-dialog__scrim {
    background-color: transparent;
}
.b3-dialog__container {
    background-color: transparent;
    &::before {
        @include frostedglass-before;
        @include frostedglass($blur: l, $color: background);
        box-shadow: var(--b3-dialog-shadow);
    }
    .b3-dialog__content {
        background-color: transparent !important;
    }
    .config__tab-wrap {
        background-color: transparent;
        .config__tab-container {
            background-color: transparent;
        }
    }
    .config__panel {
        background-color: transparent;
    }
    .config__side,
    .config__panel .b3-tab-bar {
        background-color: oklch(from var(--b3-theme-surface) l c h / 0.7);
    }
    .search__header {
        background: transparent;
        .b3-text-field {
            background-color: transparent;
        }
    }
    .search__preview:not(.fullscreen) {
        background-color: transparent;
    }
    .search__list,
    #searchList,
    #searchUnRefList {
        background-color: transparent;
    }
    .protyle:not(.fullscreen) {
        background-color: transparent;
        .protyle-breadcrumb {
            background-color: transparent;
        }
        // 修复部分窗口毛玻璃失效
        .protyle-wysiwyg [data-node-id] {
            z-index: 1; 
        }
        .protyle-background {
            z-index: 1;
        }
    }
    .fullscreen {
        @include frostedglass($blur: l, $color: background);
        .protyle-breadcrumb {
            background-color: transparent;
        }
        // 修复部分窗口毛玻璃失效
        .protyle-wysiwyg [data-node-id] {
            z-index: 1; 
        }
    }
    .layout-tab-bar + .fn__flex-1 {
        background-color: transparent;
    }
}
// tooltip
.tooltip {
    @include frostedglass($blur: m, $color: menu);
}
.b3-tooltips::after {
    @include frostedglass($blur: m, $color: menu);
}
.b3-snackbar__content {
    @include frostedglass($blur: m, $color: menu);
}
// .protyle-icons
.protyle-icons {
    @include frostedglass($blur: s, $color: menu);
}
// pdf
#dialogContainer > .dialog {
    background-color: transparent;
    &::before {
        @include frostedglass-before;
        @include frostedglass($blur: l, $color: background);
        box-shadow: var(--b3-dialog-shadow);
    }
}
// popover
.block__popover.block__popover--open {
    background-color: transparent;
    &::before {
        @include frostedglass-before;
        @include frostedglass($blur: l, $color: background);
        box-shadow: var(--b3-dialog-shadow);
    }
    .block__icons {
        background-color: transparent;
    }
    .block__content {
        .protyle:not(.fullscreen) {
            background-color: transparent;
            .protyle-breadcrumb {
                background-color: transparent;
            }
            // 修复部分窗口毛玻璃失效
            .protyle-wysiwyg [data-node-id] {
                z-index: 1; 
            }
        }
    }
}
// 闪卡
[data-key="dialog-opencard"],
[data-key="dialog-viewcards"] {
    .b3-dialog {
        .b3-dialog__scrim {
            background-color: transparent !important;
        }
        .card__main {
            background-color: transparent;
        }
        .card__empty {
            background-color: transparent;
        }
    }
}
// 最近的文档
[data-key="dialog-recentdocs"] {
    .b3-dialog {
        .b3-list--background:first-child {
            background-color: transparent;
        }
    }
}
// 数据历史
[data-key="dialog-history"], [data-key="dialog-historycompare"] {
    .b3-dialog {
        .history__panel>.b3-list,
        .history__panel>.history__diff,
        .history__text {
            background-color: transparent;
        }
    }
}
// settings
.config__tab-container .config-group {
    background-color: oklch(from var(--b3-theme-surface) l c h / 0.7);
    & > .b3-label {
        border: unset;
    }
}
// bazaar
#configBazaarReadme {
    @include frostedglass($blur: l, $color: background);
    .item__main  {
        background-color: transparent;
    }
    .item__side {
        background-color: oklch(from var(--b3-theme-surface) l c h / 0.7);
    }
}
[data-name=bazaar] {
    .config-bazaar__panel {
        .config-bazaar__title {
            background-color: transparent;
            backdrop-filter: none;
            input,
            select,
            button {
                backdrop-filter: blur(20px);
            }
            .counter--bg {
                background-color: transparent;
            }
            .b3-form__icon-icon {
                z-index: 1;
            }
        }
    }
}
// account
.config-account {
    background-color: transparent;
    .config-account__center {
        background-color: transparent;
    }
    .config-account__info {
        background-color: transparent;
    }
}
// actions
.protyle-icons,
.av__gallery-actions,
.b3-typography .code-block:not(pre) .protyle-action .protyle-icon,
.protyle-wysiwyg .code-block:not(pre) .protyle-action .protyle-icon {
    @include frostedglass($blur: s, $color: transparent);
}
// float-dock
// float
.layout__dockl,
.layout__dockr,
.layout__dockb {
    &.layout--float {
        & > .fn__flex {
            [data-type="wnd"] {
                @include frostedglass($blur: l, $color: background);
            }
        }
    }
}