@use "../utils" as *;
@use "../dialog" as *;
#sidebarContainer { 
    background-color: var(--b3-theme-background);
}
#sidebarResizer {
    right: 0;
    &::after {
        background-color: var(--b3-border-color-trans);
        transition: var(--b3-transition);
    }
    &:hover {
        &::after {
            background-color: var(--_resize-hl);
        }
    }
}
.findbar {
    padding: 8px;
}
.pdf__outer {
    .toolbarButton {
        transition: var(--b3-transition);
        background-color: transparent !important;
        @include icon;
        &.toggled {
            color: var(--b3-theme-accent);
            svg {
                color: var(--b3-theme-accent);
            }
            &:hover {
                color: var(--b3-theme-accent);
                svg {
                    color: var(--b3-theme-accent);
                }
            }
        }
    }
}
#dialogContainer > .dialog {
    @include dialog-container-common;
    .separator {
        background-color: var(--b3-border-color-trans);
    }
    .row {
        display: flex;
    }
}
.neo-mode-light #outerContainer:not(.pdf__outer--dark) .textLayer,
.neo-mode-dark #outerContainer.pdf__outer--dark .textLayer {
    background-color: var(--b3-theme-background);
}
// pdf标记
.pdf__outer {
    --b3-pdf-background1: oklch(0.85 0.15 30);
    --b3-pdf-background2: oklch(0.85 0.15 50);
    --b3-pdf-background3: oklch(0.85 0.15 90);
    --b3-pdf-background4: oklch(0.85 0.15 150);
    --b3-pdf-background5: oklch(0.85 0.15 185);
    --b3-pdf-background6: oklch(0.85 0.15 250);
    --b3-pdf-background7: oklch(0.85 0.15 280);
    .pdf__outer--dark {
        --b3-pdf-background1: oklch(0.55 0.12 30);
        --b3-pdf-background2: oklch(0.55 0.12 50);
        --b3-pdf-background3: oklch(0.55 0.12 90);
        --b3-pdf-background4: oklch(0.55 0.12 150);
        --b3-pdf-background5: oklch(0.55 0.12 185);
        --b3-pdf-background6: oklch(0.55 0.12 250);
        --b3-pdf-background7: oklch(0.55 0.12 280);
    }
}
.pdf__rect > div:first-child,
.pdf__rect > div:last-child {
    border-radius: 0;
}
.pdf__rect-resize {
    height: 8px;
    width: 8px;
    background-color: var(--pdf-annotation-color);
    opacity: 0.5;
    transition: 0.6s var(--neo-ease-spring-3);
    border: none;
    mask-image: url(data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIzNDEuMzMzMzMzIDM0MS4zMzMzMzMgNDI2LjY2NjY2NyA0MjYuNjY2NjY3IiBmaWxsPSJjdXJyZW50Q29sb3IiIHdpZHRoPSI4My4zMzMzMzMiIGhlaWdodD0iODMuMzMzMzMzIiBjbGFzcz0iaWNvbiIgcC1pZD0iMzk5OTUiIHQ9IjE3Nzk1NDMyMzg2ODAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgPHBhdGggZD0iTTY4Mi42NjY3IDU1NC42NjY3bDAtMjEzLjMzMzQgODUuMzMzMyAwdjIxMy4zMzM0QTIxMy4zMzMzIDIxMy4zMzMzIDAgMCAxIDU1NC42NjY3IDc2OEgzNDEuMzMzM2wwLTg1LjMzMzMgMjEzLjMzMzQgMGExMjggMTI4IDAgMCAwIDEyOC0xMjh6IiBwLWlkPSIzOTk5NiIgLz4KPC9zdmc+);
    mask-size: cover;
    mask-repeat: no-repeat;
    border-radius: 0;
    &:hover {
        opacity: 1;
        scale: 1.2;
    }
    &--nw {
        transform: rotate(180deg);
        top: -4px;
        bottom: auto;
        left: -4px;
        right: auto;
    }
    &--ne {
        transform: rotate(-90deg);
        top: -4px;
        bottom: auto;
        left: auto;
        right: -4px;
    }
    &--se {
        top: auto;
        bottom: 0;
        left: auto;
        right: 0;
    }
    &--sw {
        transform: rotate(90deg);
        top: auto;
        bottom: -4px;
        left: -4px;
        right: auto;
    }
}
.pdf__resize {
    border-radius: 0;
    border: unset;
    outline: 1px solid oklch(from var(--b3-theme-secondary) l c h / 0.12);
    outline-offset: -1px;
    background-color: oklch(from var(--b3-theme-secondary) l c h / 0.12);
}
.pdf__rect > div {
    border: unset;
    outline: 2px solid var(--pdf-annotation-color);
    outline-offset: -2px;
}
.pdf__rect:not([data-type=border]) > div {
    outline: unset;
    background-color: oklch(from var(--pdf-annotation-color) l c h / 0.35);
}
// 搜索
.textLayer .highlight.selected {
    background-color: var(--b3-highlight-background);
}