@use "../utils" as *;
#sidebarContainer { 
    background-color: var(--b3-theme-background);
}
#sidebarResizer {
    right: 0;
    &::after {
        background-color: var(--b3-border-color-trans);
        transition: var(--b3-transition);
    }
    &:hover {
        &::after {
            background-color: var(--_resize-hl);
        }
    }
}
.findbar {
    padding: 8px;
}
.pdf__outer {
    .toolbarButton {
        transition: var(--b3-transition);
        background-color: transparent !important;
        @include icon;
        &.toggled {
            color: var(--b3-theme-accent);
            svg {
                color: var(--b3-theme-accent);
            }
            &:hover {
                color: var(--b3-theme-accent);
                svg {
                    color: var(--b3-theme-accent);
                }
            }
        }
    }
}
#dialogContainer > .dialog {
    border: unset;
    box-shadow: var(--b3-dialog-shadow);
    @include superellipse-use(14px);
    background-color: var(--b3-theme-background);
    .neo-visual-frostedglass & {
        background-color: transparent;
        box-shadow: var(--b3-dialog-shadow-blur);
    }
    &::before {
        @include frostedglass-before;
        @include frostedglass($blur: l, $color: background);
        box-shadow: var(--b3-dialog-shadow-inset);
    }
    .separator {
        background-color: var(--b3-border-color-trans);
    }
    .row {
        display: flex;
    }
}
.neo-mode-light #outerContainer:not(.pdf__outer--dark) .textLayer,
.neo-mode-dark #outerContainer.pdf__outer--dark .textLayer {
    background-color: var(--b3-theme-background);
}
// pdf标记
:root {
    --b3-pdf-background1: oklch(0.85 0.15 30);
    --b3-pdf-background2: oklch(0.85 0.15 50);
    --b3-pdf-background3: oklch(0.85 0.15 90);
    --b3-pdf-background4: oklch(0.85 0.15 150);
    --b3-pdf-background5: oklch(0.85 0.15 185);
    --b3-pdf-background6: oklch(0.85 0.15 250);
    --b3-pdf-background7: oklch(0.85 0.15 280);
    .pdf__outer--dark {
        --b3-pdf-background1: oklch(0.55 0.12 30);
        --b3-pdf-background2: oklch(0.55 0.12 50);
        --b3-pdf-background3: oklch(0.55 0.12 90);
        --b3-pdf-background4: oklch(0.55 0.12 150);
        --b3-pdf-background5: oklch(0.55 0.12 185);
        --b3-pdf-background6: oklch(0.55 0.12 250);
        --b3-pdf-background7: oklch(0.55 0.12 280);
    }
}
.pdf__rect > div:first-child,
.pdf__rect > div:last-child {
    border-radius: 0;
}
// 搜索
.textLayer .highlight.selected {
    background-color: var(--b3-highlight-background);
}