@use "../utils" as *;
@use "../component" as *;
.config-account__form {
    .b3-button {
        width: 100%;
    }
}
.config-account__center {
    background-color: transparent;
    &:not(.config-account__center--text) {
        @include superellipse(12px);
        box-shadow: var(--b3-menu-shadow);
        height: min(100% - 80px, 650px);
        max-width: min(100%, 400px);
        margin: auto 20px;
        .b3-chips .b3-chip {
            padding: 4px 12px;
            line-height: 16px;
            width: max-content;
            transition: var(--b3-transition);
            @include superellipse(7px);
            @include button-transparent-outline-no-hover;
        }
    }
    &.config-account__center--text {
        margin: auto 20px;
        #activationCode {
            @include button-transparent;  
        }
        .fn__hr--b {
            height: 16px;
            min-height: 16px;
        }
        .b3-chip {
            padding: 4px 12px;
            line-height: 16px;
            width: max-content;
            transition: var(--b3-transition);
            @include superellipse(7px);
            @include button-transparent-outline-no-hover;
            &.b3-chip--hover {
                @include button-transparent-outline;    
            }
        }
        .b3-button {
            @include button-transparent-outline;
            &.b3-button--big {
                font-size: unset;
                min-width: unset;
            }
        }
    }
}