@use "../utils" as *;
.b3-cover__cards {
    .b3-card {
        @include superellipse(12px);
        img {
            transition: 0.3s;
        }
        &:hover {
            opacity: 1;
            img {
                scale: 1.5;
                transition: 0.3s;
            }
        }
    }
}