@use "../utils" as *;
.b3-dialog__scrim {
    background-color: transparent;
    backdrop-filter: none;
    transition: backdrop-filter 0.25s, opacity 0.25s;
    opacity: 1;
    .b3-dialog--open & {
        backdrop-filter: brightness(0.75);
        .neo-mode-dark & {
            backdrop-filter: brightness(0.5);
        }
        .neo-visual-frostedglass-global & {
            z-index: -2;
            backdrop-filter: blur(2px);
        }
    }
    .neo-visual-frostedglass-global & {
        transition: backdrop-filter 0.25s, opacity 0.25s;
    }
    .b3-dialog--open[data-key="dialog-emojis"] & {
        opacity: 0 !important;
    }
}
@mixin dialog-transparent {
    .b3-dialog__content,
    .search__header,
    .search__header .b3-text-field,
    .search__preview:not(.fullscreen),
    .search__list,
    .protyle:not(.fullscreen),
    .protyle-breadcrumb,
    .layout-tab-bar + .fn__flex-1,
    .card__main:not(.fullscreen),
    .card__empty,
    .config-entry-visibility__browser,
    .config-entry-visibility__column {
        @content;
    }
}
@mixin dialog-container-common {
    border: unset;
    box-shadow: var(--b3-dialog-shadow);
    background-color: var(--b3-theme-background);
    @include superellipse-use(18px);
    .neo-visual-frostedglass-global & {
        background-color: transparent;
        box-shadow: var(--b3-dialog-shadow-blur);
    }
    &::before {
        @include frostedglass-before($scope: global);
        @include frostedglass-dialog($scope: global);
        box-shadow: var(--b3-dialog-shadow-inset);
    }
}
.b3-dialog__container {
    @include dialog-container-common;
    transform: translateY(min(-3%, -20px));
    opacity: 0;
    transition: transform 0.3s var(--neo-ease-spring-1), opacity 0.25s;
    .b3-dialog--open & {
        transform: none;
        opacity: 1;
    }
    @include dialog-transparent {
        background-color: transparent !important;
    }
}
.b3-dialog__loading {
    @include dialog-container-common;
}
.b3-dialog__close {
    display: none;
}
.b3-dialog__header {
    text-align: center;
    border: unset;
    & > .fn__flex {
        justify-content: center;
    }
}
.b3-dialog__action {
    border: unset;
}