@use "../utils" as *;
.b3-dialog__scrim {
    background-color: transparent;
    backdrop-filter: blur(2px);
    z-index: -2;
}
@mixin dialog-transparent {
    .search__header,
    .search__header .b3-text-field,
    .search__preview:not(.fullscreen),
    .search__list,
    .protyle:not(.fullscreen),
    .protyle-breadcrumb,
    .layout-tab-bar + .fn__flex-1,
    .card__main,
    .card__empty {
        @content;
    }
}
.b3-dialog__container {
    border: unset;
    box-shadow: var(--b3-dialog-shadow-blur);
    @include superellipse(16px);
    background-color: transparent;
    transform: translateY(-3%);
    transition: transform 0.2s var(--neo-ease-elastic-out-2);
    &::before {
        @include frostedglass-before;
        @include frostedglass($blur: l, $color: background);
        box-shadow: var(--b3-dialog-shadow-inset);
    }
    .b3-dialog__content {
        background-color: transparent !important; // 覆盖内联
    }
    @include dialog-transparent {
        background-color: transparent;
    }
}
.b3-dialog__loading {
    border: unset;
    box-shadow: var(--b3-dialog-shadow-blur);
    @include superellipse(16px);
    background-color: transparent;
    &::before {
        @include frostedglass-before;
        @include frostedglass($blur: l, $color: background);
        box-shadow: var(--b3-dialog-shadow-inset);
    }
}
.b3-dialog__close {
    display: none;
}
.b3-dialog__header {
    text-align: center;
    border: unset;
}
.b3-dialog__action {
    border: unset;
}