@use "../utils" as *;
.history__resize {
    transition: var(--b3-transition);
    box-shadow: 1px 0 0 0 var(--b3-border-color-trans) inset;
    &:hover {
        box-shadow: 1px 0 0 0 var(--_resize-hl) inset;
    }
}
.b3-dialog--open[data-key="dialog-history"],
.b3-dialog--open[data-key="dialog-historycompare"] {
    .b3-dialog {
        .history__panel>.b3-list,
        .history__panel>.history__diff,
        .history__text {
            background-color: transparent;
        }
    }
}
.history__date {
    color: var(--b3-theme-on-surface);
    background-color: transparent;
    font-weight: bold;
}
.history__diff-filters {
    border-bottom: unset;
}
.history__action {
    border-bottom: unset;    
}
.history__compare-panel {
    background-color: transparent;    
}
.history__compare-label {
    border-bottom: unset;   
}
// diff
.history__diff-filter-row--kind {
    padding-left: unset;
}
.history__compare-filter--modified>span {
    background-color: var(--b3-theme-accent);
}
.history__diff--focus {
    animation: neo-diff-focus 0.55s ease-in-out 3;
}
@keyframes neo-diff-focus {
    0%   { opacity: 1; }
    50%  { opacity: 1; }
    80%  { opacity: 0; }
    100% { opacity: 1; }
}
.history__compare-panel [data-history-diff~=modified] {
    border-radius: 11px !important;
    box-shadow: none;
    background-color: oklch(from var(--b3-theme-accent) l c h / 0.2) !important;
    animation: neo-diff-focus 0.7s ease-in-out 3;
    &.protyle-title__input {
        border-radius: 0 !important;
    }
}
.history__compare-panel:last-child [data-history-diff~=only],
.history__compare-panel:last-child [data-history-diff=inline] {
    background-color: oklch(from var(--b3-theme-success) l c h / 0.2) !important;
}
.history__compare-panel:first-child [data-history-diff~="only"],
.history__compare-panel:first-child [data-history-diff="inline"] {
    background-color: oklch(from var(--b3-theme-error) l c h / 0.2) !important;
}