@use "../utils" as *;
.history__resize {
    transition: var(--b3-transition);
    box-shadow: 1px 0 0 0 var(--b3-border-color-trans) inset;
    &:hover {
        box-shadow: 1px 0 0 0 var(--_resize-hl) inset;
    }
}
.b3-dialog--open[data-key="dialog-history"],
.b3-dialog--open[data-key="dialog-historycompare"] {
    .b3-dialog {
        .history__panel>.b3-list,
        .history__panel>.history__diff,
        .history__text {
            background-color: transparent;
        }
    }
}
.history__date {
    color: var(--b3-theme-on-surface);
    background-color: transparent;
    font-weight: bold;
}