@use "../utils" as *;
@use "dialog" as *;
.block__popover {
    transform: translateY(min(-2%, -10px));
    transition: transform 0.45s var(--neo-ease-spring-1);;
    &.block__popover--open {
        @include dialog-container-common;
        transform: none;
        pointer-events: none;
        animation: neo-popover-enable-click 0.01s 0.35s forwards; // 防止抽搐
        .block__icons {
            background-color: transparent;
        }
        .block__content {
            .protyle:not(.fullscreen) {
                background-color: transparent;
                .protyle-breadcrumb {
                    background-color: transparent;
                }
            }
        }
    }
}
.block__edit {
    border-bottom: unset;
}
.block__edit-resize {
    &::after {
        height: 1px;
        background-color: var(--b3-border-color-trans);
        transition: var(--b3-transition);
    }
    &:hover {
        &::after {
            background-color: var(--_resize-hl);
        }
    }
}
@keyframes neo-popover-enable-click {
    to {
        pointer-events: auto;
    }
}