@use "../utils" as *;
.block__popover {
    transform: translateY(min(-5%, -30px));
    transition: transform 0.3s var(--neo-ease-out-3);
    &.block__popover--open {
        border: unset;
        box-shadow: var(--b3-dialog-shadow);
        @include superellipse-use(12px);
        background-color: var(--b3-theme-background);
        transform: none;
        pointer-events: none;
        animation: neo-popover-enable-click 0.01s 0.35s forwards; // 防止抽搐
        .neo-visual-frostedglass-global & {
            background-color: transparent;
            box-shadow: var(--b3-dialog-shadow-blur);
        }
        &::before {
            @include frostedglass-before($scope: global);
            @include frostedglass-dialog($scope: global);
            box-shadow: var(--b3-dialog-shadow-inset);
        }
        .block__icons {
            background-color: transparent;
        }
        .block__content {
            .protyle:not(.fullscreen) {
                background-color: transparent;
                .protyle-breadcrumb {
                    background-color: transparent;
                }
            }
        }
    }
}
@keyframes neo-popover-enable-click {
    to {
        pointer-events: auto;
    }
}