.sy__backlink {
    .protyle-wysiwyg {
        font-size: 0.98em;
        .protyle-breadcrumb__bar {
            font-size: 0.96em;
        }
        .protyle-breadcrumb__item svg {
            width: 13.5px;
            height: 13.5px;
        }
    }
    .backlinkList > .b3-list > .backlinkList__item,
    .backlinkMList > .b3-list > .backlinkList__item {
        margin-bottom: 4px;
        &:last-child {
            margin-bottom: 0;
        }
        & > .b3-list-item {
            position: relative; // 禁用吸顶
            z-index: auto;
            background-color: var(--b3-list-hover);
            &.b3-list-item--focus {
                background-color: var(--b3-list-active);
                background-image: unset;
            }
        }
    }
}
.sy__backlink--bottom {
    margin-top: 2em;
    & > .block__icons {
        border-top: unset;
        .block__icon,
        .fn__space {
            opacity: 1 !important;
            animation: none !important;
            display: flex !important;
        }
    }
    .block__logo {
        color: var(--b3-theme-on-surface);
        font-size: 1.05em;
        transition: var(--b3-transition);
        &:hover {
            color: var(--b3-theme-on-background);
        }
    }
}