.sy__backlink {
    .protyle-wysiwyg {
        font-size: 0.98em;
        .protyle-breadcrumb__bar {
            font-size: 0.96em;
        }
        .protyle-breadcrumb__item svg {
            width: 13.5px;
            height: 13.5px;
        }
    }
    .b3-list--background .b3-list-item {
        background-color: var(--b3-list-hover);
    }
}