@use "../utils" as *;
.b3-list-item__action,
.b3-list-item .counter,
.b3-list-item__toggle {
    @include icon;
}
.dockPanel {
    & > .block__icons ~ .fn__flex-1 {
        // 导致闪退 @include overflow-indicator-fadein-mask($fadeout-size-l, "top bottom");
    }
    .block__logo {
        color: var(--b3-theme-on-surface);
    }
}
.layout__dockl,
.layout__dockr {
    transition: width 0.1s var(--neo-ease-in-out-1);
    & > .fn__flex {
        transition: display 0.1s;
        transition-behavior: allow-discrete;
    }
}
.layout__dockb {
    transition: height 0.1s var(--neo-ease-in-out-1);
    & > .fn__flex {
        transition: display 0.1s;
        transition-behavior: allow-discrete;
    }
}
.file-tree:not(.fullscreen) > .block__icons,
.file-tree:not(.fullscreen) > .fn__flex-column > .block__icons {
    .block__icon,
    .fn__space {
        display: flex !important;
        filter: blur(6px);
        transform: scale(1.2);
        opacity: 0;
        transition: 1.2s var(--neo-ease-spring-2) !important;
    }
}
.file-tree:not(.fullscreen):hover > .block__icons,
.file-tree:not(.fullscreen):hover > .fn__flex-column > .block__icons {
    .block__icon,
    .fn__space {
        filter: none;
        transform: none;
        opacity: 1;
        transition: 0.3s var(--neo-ease-out-3) !important;
    }
}