@use "../utils" as *;
:root {
    --_indentline-color: var(--b3-border-color-trans);
}
.file-tree {
    & > .fn__flex-1 {
        & > ul {
            & > .b3-list-item {
                margin-inline-start: 6px;
                margin-inline-end: 6px;
                .b3-list-item__toggle {
                    padding-left: 2px !important;
                }
            }
            & ul {
                background: linear-gradient(var(--_indentline-color), var(--_indentline-color)) calc(var(--neo-indent-offset) - var(--_indentline-ul-trans, 18px)) 0 / 1px no-repeat;
                &:last-child {
                    background: unset;
                }
                & > li {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        left: calc(var(--neo-indent-offset) - var(--_indentline-li-trans, 8px));
                        bottom: -1px;
                        width: 1px;
                        height: 29.5px;
                        background-color: var(--_indentline-color);
                    }
                    &:first-child {
                        &::before {
                            height: 34.5px;
                        }
                    }
                    &:last-of-type {
                        &::before {
                            bottom: 20.5px;
                            height: 8.5px;
                        }
                        &:first-child {
                            &::before {
                                height: 13.5px;
                            }
                        }
                    }
                }
                .b3-list-item__toggle {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        border-bottom-left-radius: 6px;
                        border-left: 1px solid var(--_indentline-color);
                        border-bottom: 1px solid var(--_indentline-color);
                        left: unset;
                        bottom: 10.5px;
                        height: 6px;
                        width: 8px;
                        margin-inline-start: var(--_indentline-dot-trans, -12px);
                        background-color: transparent;
                        visibility: visible;
                    }
                    &.fn__hidden {
                        &::before {
                            border-bottom-left-radius: 12px;
                            width: 16px;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: 8px;
                            transform: translateY(-50%);
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            background-color: var(--_indentline-color);
                            visibility: visible;
                        }
                    }
                }
            }
            $selector: "& > ul";
            @for $i from 1 through 16 {
              #{$selector} {
                --neo-indent-offset: #{$i * 18}px;
              }
              $selector: "#{$selector} > ul";
            }
        }
    }
}