@use "../utils" as *;
.file-tree {
    & > .fn__flex-1 {
        & > ul {
            & > .b3-list-item {
                margin-inline-start: 6px;
                margin-inline-end: 6px;
                .b3-list-item__toggle {
                    padding-left: 2px !important;
                }
            }
            & ul {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    left: var(--neo-indent-offset);
                    top: -6px;
                    width: 1px;
                    height: calc(100% - 15.5px);
                    background-color: var(--b3-border-color-trans);
                }
                .b3-list-item__toggle {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        border-bottom-left-radius: 6px;
                        border-left: 1px solid var(--b3-border-color-trans);
                        border-bottom: 1px solid var(--b3-border-color-trans);
                        left: unset;
                        top: 3.5px;
                        height: 7px;
                        width: 8px;
                        margin-inline-start: var(--neo-dock-indent-fork-left, -12px);
                        background-color: transparent;
                        visibility: visible;
                    }
                    &.fn__hidden {
                        &::before {
                            border-bottom-left-radius: 12px;
                            width: 16px;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: 8px;
                            transform: translateY(-50%);
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            background-color: var(--b3-border-color-trans);
                            visibility: visible;
                        }
                    }
                }
            }
            $selector: "& > ul";
            @for $i from 1 through 16 {
              #{$selector} {
                --neo-indent-offset: #{$i * 18}px;
              }
              $selector: "#{$selector} > ul";
            }
        }
    }
}