.protyle-wysiwyg[data-readonly="true"] .protyle-action__drag,
.protyle-wysiwyg[data-readonly="true"] .protyle-block-resize {
    display: none !important;
}
@mixin protyle-action__drag-common($background-color: #ffffff) {
    mix-blend-mode: difference;
    background-color: $background-color;
    box-shadow: none;
    transition: 0.3s, scale 0.6s var(--neo-ease-spring-3);
    &:hover {
        opacity: 1;
        mix-blend-mode: difference;
        background-color: $background-color;
        box-shadow: none;
        scale: 1.2;
    }
}
.protyle-wysiwyg [data-node-id] .img,
.protyle-wysiwyg[data-readonly] [data-node-id].iframe {
    &:hover {
        .protyle-action__drag:not(.protyle-block-resize) {
            opacity: 0.5;
        }
    }
    .protyle-action__drag:not(.protyle-block-resize) {
        @include protyle-action__drag-common;
        display: inline-block;
        opacity: 0;
    }
}
.protyle-block-resize {
    @include protyle-action__drag-common(transparent);
    color: #ffffff;
    &[data-resize-axis="width"] {
        transform-origin: 5.5px 0;
    }
    &[data-resize-axis="height"] {
        transform-origin: 0 5.5px;
    }
    &:hover,
    &:focus-visible,
    &.touch-resize-active {
        color: #ffffff;
    }
}
.protyle-wysiwyg[data-readonly="false"] [data-node-id].iframe:hover,
.mindmap-view:hover {
    .protyle-block-resize {
        opacity: 0.5;
        &:hover,
        &:focus-visible,
        &.touch-resize-active {
            opacity: 1;
        }
    }
}