.protyle-wysiwyg [data-node-id].hr {
    color: var(--b3-theme-on-background);
    & > div::after {
        background-color: oklch(from currentColor l c h / 0.18);
        height: 1.5px;
    }
}
.b3-typography hr {
    color: var(--b3-theme-on-background);
    background-color: oklch(from currentColor l c h / 0.18);
    border-width: 1.5px;
    margin: 8px 0;
}
hr {
    border: none;
    border-top: 1.5px solid;
    border-color: oklch(from var(--b3-theme-on-background) l c h / 0.18);
}