@use "../utils" as *;
.protyle-wysiwyg [data-node-id] .img--select {
    filter: unset;
    img {
        transition: var(--b3-transition);
        box-shadow: var(--neo-main-shadow);
    }
}
.viewer-backdrop {
    background-color: transparent;
    animation: neo-img-in 0.25s forwards;
    .neo-mode-dark & {
        animation-name: neo-img-in-dark;
    }
}
@keyframes neo-img-in {
    0% {
        backdrop-filter: none;
        opacity: 0;
    }
    100% {
        backdrop-filter: brightness(0.75);
        opacity: 1;
    }
}
@keyframes neo-img-in-dark {
    0% {
        backdrop-filter: none;
        opacity: 0;
    }
    100% {
        backdrop-filter: brightness(0.5);
        opacity: 1;
    }
}
.viewer-footer {
    background-color: oklch(from var(--b3-theme-background) l c h / 0.8)
}
.viewer-navbar {
    background-color: transparent;
    .viewer-list {
        transition: var(--b3-transition);
    }
}
.viewer-title {
    color: var(--b3-theme-on-surface);
    &:hover {
        color: var(--b3-theme-on-surface);
    }
}
.viewer-toolbar > ul > li {
    background-color: transparent;
    transition: var(--b3-transition);
    svg {
        color: var(--b3-theme-on-surface) !important;
        transition: var(--b3-transition);
    }
    &:hover {
        svg {
            color: var(--b3-theme-on-background) !important;
        }
    }
}
.viewer-tooltip {
    background-color: transparent;
    color: var(--b3-theme-on-surface);
    &:hover {
        color: var(--b3-theme-on-surface);
    }
}