@use "../utils" as *;
:root {
    --neo-kbd-color: inherit;
}
.search__tip kbd,
.fn__kbd,
.config-keymap__key,
.protyle-wysiwyg span[data-type~=kbd],
.mindmap-view__content kbd,
.mindmap-view__content span[data-type~=kbd],
.b3-typography kbd,
.b3-typography span[data-type~=kbd],
.b3-list-item[data-treetype=outline] > .b3-list-item__text span[data-type~=kbd] {
    color: var(--neo-kbd-color);
    padding: 3px 6px;
    border: 0.5px solid;
    border-color: oklch(from currentColor l c h / 0.25);
    line-height: 1.2;
    background-color: oklch(from currentColor l c h / 0.1);
    background-image: linear-gradient(
        to bottom,
        rgba(255, 255, 255, 0.267),
        oklch(from currentColor l c h / 0.1)
    );
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 -0.5px 0 rgba(255, 255, 255, 0.56);
    text-shadow: 0 1px rgba(255, 255, 255, 0.67);
    border-radius: 32px;
    vertical-align: 1px;
    font-size: 0.75em;
    .neo-mode-dark & {
        border-color: oklch(from currentColor l c h / 0.1);
        background-image: linear-gradient(
            to bottom,
            oklch(from currentColor l c h / 0.1),
            rgba(0, 0, 0, 0.2)
        );
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -0.5px 0 rgba(255, 255, 255, 0.2);
        text-shadow: 0 -1px rgba(0, 0, 0, 0.73);
    }
}
.fn__kbd {
    line-height: 1;
}
// 快捷键
.config-keymap__chip {
    min-width: 0;
    padding: 3px 14px;
    transition: var(--b3-transition);
    .config-keymap__remove {
        opacity: 0;
        margin-right: -16px;
        margin-left: 0;
        padding-right: 0;
        pointer-events: none;
        transition: inherit;
        &:hover {
            background-color: transparent;
            color: var(--b3-theme-error);
        }
    }
    &:hover,
    &:focus-within {
        padding: 3px 6px;
        .config-keymap__remove {
            opacity: 1;
            margin-right: 0;
            pointer-events: auto;
        }
    }
}
