@mixin color-reverse($css-var, $property: color) {
    #{$property}: oklch(from var(#{$css-var}) clamp(0, calc((0.72 - l) * 10000), 1) 0 0);
}
[data-theme-mode="light"] {
    // 主题色
    --b3-base-color: #6a85e3;
    --b3-base-saturation: unset;
    --b3-theme-primary: oklch(from var(--b3-base-color) clamp(0.55, l, 0.78) c h);
    --b3-theme-accent: oklch(from var(--b3-theme-primary) l max(c, 0.2) h);
    --b3-theme-background: oklch(from var(--b3-theme-primary) 0.99 calc(0.005 * var(--b3-base-saturation, 1)) h);
    --b3-theme-surface: oklch(from var(--b3-theme-primary) 0.96 calc(0.015 * var(--b3-base-saturation, 1)) h);
    --b3-theme-on-background: oklch(from var(--b3-theme-primary) 0.35 calc(0.045 * var(--b3-base-saturation, 1)) h);
    --b3-theme-on-surface: oklch(from var(--b3-theme-on-background) l c h / 0.65);
    // inherit
    --b3-theme-primary-light: oklch(from var(--b3-theme-primary) l c h / 0.56);
    --b3-theme-primary-lighter: oklch(from var(--b3-theme-primary) l c h / 0.38);
    --b3-theme-primary-lightest: oklch(from var(--b3-theme-primary) l c h / 0.2);
    --b3-theme-background-light: oklch(from var(--b3-theme-background) l c h / 0.1);
    --b3-theme-surface-light: oklch(from var(--b3-theme-surface) l c h / 0.5);
    --b3-theme-surface-lighter: oklch(from var(--b3-theme-surface) 0.9 c h);
    --b3-theme-on-primary: oklch(from var(--b3-theme-primary) 0.99 0.01 h);
    --b3-menu-background: oklch(from var(--b3-theme-background) 0.965 c h);
    --b3-theme-on-surface-light: oklch(from var(--b3-theme-on-surface) 0.65 c h / 0.68);
    --b3-border-color: oklch(from var(--b3-theme-on-background) l c h / 0.3);
    --b3-border-color-trans: oklch(from var(--b3-theme-on-background) l c h / 0.15);
    --b3-toolbar-color: var(--b3-theme-on-surface);
    --b3-list-hover: oklch(from var(--b3-theme-on-background) l c h / 0.08);
    --b3-list-active: oklch(from var(--b3-theme-accent) l 0.1 h / 0.2);
    --b3-av-background-hl: color-mix(in srgb, var(--b3-theme-primary) 20%, var(--b3-theme-background));
    --b3-av-hover: oklch(from var(--b3-theme-on-background) 0.93 0.02 h);
    --b3-scroll-color: oklch(from var(--b3-theme-on-background) l c h / 0.09);
    --b3-scroll-color-hover: oklch(from var(--b3-theme-on-background) l c h / 0.18);
    --b3-protyle-code-background: oklch(from var(--b3-theme-surface) 0.9 c h / 0.5);
    --b3-empty-color: oklch(from var(--b3-theme-on-background) l c h / 0.45);
    // other
    --b3-theme-error: oklch(from var(--b3-base-color) max(l, 0.58) max(c, 0.2) 30);
    --b3-highlight-background: oklch(from var(--b3-base-color) clamp(0.68, l, 1) clamp(0.5, c, 1) h);
    --b3-highlight-current-background: oklch(from var(--b3-highlight-background) l c calc(h + 10));
    --b3-highlight-color: oklch(from var(--b3-highlight-background) clamp(0, calc((0.72 - l) * 10000), 1) 0 0);
}
[data-theme-mode="dark"] {
    // 主题色
    --b3-base-color: #636de1;
    --b3-base-saturation: unset;
    --b3-theme-primary: oklch(from var(--b3-base-color) clamp(0.55, l, 0.95) c h);
    --b3-theme-accent: oklch(from var(--b3-theme-primary) l max(c, 0.2) h);
    --b3-theme-background: oklch(from var(--b3-theme-primary) 0.25 calc(0.012 * var(--b3-base-saturation, 1)) h);
    --b3-theme-surface: oklch(from var(--b3-theme-primary) 0.2 calc(0.008 * var(--b3-base-saturation, 1)) h);
    --b3-theme-on-background: oklch(from var(--b3-theme-primary) 0.95 calc(0.008 * var(--b3-base-saturation, 1)) h);
    --b3-theme-on-surface: oklch(from var(--b3-theme-on-background) l c h / 0.65);
    // inherit
    --b3-theme-primary-light: oklch(from var(--b3-theme-primary) l c h / 0.56);
    --b3-theme-primary-lighter: oklch(from var(--b3-theme-primary) l c h / 0.38);
    --b3-theme-primary-lightest: oklch(from var(--b3-theme-primary) l c h / 0.2);
    --b3-theme-background-light: oklch(from var(--b3-theme-background) l c h / 0.1);
    --b3-theme-surface-light: oklch(from var(--b3-theme-surface) l c h / 0.5);
    --b3-theme-surface-lighter: var(--b3-border-color);
    --b3-theme-on-primary: oklch(from var(--b3-theme-primary) 0.99 0.01 h);
    --b3-menu-background: oklch(from var(--b3-theme-background) 0.25 c h);
    --b3-theme-on-surface-light: oklch(from var(--b3-theme-on-surface) 0.6 c h / 0.68);
    --b3-border-color: oklch(from var(--b3-theme-background) 0.34 0.01 h);
    --b3-border-color-trans: oklch(from var(--b3-theme-on-background) l c h / 0.15);
    --b3-toolbar-color: var(--b3-theme-on-surface);
    --b3-list-hover: oklch(from var(--b3-theme-on-background) l c h / 0.08);
    --b3-list-active: oklch(from var(--b3-theme-accent) l 0.1 h / 0.2);
    --b3-av-background-hl: color-mix(in srgb, var(--b3-theme-primary) 20%, var(--b3-theme-background));
    --b3-av-hover: oklch(from var(--b3-theme-on-background) 0.35 0.02 h);
    --b3-scroll-color: oklch(from var(--b3-theme-on-background) l c h / 0.09);
    --b3-scroll-color-hover: oklch(from var(--b3-theme-on-background) l c h / 0.18);
    --b3-protyle-code-background: oklch(from var(--b3-theme-surface) 0.4 c h / 0.6);
    --b3-empty-color: oklch(from var(--b3-theme-on-background) l c h / 0.45);
    // other
    --b3-theme-error: oklch(from var(--b3-base-color) max(l, 0.58) max(c, 0.2) 30);
    --b3-highlight-background: oklch(from var(--b3-base-color) clamp(0.66, l, 1) clamp(0.5, c, 1) h);
    --b3-highlight-current-background: oklch(from var(--b3-highlight-background) l c calc(h + 10));
    --b3-highlight-color: oklch(from var(--b3-highlight-background) clamp(0, calc((0.72 - l) * 10000), 1) 0 0);
}