@mixin color-reverse($css-var, $property: color) {
    #{$property}: oklch(from var(#{$css-var}) clamp(0, calc((0.72 - l) * 10000), 1) 0 0);
}
[data-theme-mode="light"] {
    --b3-theme-background: #4193fb;
    --b3-theme-accent: var(--b3-theme-primary);
    --b3-theme-background: #ffffff;
    --b3-theme-surface: #f3f3f3;
    --b3-menu-background: oklch(from var(--b3-theme-background) 0.965 c h);
    --b3-border-color: oklch(from var(--b3-theme-on-background) l c h / 0.3);
    --b3-border-color-trans: oklch(from var(--b3-theme-on-background) l c h / 0.15);
    // inherit
    --b3-toolbar-color: var(--b3-theme-on-surface);
}