@use "superellipse" as *;
@mixin icon-common {
    @include superellipse(6px);
    --b3-toolbar-hover: transparent;
    background-color: transparent;
    transition: var(--b3-transition);
    svg {
        transition: var(--b3-transition);
    }
    &:hover {
        background-color: transparent;
    }
}
@mixin icon {
    @include icon-common;
    color: var(--b3-theme-on-surface);
    svg {
        color: var(--b3-theme-on-surface);
    }
    &:hover {
        color: var(--b3-theme-on-background);
        svg {
            color: var(--b3-theme-on-background);
        }
    }
}
@mixin icon-accent {
    @include icon-common;
    color: var(--b3-theme-accent);
    svg {
        color: var(--b3-theme-accent);
    }
    &:hover {
        color: var(--b3-theme-accent);
        svg {
            color: var(--b3-theme-accent);
        }
    }
}