// reference: https://github.com/mustakshif/Asri
@use "sass:list";
$layout-border-radius: 8px;
$k: 1.4;
@mixin superellipse($r: ()) {
    $out-plus: ();
    $out-mul: ();
    @each $i in $r {
        $out-plus: list.append($out-plus, $i + 1px, space);
        $out-mul: list.append($out-mul, $i * $k, space);
    }
    border-radius: $out-plus;
//    superellipse尚不稳定
//    @supports (corner-shape: superellipse(1.4)) {
//        corner-shape: superellipse($k);
//        border-radius: $out-mul;
//    }
}