@use "../tools" as *;
// block 
.protyle-wysiwyg [data-node-id] {
    @include superellipse(8px);
}
// heading
.b3-typography,
.protyle-wysiwyg {
  @for $i from 1 through 6 {
    h#{$i},
    .h#{$i} {
        color: var(--b3-theme-accent);
        &[fold="1"] {
            outline: 1px solid var(--b3-border-color-trans);
            background-color: var(--b3-theme-surface);
            opacity: 0.5;
            &::before {
                opacity: 0;
            }
        }
    }
  }
}
// block ref
.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]:not(.av__celltext),
.protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref] {
    color: inherit;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-underline-offset: 4px;
    text-decoration-color: var(--b3-theme-accent);
    &:hover {
        color: var(--b3-theme-accent);
    }
}
// link
.protyle-wysiwyg [data-node-id] span[data-type~=a] {
    color: inherit;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-offset: 4px;
    text-decoration-color: var(--b3-theme-accent);
    &:hover {
        border: none;
        color: var(--b3-theme-accent);
    }
}
// inline-mark
.b3-typography mark,
.b3-typography span[data-type~=mark],
.protyle-wysiwyg mark,
.protyle-wysiwyg span[data-type~=mark] {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 -0.5em 0 0 inset color-mix(in srgb, #00ff25 50%, rgba(0, 0, 0, 0)), 0 .1em 0 0 color-mix(in srgb, #00ff25 35%, rgba(0, 0, 0, 0));
    color: inherit;
}
// kbd
.search__tip kbd,
.config-keymap__key,
.protyle-wysiwyg span[data-type~=kbd],
.b3-typography kbd,
.b3-typography span[data-type~=kbd] {
    border: 1px solid;
    border-color: color-mix(in srgb, currentColor 15%, rgba(0, 0, 0, 0));
    background-color: color-mix(in srgb, currentColor 10%, rgba(0, 0, 0, 0));
    box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 8px -2px, rgba(0, 0, 0, 0.04) 0px 2px 4px -2px;
    @include superellipse(6px);
}
// tag 
.protyle-wysiwyg [data-node-id] span[data-type~=tag] {
    @include superellipse(6px);
    background-color: oklch(from var(--b3-theme-accent) l c h / 0.2);
    color: var(--b3-theme-accent);
    padding: 2px 4px;
    border: none;
    font-size: 0.85em;
    &::before {
        content: "#";
        display: inline-block;
    }
    &:hover {
        background-color: oklch(from var(--b3-theme-accent) l c calc(h + 10) / 0.3);
        color: oklch(from var(--b3-theme-accent) l c calc(h + 10));
    }
}
// inline-code
.b3-typography span[data-type~=code],
.b3-typography code:not(.hljs),
.protyle-wysiwyg span[data-type~=code],
.protyle-wysiwyg code:not(.hljs) {
    background-color: color-mix(in srgb, currentColor 12%, rgba(0, 0, 0, 0));
    box-shadow: 0 0 0 1px color-mix(in srgb, currentColor 5%, rgba(0, 0, 0, 0)) inset;
    padding: 2px 4px;
    @include superellipse(6px);
}
// inline-memo
.b3-typography span[data-type~=inline-memo],
.protyle-wysiwyg span[data-type~=inline-memo] {
    color: oklch(from var(--b3-theme-accent) l c calc(h + 30));
    background-color: color-mix(in srgb, currentColor 12%, rgba(0, 0, 0, 0));
    border-bottom: 1.5px solid;
    transition: var(--b3-transition);
    &:hover {
        background-color: oklch(from var(--b3-theme-accent) l c calc(h + 30));
        color: var(--b3-theme-on-primary);
        border-color: oklch(from var(--b3-theme-accent) l c calc(h + 30));
    }
}
// embed
.protyle-wysiwyg [data-node-id].render-node[data-type=NodeBlockQueryEmbed] {
    border: unset;
    background-color: var(--b3-theme-surface);
    padding: 4px 12px;
}
// quote
.b3-typography blockquote,
.b3-typography .bq,
.protyle-wysiwyg blockquote,
.protyle-wysiwyg .bq {
    &::before {
        border-radius: 0;
    }
}
// code
.b3-typography .code-block:not(pre),
.protyle-wysiwyg .code-block:not(pre) {
    background-color: var(--b3-theme-surface);
    .protyle-action {
        padding: 4px 4px 4px 0;
    }
}