@use "../tools" as *;
// block 
.protyle-wysiwyg [data-node-id] {
    @include superellipse(8px);
    &::after {
        @include superellipse(8px);
    }
}
// heading
.b3-typography,
.protyle-wysiwyg {
    @for $i from 1 through 6 {
        h#{$i},
        .h#{$i} {
            @include superellipse(8px);
            margin-top: 0.8em;
            margin-bottom: 0.2em;
            color: var(--b3-theme-accent);
            &[fold="1"] {
                outline: 1px solid var(--b3-border-color-trans);
                background-color: oklch(from var(--b3-theme-surface) l c h / 0.7);
                opacity: 0.5;
                &::before {
                    opacity: 0;
                }
            }
        }
        & > h#{$i}:first-child,
        & > .h#{$i}:first-child {
            margin-top: 0;
        }
    }
}
// block ref
.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]:not(.av__celltext),
.protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref] {
    color: inherit;
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-underline-offset: 4px;
    text-decoration-color: var(--b3-theme-accent);
    &:hover {
        color: var(--b3-theme-accent);
    }
}
// link
.protyle-wysiwyg [data-node-id] span[data-type~=a] {
    color: inherit;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-underline-offset: 4px;
    text-decoration-color: var(--b3-theme-accent);
    &:hover {
        border: none;
        color: var(--b3-theme-accent);
    }
}
// inline-mark
.b3-typography mark,
.b3-typography span[data-type~=mark],
.protyle-wysiwyg mark,
.protyle-wysiwyg span[data-type~=mark] {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 -0.5em 0 0 inset color-mix(in srgb, #00ff25 50%, rgba(0, 0, 0, 0)), 0 .1em 0 0 color-mix(in srgb, #00ff25 35%, rgba(0, 0, 0, 0));
    color: inherit;
}
// kbd
.search__tip kbd,
.config-keymap__key,
.protyle-wysiwyg span[data-type~=kbd],
.b3-typography kbd,
.b3-typography span[data-type~=kbd] {
    color: unset;
    border: 1px solid;
    border-color: color-mix(in srgb, currentColor 12%, rgba(0, 0, 0, 0));
    background-color: color-mix(in srgb, currentColor 8%, rgba(0, 0, 0, 0));
    box-shadow: rgba(0, 0, 0, 0.04) 0px 2px 8px -2px, rgba(0, 0, 0, 0.04) 0px 2px 4px -2px;
    @include superellipse(6px);
    vertical-align: 1px;
}
// tag 
.protyle-wysiwyg [data-node-id] span[data-type~=tag] {
    @include superellipse(6px);
    background-color: oklch(from var(--b3-theme-accent) l c h / 0.1);
    color: var(--b3-theme-accent);
    border: 1px solid oklch(from var(--b3-theme-accent) l c h / 0.15);
    padding: 2px 4px;
    font-size: 0.85em;
    &::before {
        content: "#";
        display: inline-block;
    }
    &:hover {
        background-color: oklch(from var(--b3-theme-accent) l c calc(h + 10) / 0.1);
        color: oklch(from var(--b3-theme-accent) l c calc(h + 10));
        border-color: oklch(from var(--b3-theme-accent) l c calc(h + 10) / 0.15);
    }
}
// inline-code
.b3-typography span[data-type~=code],
.b3-typography code:not(.hljs),
.protyle-wysiwyg span[data-type~=code],
.protyle-wysiwyg code:not(.hljs) {
    color: unset;
    background-color: color-mix(in srgb, currentColor 8%, rgba(0, 0, 0, 0));
    padding: 2px 4px;
    @include superellipse(6px);
}
// inline-memo
.b3-typography span[data-type~=inline-memo],
.protyle-wysiwyg span[data-type~=inline-memo] {
    background-color: oklch(from var(--b3-theme-accent) l c h / 0.1);
    color: var(--b3-theme-accent);
    border-bottom: 1.5px solid;
    transition: var(--b3-transition);
    &:hover {
        background-color: oklch(from var(--b3-theme-accent) l c calc(h + 10) / 0.1);
        color: oklch(from var(--b3-theme-accent) l c calc(h + 10));
        border-color: oklch(from var(--b3-theme-accent) l c calc(h + 10));
    }
}
// embed
.protyle-wysiwyg [data-node-id].render-node[data-type=NodeBlockQueryEmbed] {
    border: unset;
    background-color: oklch(from var(--b3-theme-surface) l c h / 0.7);
    padding: 4px 12px;
}
// quote
.b3-typography blockquote,
.b3-typography .bq,
.protyle-wysiwyg blockquote,
.protyle-wysiwyg .bq {
    @include superellipse(8px);
    background-color: oklch(from var(--b3-theme-surface) l c h / 0.7);
    padding: 4px 12px;
    margin: 0.4em 0;
    &::before {
        display: none;
    }
}
// code
.b3-typography .code-block:not(pre),
.protyle-wysiwyg .code-block:not(pre) {
    @include superellipse(8px);
    background-color: oklch(from var(--b3-theme-surface) l c h / 0.7);
    .protyle-action {
        padding: 4px 4px 4px 0;
    }
}
// list
.protyle-wysiwyg [data-node-id] {
    .li {
        &::before {
            border-color: var(--b3-theme-on-background);
            transition: var(--b3-transition);
            opacity: 0.2;
        }
        &:hover {
            &::before {
                border-color: var(--b3-theme-on-background);
                opacity: 0.4;
            }
        }
        &[fold="1"] > .protyle-action {
            color: oklch(from var(--b3-theme-accent) l c h);
            &::after {
                color: oklch(from var(--b3-theme-accent) l c h);
                background-color: color-mix(in srgb, currentColor 12%, rgba(0, 0, 0, 0));
                width: 1.25em;
                height: 1.25em;
                transform: translate(-50%, -50%);
                margin: unset;
                border-radius: 50% !important;
            }
            &:hover {
                color: oklch(from var(--b3-theme-accent) l c h) !important;
                &::after {    
                    color: oklch(from var(--b3-theme-accent) l c h) !important;
                    background-color: color-mix(in srgb, currentColor 12%, rgba(0, 0, 0, 0)) !important;
                }
            }
        }
    }
}
// callout
.b3-typography .callout,
.protyle-wysiwyg .callout {
    background-color: color-mix(in srgb, currentColor 10%, rgba(0, 0, 0, 0));
    padding: 4px 12px;
    margin: 0.4em 0;
    &::before {
        display: none;
    }
    .callout-icon  {
        transition: var(--b3-transition);
        @include icon;
    }
    &[data-subtype="NOTE"] {
        --b3-callout-note: oklch(from var(--b3-theme-accent) l c 260);
        color: var(--b3-callout-note);
    }
    &[data-subtype="TIP"] {
        --b3-callout-tip: oklch(from var(--b3-theme-accent) l c 140);
        color: var(--b3-callout-tip);
    }
    &[data-subtype="IMPORTANT"] {
        --b3-callout-important: oklch(from var(--b3-theme-accent) l c 285);
        color: var(--b3-callout-important);
    }
    &[data-subtype="WARNING"] {
        --b3-callout-warning: oklch(from var(--b3-theme-accent) l c 90);
        color: var(--b3-callout-warning);
    }
    &[data-subtype="CAUTION"] {
        --b3-callout-caution: oklch(from var(--b3-theme-accent) l c 30);
        color: var(--b3-callout-caution);
    }
}
// table
.b3-typography table,
.protyle-wysiwyg table {
    --b3-table-even-background: oklch(from var(--b3-theme-surface) l c h / 0.7);
    td,
    th {
        border-color: var(--b3-border-color-trans);
    }
    thead th,
    thead td {
        background-color: var(--b3-table-even-background);
    }
}
// drag
.protyle-wysiwyg [data-node-id] .img .protyle-action__drag {
    background: var(--b3-theme-on-surface);
    box-shadow: none;
    &:hover {
        background: var(--b3-theme-on-background);
        box-shadow: none;
    }
}
.protyle-wysiwyg [data-node-id].iframe .protyle-action__drag {
    background: var(--b3-theme-on-surface);
    box-shadow: none;
    bottom: -4px;
    &:hover {
        background: var(--b3-theme-on-background);
        box-shadow: none;
        &::after {
            background: var(--b3-theme-on-background);
            box-shadow: none;
        }
    }
    &::after {
        background: var(--b3-theme-on-surface);
        box-shadow: none;
    }
}
// img
.protyle-wysiwyg [data-node-id] .img--select {
    filter: unset;
    img {
        transition: var(--b3-transition);
        box-shadow: var(--neo-main-shadow);
    }
}
.viewer-backdrop {
    @include frostedglass($blur: l, $color: background);
}
.viewer-navbar {
    background-color: oklch(from var(--b3-theme-surface) l c h / 0.7);
    .viewer-list {
        transition: var(--b3-transition);
    }
}
.viewer-title {
    color: var(--b3-theme-on-surface);
    &:hover {
        color: var(--b3-theme-on-background);
    }
}
.viewer-toolbar > ul > li {
    background-color: transparent;
    transition: var(--b3-transition);
    svg {
        color: var(--b3-theme-on-surface);
    }
    &:hover {
        svg {
            color: var(--b3-theme-on-background);
        }
    }
}
.viewer-tooltip {
    background-color: transparent;
    color: var(--b3-theme-on-surface);
    &:hover {
        color: var(--b3-theme-on-background);
    }
}