@use "../tools" as *;
@use "../utils" as *;
// block 
.protyle-wysiwyg [data-node-id] {
    @include superellipse(10px);
    &::after {
        @include superellipse(10px);
    }
}
// heading
.b3-typography,
.protyle-wysiwyg {
    @for $i from 1 through 6 {
        h#{$i},
        .h#{$i} {
            @include superellipse(10px);
            color: var(--b3-theme-primary);
            margin-top: 1.2em;
            line-height: 1.5;
            &[fold="1"] {
                &::before {
                    opacity: 0;
                }
            }
        }
        & > h#{$i}:first-child,
        & > .h#{$i}:first-child {
            margin-top: 0;
        }
    }
}
.protyle-title__input {
    color: var(--b3-theme-primary);
    font-size: 2.4em;
    line-height: 1.4;
}
// block ref
.protyle-wysiwyg [data-node-id] span[data-type~=block-ref]:not(.av__celltext),
.protyle-wysiwyg [data-node-id] span[data-type~=file-annotation-ref] {
    color: inherit;
    background-image: repeating-linear-gradient(90deg, var(--b3-theme-accent) 0px, var(--b3-theme-accent) 3px, transparent 3px, transparent 6px);
    background-size: 8px 1px;
    background-position: 0 100%;
    background-repeat: repeat-x;
    padding-bottom: 2px;
    &:hover {
        color: var(--b3-theme-accent);
    }
}
// link
.protyle-wysiwyg [data-node-id] span[data-type~=a] {
    color: inherit;
    text-decoration: none;
    background-image: linear-gradient(90deg, var(--b3-theme-accent) 0%, var(--b3-theme-accent) 40%, oklch(from var(--b3-theme-accent) l c calc(h + 10)) 50%, oklch(from var(--b3-theme-accent) l c calc(h - 10)) 60%, var(--b3-theme-accent) 100%);
    background-size: 300% 1px;
    background-position: 0% 100%;
    background-repeat: repeat-x;
    padding-bottom: 2px;
    &:hover {
        color: var(--b3-theme-accent);
        text-decoration: none;
        border: none;
    }
}
a {
    --b3-theme-primary: var(--b3-theme-accent);
}
// inline-mark
.b3-typography mark,
.b3-typography span[data-type~=mark],
.protyle-wysiwyg mark,
.protyle-wysiwyg span[data-type~=mark] {
    background: rgba(0, 0, 0, 0);
    box-shadow: 0 -0.5em 0 0 inset oklch(from var(--b3-protyle-inline-mark-background) l c h / 0.5), 0 .1em 0 0 oklch(from var(--b3-protyle-inline-mark-background) l c h / 0.5);
    color: inherit;
}
// kbd
:root {
    --neo-kbd-color: inherit;
}
.search__tip kbd,
.config-keymap__key,
.protyle-wysiwyg span[data-type~=kbd],
.b3-typography kbd,
.b3-typography span[data-type~=kbd] {
    color: var(--neo-kbd-color);
    border: 0.5px solid;
    border-color: oklch(from currentColor l c h / 0.25);
    line-height: 1.625;
    background-color: oklch(from currentColor l c h / 0.12);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 -0.5px 0 rgba(255, 255, 255, 0.56);
    text-shadow: 0 1px rgba(255, 255, 255, 0.67);
    @include superellipse(6px);
    vertical-align: 1px;
    font-size: 0.75em;
}
[data-theme-mode="dark"] {
    .search__tip kbd,
    .config-keymap__key,
    .protyle-wysiwyg span[data-type~=kbd],
    .b3-typography kbd,
    .b3-typography span[data-type~=kbd] {
        border-color: oklch(from currentColor l c h / 0.1);
        box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.3), inset 0 -0.5px 0 rgba(255, 255, 255, 0.2);
        text-shadow: 0 -1px rgba(0, 0, 0, 0.73);
    }
}
// tag
:root {
    --neo-tag-color: var(--b3-theme-accent);
}
.protyle-wysiwyg [data-node-id] span[data-type~=tag] {
    padding: 2px 4px;
    @include superellipse(6px);
    background-color: oklch(from currentColor l c h / 0.12);
    color: var(--neo-tag-color);
    border: 0.5px solid oklch(from currentColor l c h / 0.18);
    padding: 2px 4px;
    font-size: 0.85em;
    margin: 0 0.35em;
    &::before {
        content: "#";
        display: inline-block;
        margin-inline-end: 4px;
    }
    &:hover {
        background-color: oklch(from currentColor l c h / 0.18);
    }
}
.b3-chips__doctag .b3-chip { // 文档标签
    background-color: oklch(from currentColor l c h / 0.12);
    color: var(--neo-tag-color);
    box-shadow: inset 0 0 0 1px oklch(from currentColor l c h / 0.18);
    &::before {
        content: "#";
        display: inline-block;
        margin-inline-end: 4px;
    }
    &:hover {
        background-color: oklch(from currentColor l c h / 0.18);
        color: var(--neo-tag-color);
        box-shadow: inset 0 0 0 1px oklch(from currentColor l c h / 0.18);
    }
}
#criteria .b3-chips .b3-chip { // 搜索栏查询条件
    background-color: oklch(from currentColor l c h / 0.12);
    color: var(--neo-tag-color);
    box-shadow: inset 0 0 0 1px oklch(from currentColor l c h / 0.18);
    &:hover {
        background-color: oklch(from currentColor l c h / 0.18);
        color: var(--neo-tag-color);
        box-shadow: inset 0 0 0 1px oklch(from currentColor l c h / 0.18);
    }
}
// inline-code
:root {
    --neo-inline-code-color: inherit;
}
.b3-typography span[data-type~=code],
.b3-typography code:not(.hljs),
.protyle-wysiwyg span[data-type~=code],
.protyle-wysiwyg code:not(.hljs),
.fn__code {
    color: var(--neo-inline-code-color);
    background-color: oklch(from currentColor l c h / 0.1);
    padding: 2px 4px;
    @include superellipse(6px);
}
// inline-memo
:root {
    --neo-inline-memo-color: var(--b3-theme-accent);
}
.b3-typography span[data-type~=inline-memo],
.protyle-wysiwyg span[data-type~=inline-memo] {
    background-color: oklch(from currentColor l c h / 0.12);
    color: var(--neo-inline-memo-color);
    border-bottom: 1.5px solid;
    transition: var(--b3-transition);
    &:hover {
        @include superellipse(1px);
        background-color: var(--neo-inline-memo-color);
        box-shadow: 0 0 0 4px var(--neo-inline-memo-color);
        @include color-reverse(--neo-inline-memo-color);
        border-color: transparent;
    }
}
// embed
.protyle-wysiwyg [data-node-id].render-node[data-type=NodeBlockQueryEmbed] {
    border: unset;
    background-color: oklch(from var(--b3-theme-surface) l c h / 0.7);
    padding: 10px 16px;
    .protyle-wysiwyg__embed {
        border-color: var(--b3-border-color-trans);
    }
}
// quote
.b3-typography blockquote,
.b3-typography .bq,
.protyle-wysiwyg blockquote,
.protyle-wysiwyg .bq {
    @include superellipse(10px);
    background-color: oklch(from var(--b3-theme-surface) l c h / 0.7);
    padding: 10px 16px;
    margin: 0.4em 0;
    &::before {
        display: none;
    }
}
// code
.b3-typography .code-block:not(pre),
.protyle-wysiwyg .code-block:not(pre) {
    @include superellipse(10px);
    background-color: oklch(from var(--b3-theme-surface) l c h / 0.7);
    .protyle-action {
        padding: 4px 4px 4px 0;
    }
}
// list
.protyle-wysiwyg [data-node-id] {
    .li[data-subtype="u"],
    .li[data-subtype="o"],
    .li[data-subtype="t"] {
        &::before {
            border-color: var(--b3-theme-on-background);
            transition: var(--b3-transition);
            opacity: 0.2;
            left: 16.5px;
        }
        &:hover {
            &::before {
                border-color: var(--b3-theme-on-background);
                opacity: 0.4;
            }
        }
        & > .protyle-action {
            color: var(--b3-theme-on-surface);
            &:hover {
                color: var(--b3-theme-on-surface);
            }
        }
        &[fold="1"] > .protyle-action {
            color: oklch(from var(--b3-theme-accent) l c h);
            &::after {
                color: oklch(from var(--b3-theme-accent) l c h);
                background-color: oklch(from currentColor l c h / 0.18);
                width: 1.5em;
                height: 1.5em;
                transform: translate(-50%, -50%);
                margin: unset;
                border-radius: 50%;
            }
            &:hover {
                color: oklch(from var(--b3-theme-accent) l c h);
                &::after {    
                    color: oklch(from var(--b3-theme-accent) l c h);
                    background-color: oklch(from currentColor l c h / 0.12);
                }
            }
        }
    }
}
// callout
.b3-typography .callout,
.protyle-wysiwyg .callout {
    background-color: oklch(from currentColor l c h / 0.1);
    padding: 16px 16px 10px 16px;
    margin: 0.4em 0;
    .callout-title {
        transition: var(--b3-transition);
    }
    &::before {
        display: none;
    }
    .callout-icon  {
        transition: var(--b3-transition);
        @include icon;
    }
    &[data-subtype="NOTE"] {
        --b3-callout-note: oklch(from var(--b3-theme-accent) l c 260);
        color: var(--b3-callout-note);
        --neo-kbd-color: var(--b3-callout-note);
        --neo-inline-code-color: var(--b3-callout-note);
        --neo-tag-color: var(--b3-callout-note);
        --neo-inline-memo-color: var(--b3-callout-note);
    }
    &[data-subtype="TIP"] {
        --b3-callout-tip: oklch(from var(--b3-theme-accent) l c 140);
        color: var(--b3-callout-tip);
        --neo-kbd-color: var(--b3-callout-tip);
        --neo-inline-code-color: var(--b3-callout-tip);
        --neo-tag-color: var(--b3-callout-tip);
        --neo-inline-memo-color: var(--b3-callout-tip);
    }
    &[data-subtype="IMPORTANT"] {
        --b3-callout-important: oklch(from var(--b3-theme-accent) l c 285);
        color: var(--b3-callout-important);
        --neo-kbd-color: var(--b3-callout-important);
        --neo-inline-code-color: var(--b3-callout-important);
        --neo-tag-color: var(--b3-callout-important);
        --neo-inline-memo-color: var(--b3-callout-important);
    }
    &[data-subtype="WARNING"] {
        --b3-callout-warning: oklch(from var(--b3-theme-accent) l c 90);
        color: var(--b3-callout-warning);
        --neo-kbd-color: var(--b3-callout-warning);
        --neo-inline-code-color: var(--b3-callout-warning);
        --neo-tag-color: var(--b3-callout-warning);
        --neo-inline-memo-color: var(--b3-callout-warning);
    }
    &[data-subtype="CAUTION"] {
        --b3-callout-caution: oklch(from var(--b3-theme-accent) l c 30);
        color: var(--b3-callout-caution);
        --neo-kbd-color: var(--b3-callout-caution);
        --neo-inline-code-color: var(--b3-callout-caution);
        --neo-tag-color: var(--b3-callout-caution);
        --neo-inline-memo-color: var(--b3-callout-caution);
    }
}
// table
.b3-typography table,
.protyle-wysiwyg table {
    --b3-table-even-background: oklch(from var(--b3-theme-surface) l c h / 0.5);
    border: 1px solid var(--b3-border-color-trans);
    @include superellipse(10px);
    td,
    th {
        border: none;
    }
    thead th,
    thead td {
        background-color: var(--b3-table-even-background);
    }
    th {
        border-bottom: 1px solid var(--b3-border-color-trans);
        &:not(:last-child) {
            border-right: 1px solid var(--b3-border-color-trans);
        }
    }
    td {
        border-bottom: 1px solid var(--b3-border-color-trans);
        &:not(:last-child) {
            border-right: 1px solid var(--b3-border-color-trans);
        }
    }
    tr:last-child {
        td {
            border-bottom: none;
        }
    }
}
// drag
.protyle-wysiwyg [data-node-id] .img {
    &:hover {
        .protyle-action__drag {
            opacity: 0.5;
        }
    }
    .protyle-action__drag {
        background: var(--b3-theme-on-surface);
        box-shadow: none;
        transition: 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
        display: inline-block;
        opacity: 0;
        &:hover {
            opacity: 1;
            background: var(--b3-theme-on-background);
            box-shadow: none;
            scale: 1.2;
        }
    }
}
.protyle-wysiwyg [data-node-id].iframe {
    &:hover {
        .protyle-action__drag {
            opacity: 0.5;
        }
    }
    .protyle-action__drag {
        height: 20px;
        width: 20px;
        background-color: var(--b3-theme-on-surface);
        mask-image: url("data:image/svg+xml;base64,PHN2ZyB2aWV3Qm94PSIzNDEuMzMzMzMzIDM0MS4zMzMzMzMgNDI2LjY2NjY2NyA0MjYuNjY2NjY3IiBmaWxsPSJjdXJyZW50Q29sb3IiIHdpZHRoPSI4My4zMzMzMzMiIGhlaWdodD0iODMuMzMzMzMzIiBjbGFzcz0iaWNvbiIgcC1pZD0iMzk5OTUiIHQ9IjE3Nzk1NDMyMzg2ODAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgPHBhdGggZD0iTTY4Mi42NjY3IDU1NC42NjY3bDAtMjEzLjMzMzQgODUuMzMzMyAwdjIxMy4zMzM0QTIxMy4zMzMzIDIxMy4zMzMzIDAgMCAxIDU1NC42NjY3IDc2OEgzNDEuMzMzM2wwLTg1LjMzMzMgMjEzLjMzMzQgMGExMjggMTI4IDAgMCAwIDEyOC0xMjh6IiBwLWlkPSIzOTk5NiIgLz4KPC9zdmc+");
        mask-size: cover;
        mask-repeat: no-repeat;
        box-shadow: none;
        border-radius: 0;
        right: -8px;
        bottom: -8.5px;
        display: inline-block;
        opacity: 0;
        transition: 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96);
        &:hover {
            opacity: 1;
            background-color: var(--b3-theme-on-background);
            box-shadow: none;
            scale: 1.2;
        }
        &::after {
            visibility: hidden;
        }
    }
}
// img
.protyle-wysiwyg [data-node-id] .img--select {
    filter: unset;
    img {
        transition: var(--b3-transition);
        box-shadow: var(--neo-main-shadow-light);
    }
}
.viewer-backdrop {
    @include frostedglass($blur: l, $color: background);
}
.viewer-navbar {
    background-color: oklch(from var(--b3-theme-surface) l c h / 0.7);
    .viewer-list {
        transition: var(--b3-transition);
    }
}
.viewer-title {
    color: var(--b3-theme-on-surface);
    &:hover {
        color: var(--b3-theme-on-surface);
    }
}
.viewer-toolbar > ul > li {
    background-color: transparent;
    transition: var(--b3-transition);
    svg {
        color: var(--b3-theme-on-surface);
        transition: var(--b3-transition);
    }
    &:hover {
        svg {
            color: var(--b3-theme-on-background);
        }
    }
}
.viewer-tooltip {
    background-color: transparent;
    color: var(--b3-theme-on-surface);
    &:hover {
        color: var(--b3-theme-on-surface);
    }
}
// task
.protyle-wysiwyg .li[data-subtype=t] > .protyle-action--task::before,
.av__checkbox {
    content: "" !important;
    position: absolute;
    width: 1.2em;
    height: 1.2em;
    background-color: var(--b3-theme-on-surface);
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path d="M512 903.110656c216.004608 0 391.110656-175.106048 391.110656-391.110656S728.004608 120.889344 512 120.889344 120.889344 295.995392 120.889344 512 295.995392 903.110656 512 903.110656z m0 64C260.64896 967.110656 56.889344 763.35104 56.889344 512S260.64896 56.889344 512 56.889344 967.110656 260.64896 967.110656 512 763.35104 967.110656 512 967.110656z"/></svg>');
    animation: uncheck .3s var(--asri-ease-elastic-in-out-3) forwards;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: unset;
}
.protyle-wysiwyg .li[data-subtype=t] .protyle-action--task,
.av__checkbox {
    color: transparent !important;
}
.protyle-wysiwyg .li[data-subtype=t].protyle-task--done > .protyle-action--task::before,
.av__cell-check .av__checkbox {
    background-color: var(--b3-theme-primary);
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path d="M512.45568 57.344c251.35104 0 455.11168 203.76064 455.11168 455.11168 0 251.35104-203.76064 455.11168-455.11168 455.11168C261.10464 967.56736 57.344 763.80672 57.344 512.45568 57.344 261.10464 261.10464 57.344 512.45568 57.344z m272.444416 288.876544c-5.842944-5.445632-16.21504-5.953536-22.995968-1.074176l-0.315392 0.232448-301.232128 228.097024c-5.515264 4.176896-15.601664 4.72064-21.655552 1.186816l-0.320512-0.193536-113.998848-71.015424c-7.031808-4.380672-16.93696-2.89792-22.390784 3.219456l-0.24576 0.2816-13.169664 15.497216c-5.553152 6.53312-4.62848 15.625216 1.519616 21.586944l0.27136 0.258048 140.93312 131.342336c10.247168 9.550848 26.529792 10.051584 36.615168 0.9728l0.313344-0.28672 323.310592-301.310976c6.679552-6.223872 7.225344-15.606784 1.036288-21.63712l-0.254976-0.241664-7.419904-6.915072z"/></svg>');
}
.protyle-task--done > div[data-node-id].p {
    color: currentColor;
    text-decoration: unset;
    opacity: 0.38;
}
.protyle-task--done > .protyle-action--task::before {
    border: unset;
}
.protyle .protyle-wysiwyg .li[data-subtype=o] > .protyle-action:hover::after,
.protyle .protyle-wysiwyg .li[data-subtype=u]>.protyle-action:hover::after,
.protyle .protyle-wysiwyg[data-readonly=false] .li[data-subtype=t]>.protyle-action:hover::after {
    background-color: transparent;
}
// hr
.protyle-wysiwyg [data-node-id].hr > div::after {
    background-color: oklch(from var(--b3-theme-on-background) l c h / 0.12);
    height: 1.5px;
}
// fold
.protyle-wysiwyg [data-node-id][fold="1"]:not(.li) {
    outline: 1px solid oklch(from currentColor l c h / 0.25);
    background-color: oklch(from currentColor l c h / 0.15);
    opacity: 0.38 !important; // 卷轴动画会覆盖opacity
}