@use "../tools" as *;
@use "components" as *;
@use "../utils" as *;
.b3-dialog__container {
    border: unset;
    box-shadow: unset;
    @include superellipse(16px);
}
.b3-dialog__close {
    display: none;
}
.b3-dialog__header {
    text-align: center;
    border: unset;
}
.b3-dialog__action {
    border: unset;
}
// border-color
.b3-dialog__header,
.search__header,
.search__tip,
.history__action,
.switch-doc .b3-list:last-child,
.switch-doc__path,
.history__resize,
.b3-dialog__action,
.block__icons,
.config__side,
.b3-label,
.search__layout--row,
.block__edit,
.config__side,
.search__list {
    --b3-border-color: var(--b3-border-color-trans) !important;
    border-color: var(--b3-border-color-trans) !important;
}
.search__drag::after {
    background-color: var(--b3-border-color-trans) !important;
}
// settings
.config__tab-container .b3-label:not(.b3-label--inner).config__item {
    & > .config__item-line.fn__flex-center {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .b3-button {
            width: max-content;
        }
    }
}
.config__tab-container .config-group__title {
    padding: 32px 64px 0 64px;
}
.config__tab-wrap {
    padding: 0 !important;
    .fn__hr--b:first-child,
    .fn__hr--b:last-child {
        display: none;
    }
    .config__tab-container {
        padding: $layout-gap 0;
        .layout-tab-bar {
            padding-top: 16px;
        }
    }
}
.config__tab-container .config-group {
    @include superellipse(16px);
    margin: 16px 64px 0 64px;
}
.config__side,
.b3-dialog__container .config__panel .b3-tab-bar {
    @include superellipse(12px);
    margin: $layout-gap;
    padding: $layout-gap 0;
    border: unset;
    box-shadow: var(--neo-main-shadow);
    .b3-list-item {
        @include superellipse(8px);
        line-height: 26px;
        margin: calc($layout-gap / 2) $layout-gap;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.config__side .b3-form__icon {
    margin: 0 8px 16px 8px;
}
// bazaar
.config-bazaar__panel {
    .b3-cards {
        grid-template-columns: repeat(auto-fill, minmax(min(100%, 320px), 1fr));
    }
    // reference: https://github.com/mustakshif/Asri
    &[data-type=downloaded] {
        .b3-card {
            display: grid;
            grid-template-areas:
            "img info"
            "img buttons";
            grid-template-columns: 90px 1fr;
            & > .b3-card__img {
                grid-area: img;
                & + div {
                    grid-area: info;
                }
            }
            & > .b3-card__actions {
                grid-area: buttons;
                padding: 3px 11px 11px;
                align-self: flex-end;
                & > .fn__space--small:first-child {
                    margin-left: auto;
                }
                & > .block__icon:first-child {
                    margin-left: auto;
                }
            }
        }
    }
    .b3-card {
        border: unset;
        box-shadow: inset 0 0 0 1px var(--b3-border-color-trans);
        @include superellipse(16px);
        background-color: transparent;
        transition: var(--b3-transition);
        &:hover,
        &.b3-card--current {
            box-shadow: inset 0 0 0 1px oklch(from var(--neo-input-primary) l c h / 0.25);
            background-color: oklch(from var(--neo-input-primary) l c h / 0.08);
        }
        &:hover {
            scale: 1.02;
        }
        .b3-card__img img {
            @include superellipse(12px);
        }
    }
}
#configBazaarReadme {
    padding: unset;
    @include superellipse(16px);
    .item__side {
        padding: $layout-gap;
        margin: $layout-gap;
        height: calc(100% - $layout-gap * 4);
        @include superellipse(12px);
        box-shadow: var(--neo-main-shadow);
        .item__img {
            @include superellipse(16px);
        }
    }
    .item__main {
        margin: 0;
        padding: $layout-gap 0;
        .item__preview {
            margin: 0;
            @include superellipse(12px);
        }
        .b3-typography {
            padding: 0 64px;
            & > blockquote:first-child {
                margin: 24px 0;
                padding: 0;
                background-color: transparent;
                font-size: 1.2em;
                font-weight: bold;
            }
        }
        .item__readme {
            margin-top: 0;
        }
    }
}
// account
.config-account__form {
    .b3-button {
        width: 100%;
    }
}
.config-account__center:not(.config-account__center--text) {
    @include superellipse(12px);
    box-shadow: var(--b3-menu-shadow);
    height: min(100% - 80px, 650px);
    max-width: min(100%, 400px);
    margin: auto 20px;
    .b3-chips .b3-chip {
        padding: 4px 12px;
        line-height: 16px;
        width: max-content;
        transition: var(--b3-transition);
        @include superellipse(7px);
        @include button-transparent-outline;
    }
}
.config-account__center.config-account__center--text {
    margin: auto 20px;
    #activationCode {
        display: none;
    }
    .fn__hr--b {
        height: 16px;
        min-height: 16px;
    }
    .b3-chip {
        padding: 4px 12px;
        line-height: 16px;
        width: max-content;
        transition: var(--b3-transition);
        @include superellipse(7px);
        @include button-transparent-outline;  
    }
    .b3-button {
        @include button-transparent-outline;
        &.b3-button--big {
            font-size: unset;
            min-width: unset;
        }
    }
}
// search
#criteria {
    .b3-chips .b3-chip {
        @include superellipse(6px);
        @include button-transparent-outline;
        $offset: 16px;
        padding: 4px 14px;
        .b3-chip__close {
            opacity: 0;
            margin-right: -$offset;
            margin-left: 0;
            padding-right: 0;
            transition: var(--b3-transition);
            &:hover {
                background-color: transparent;
                color: var(--b3-theme-error);
            }
        }
        &:hover {
            padding: 4px 6px;
            .b3-chip__close {
                opacity: 1;
                margin-right: 0;
            }
        }
    }
}
.search__drag {
    transition: var(--b3-transition);
    &:hover {
        &::after {
            background-color: $resize-hl !important;
        }
    }
}
// history
.history__resize {
    transition: var(--b3-transition);
    &:hover {
        box-shadow: 2px 0 0 0 var(--b3-theme-background) inset, 3px 0 0 0 $resize-hl inset;
    }
}
// popover
.block__popover.block__popover--open {
    border: unset;
    box-shadow: unset;
    @include superellipse(12px);
}
// 闪卡
.layout__center .card__main {
    background-color: transparent;
}
// attr
.custom-attr__avheader .block__logo {
    color: var(--b3-theme-accent);
}
.custom-attr .b3-button[data-type=addColumn] {
    @include button-transparent-outline;
}
.custom-attr__avvalue,
.custom-attr .block__logo:not(.popover__block) {
    transition: var(--b3-transition);
}
.custom-attr .block__logo:not(.popover__block):hover,
.custom-attr__avvalue:not(.custom-attr__avvalue--readonly):hover,
.custom-attr__avvalue--active {
    background-color: var(--b3-list-hover);
}
.av__mask .b3-text-field,
.block__icons .b3-text-field {
    background-color: transparent;
    transition: var(--b3-transition);
    &:hover {
        background-color: var(--b3-list-hover);
    }
    &:focus {
        background-color: var(--b3-list-hover);
    }
}