@use "sass:list";
@use "../tools" as *;
@use "../utils" as *;
// dock
.dock__item {
    transition: var(--b3-transition);
    @include icon;
}
.dock__item--active,
.dock__item--activefocus {
    box-shadow: var(--neo-main-shadow-heavy) !important;
    color: var(--b3-theme-on-background) !important;
    background-color: oklch(from var(--b3-theme-background) l c h / 0.7) !important;
    &:hover {
        box-shadow: var(--neo-main-shadow-heavy) !important;
        color: var(--b3-theme-on-background) !important;
        background-color: var(--b3-theme-background) !important;
    }
}
.dock__split::after {
    background-color: var(--b3-border-color-trans);
    width: 24px;
    left: 50%;
    transform: translateX(-50%);
}
.block__icon {
    transition: var(--b3-transition) allow-discrete !important;
    line-height: 12px;
    @include icon;
}
// dock-panel
.layout__tab--active .b3-list--background li.b3-list-item--focus {
    background-color: var(--b3-list-active);
}
.b3-list-item__action,
.b3-list-item .counter {
    @include icon;
}
.b3-list-item__toggle {
    color: var(--b3-theme-on-surface);
    &:hover {
        background-color: transparent;
        color: var(--b3-theme-on-background);
    }
}
.block__logo {
    color: var(--b3-theme-on-surface);
}
// 文档树缩进线
.file-tree {
    & > .fn__flex-1 {
        & > ul {
            & > .b3-list-item {
                margin-inline-start: 6px;
                margin-inline-end: 6px;
                .b3-list-item__toggle {
                    padding-left: 2px !important;
                }
            }
            & ul {
                position: relative;
                &::before {
                    content: "";
                    position: absolute;
                    left: var(--neo-indent-offset);
                    top: 0;
                    width: 0.75px;
                    height: 100%;
                    background-color: var(--b3-border-color-trans);
                }
                .b3-list-item__toggle {
                    position: relative;
                    &::before {
                        content: "";
                        position: absolute;
                        border-bottom-left-radius: 8px;
                        border-left: 0.76px solid var(--b3-border-color-trans);
                        border-bottom: 0.75px solid var(--b3-border-color-trans);
                        left: unset;
                        top: 0;
                        height: 10.5px;
                        width: 8px;
                        margin-inline-start: var(--neo-dock-indent-fork-left, -11px);
                        background-color: transparent;
                        visibility: visible;
                    }
                    &.fn__hidden {
                        &::before {
                            border-bottom-left-radius: 12px;
                            width: 16px;
                        }
                        &::after {
                            content: "";
                            position: absolute;
                            top: 50%;
                            right: 8px;
                            transform: translateY(-50%);
                            width: 3px;
                            height: 3px;
                            border-radius: 50%;
                            background-color: var(--b3-border-color-trans);
                            visibility: visible;
                        }
                    }
                }
            }
            $selector: "& > ul";
            @for $i from 1 through 16 {
              #{$selector} {
                --neo-indent-offset: #{$i * 18}px;
              }
              $selector: "#{$selector} > ul";
            }
        }
    }
}
// 大纲
.sy__outline {
    .b3-list-item[data-type="NodeHeading"] {
        .b3-list-item__graphic {
            opacity: 0;
            &:hover {
                & + .b3-list-item__text {
                    &::before {
                        opacity: 1;
                    }
                }
            }
        }
        .b3-list-item__text {
            &::before {
                position: absolute;
                margin-inline-start: -18px;
                opacity: 0.58;
                font-size: 0.95em;
                pointer-events: none;
                font-family: "Segoe UI";
                color: currentColor;
                transition: var(--b3-transition);
            }
        }
        $heading-numbers: "❶", "❷", "❸", "❹", "❺", "❻";
        @for $i from 1 through 6 {
          &[data-subtype="h#{$i}"] > .b3-list-item__text::before {
            content: list.nth($heading-numbers, $i);
          }
        }
    }
}
// float
.layout__dockl,
.layout__dockr,
.layout__dockb {
    &.layout--float {
        box-shadow: unset;
        border-radius: unset;
        background-color: transparent;
        & > .fn__flex {
            [data-type="wnd"] {
                box-shadow: var(--neo-main-shadow-heavy);
            }
        }
        & > .layout__resize.layout__resize--lr {
            margin: 0 -3px;
        }
        & > .layout__resize:not(.layout__resize--lr) {
            margin: -3px 0;
        }
    }
}
.layout__dockl,
.layout__dockr {
    &.layout--float {
        top: 32px;
        bottom: $layout-gap;
    }
}
.body--toolbar-hide {
    .layout__dockl,
.layout__dockr {
    &.layout--float {
        top: 45px;
    }
}
}
.layout__dockb.layout--float {
    bottom: $layout-gap !important;
}