@use "components" as *;
@use "../tools" as *;
@use "../utils" as *;
// protyle
.protyle {
    background-color: transparent;
}
// breadcrumb
.protyle-breadcrumb {
    background-color: transparent;
}
.protyle-breadcrumb__item {
    transition: var(--b3-transition);
    padding: 0;
    margin: 2px;
    height: auto;
    color: var(--b3-theme-on-surface);
    svg {
        height: 15.5px;
        width: 15.5px;
        padding: 2px;
        @include superellipse(4px);
    }
    &:hover {
        background-color: transparent;
        color: var(--b3-theme-on-surface);
        svg {
            color: var(--b3-theme-on-background);
            box-shadow: var(--neo-main-shadow);
        }
    }
    &--active {
        color: var(--b3-theme-on-background);
        background-color: transparent;
        svg {
            color: var(--b3-theme-on-background);
            box-shadow: var(--neo-main-shadow);
        }
        &:hover {
            color: var(--b3-theme-on-background);
            svg {
                color: var(--b3-theme-on-background);
                box-shadow: var(--neo-main-shadow);
            }
        }
    }
}
[data-type="exit-focus"] {
    transition: var(--b3-transition);
    padding: 4px 8px;
    line-height: 16px;
    width: max-content;
    @include button-transparent-outline;
}
[data-subtype="unlock"] {
    color: var(--b3-theme-accent) !important;
}
// protyle-background
.protyle-background__action {
    .b3-button {
        @include button-transparent-outline;
    }
}
.b3-chips__doctag .b3-chip {
    @include superellipse(6px);
    @include button-transparent-outline;
    $offset: 16px;
    padding: 4px 14px;
    .b3-chip__close {
        opacity: 0;
        margin-right: -$offset;
        margin-left: 0;
        padding-right: 0;
        transition: var(--b3-transition);
        &:hover {
            background-color: transparent;
            color: var(--b3-theme-error);
        }
    }
    &:hover {
        padding: 4px 6px;
        .b3-chip__close {
            opacity: 1;
            margin-right: 0;
        }
    }
}
// protyle-icons
.protyle-icons,
.av__gallery-actions {
    max-width: max-content;
    transition: var(--b3-transition);
    @include superellipse($layout-border-radius);
    box-shadow: var(--neo-main-shadow);
    .protyle-icon {
        background-color: transparent;
        color: var(--b3-theme-on-surface);
        &:hover {
            background-color: transparent;
            color: var(--b3-theme-on-background);
        }
    }
}
.av__gallery-item:hover .av__gallery-actions,
.protyle-wysiwyg[data-readonly=false] .img:hover .protyle-icons,
.protyle-wysiwyg [data-node-id].render-node:hover > .protyle-icons,
.b3-typography .code-block:not(pre):hover .protyle-icon,
.b3-typography .code-block:not(pre):hover .protyle-action__language,
.protyle-wysiwyg .code-block:not(pre):hover .protyle-icon,
.protyle-wysiwyg .code-block:not(pre):hover .protyle-action__language {
    opacity: 1;
}
.protyle-background__img .protyle-icons {
    .protyle-icon {
        transition: var(--b3-transition);
        padding: 6px;
        height: unset;
    }
}
.b3-typography .code-block:not(pre) .protyle-action .protyle-icon,
.protyle-wysiwyg .code-block:not(pre) .protyle-action .protyle-icon {
    transition: var(--b3-transition);
    background-color: var(--b3-theme-background);
    color: var(--b3-theme-on-surface);
    &:hover {
        color: var(--b3-theme-on-background);
    }
    &.protyle-icon--first {
        @include superellipse($layout-border-radius);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    &.protyle-icon--last {
        @include superellipse($layout-border-radius);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}
// protyle-attr--refcount
.protyle-attr--refcount {
    @include superellipse(6px);
    right: -20px;
    top: 0;
    padding: 2px 6px;
    color: var(--b3-theme-on-surface);
    background-color: oklch(from currentColor l c h / 0.1);
    transition: var(--b3-transition);
    &:hover {
        color: var(--b3-theme-accent);
        background-color: oklch(from currentColor l c h / 0.1);
    }
}
// layout__empty
.layout__empty {
    .b3-list-item {
        transition: var(--b3-transition);
    }
}
// protyle-scroll
.protyle-scroll__up {
    top: calc(50% - var(--b3-dynamicscroll-width)/2 - 30px)
}
.protyle-scroll__down,
.protyle-scroll__up {
    right: 0;
    color: var(--b3-theme-on-surface-light);
    &:hover {
        color: var(--b3-theme-on-background);
    }
}
.protyle-scroll svg {
    width: 18px;
    height: 18px;
}
// def--mark
.protyle-wysiwyg [data-node-id] .def--mark {
    color: var(--b3-highlight-color) !important;
    background-color: var(--b3-highlight-background) !important;
}
// 导出预览
.protyle-preview__action {
    background-color: transparent;
    button {
        @include button-transparent;
        &.protyle-preview__action--current {
            background-color: transparent;
            color: var(--b3-theme-accent);
        }
    }
}
// 导出
.export-img {
    border: unset;
}