@use "components" as *;
@use "../tools" as *;
@use "../utils" as *;
// protyle
.protyle {
    background-color: transparent;
}
// breadcrumb
.protyle-breadcrumb {
    background-color: transparent;
    min-height: unset;
    padding: 0 4px;
}
.protyle-breadcrumb__item {
    transition: var(--b3-transition);
    padding: 0;
    margin: 2px;
    height: auto;
    color: var(--b3-theme-on-surface);
    svg {
        height: 15.5px;
        width: 15.5px;
        padding: 2px;
        @include superellipse(4px);
    }
    &:hover {
        background-color: transparent;
        color: var(--b3-theme-on-surface);
        svg {
            color: var(--b3-theme-on-background);
            box-shadow: var(--neo-main-shadow);
        }
    }
    &--active {
        color: var(--b3-theme-on-background);
        background-color: transparent;
        svg {
            color: var(--b3-theme-on-background);
            box-shadow: var(--neo-main-shadow);
        }
        &:hover {
            color: var(--b3-theme-on-background);
            svg {
                color: var(--b3-theme-on-background);
                box-shadow: var(--neo-main-shadow);
            }
        }
    }
}
[data-type="exit-focus"] {
    transition: var(--b3-transition);
    padding: 2px 6px;
    line-height: 16px;
    width: max-content;
    background-color: transparent;
    color: var(--b3-theme-on-surface);
    box-shadow: var(--neo-main-shadow);
    &:hover,
    &:active,
    &:focus {
        color: var(--b3-theme-on-background);
    }
}
// protyle-background
.protyle-background__action {
    .b3-button {
        @include button-primary;
    }
}
// protyle-icons
.protyle-icons {
    transition: var(--b3-transition);
    @include superellipse($layout-border-radius);
    box-shadow: var(--neo-main-shadow);
    .protyle-icon {
        background-color: transparent;
        color: var(--b3-theme-on-surface);
        &:hover {
            background-color: transparent;
            color: var(--b3-theme-on-background);
        }
    }
}
.protyle-background__img .protyle-icons {
    .protyle-icon {
        transition: var(--b3-transition);
        padding: 6px;
        height: unset;
    }
}
.b3-typography .code-block:not(pre) .protyle-action .protyle-icon,
.protyle-wysiwyg .code-block:not(pre) .protyle-action .protyle-icon {
    transition: var(--b3-transition);
    background-color: var(--b3-theme-background);
    color: var(--b3-theme-on-surface);
    &:hover {
        color: var(--b3-theme-on-background);
    }
    &.protyle-icon--first {
        @include superellipse($layout-border-radius);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    &.protyle-icon--last {
        @include superellipse($layout-border-radius);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
}