@use "../tools" as *;
@use "../utils" as *;
// body
body {
    background-color: var(--b3-theme-surface);
    background-image: unset;
}
// toolbar
.toolbar {
    margin-bottom: calc($layout-gap / -2);
}
// layout
// .layout:not(.layout__center)来排除新窗口打开的情况
.layout:not(.layout__center) {
    margin-bottom: calc($layout-gap / 2);
    min-height: calc(100% - $layout-gap / 2)
}
// center
.layout:not(.layout__center) .layout__center {
    border-radius: unset;
    .neo-haswnd {
        margin: calc($layout-gap / 2);
        overflow: visible;
        [data-type="wnd"] {
            border-radius: 8px;
            //@include superellipse(8px);
            box-shadow: var(--neo-main-shadow-light);
        }
    }
}
// dock
@mixin layout-dockpanel {
    border-radius: unset;
    background-color: unset;
    .neo-haswnd {
        margin: calc($layout-gap / 2);
        overflow: visible;
        [data-type="wnd"] {
            border-radius: 8px;
            //@include superellipse(8px);
            box-shadow: var(--neo-main-shadow-light);
            background-color: var(--b3-theme-background);
            & > .layout-tab-container {
                .dockPanel {
                    & > .fn__flex-1 {
                        @include overflow-indicator-fadein-mask($fadeout-size-l, "top bottom");
                    }
                }
            }
        }
    }
}
#dockLeft {
    margin-right: calc($layout-gap / -2);
    & > .dock__items:first-child {
        .dock__item:first-child {
            margin-top: calc($layout-gap / 2);
        }
    }
    & > .dock__item--space + .dock__items {
        .dock__item:last-child {
            margin-bottom: $layout-gap;
        }
    }
}
#dockRight {
    margin-left: calc($layout-gap / -2);
    & > .dock__items:first-child {
        .dock__item:first-child {
            margin-top: calc($layout-gap / 2);
        }
    }
    & > .dock__item--space + .dock__items {
        .dock__item:last-child {
            margin-bottom: $layout-gap;
        }
    }
}
.layout__dockl,
.layout__dockr,
.layout__dockb {
    @include layout-dockpanel;
    overflow: visible !important;
}
.layout__dockl {
    margin-right: 0 !important;
}
.layout__dockr {
    margin-left: 0 !important;
}
.layout__dockb {
    margin-top: 0 !important;
}
#dockLeft.fn__none {
    & + #layouts {
        & > .layout__resize:not(.fn__none) + .layout__dockb {
            margin: 0 $layout-gap !important;
        }
    }
}
// resize
.layout__resize {
    &:not(.layout__resize--lr) {
        margin: 0;
        height: calc($layout-gap / 2);
        &::after {
            height: 1px;
            top: 50%;
            transform: translateY(-50%);
            background-color: transparent;
        }
        &:hover {
            &::after {
                background-color: $resize-hl;
            }
        }
    }
    &--lr {
        margin: 0;
        width: calc($layout-gap / 2);
        &::after {
            width: 1px;
            left: 50%;
            transform: translateX(-50%);
            background-color: transparent;
        }
        &:hover {
            &::after {
                background-color: $resize-hl;
            }
        }
    }
}
@mixin layout-resize-fix {
    &::after {
        content: "";
    }
    &:hover {
        &::after {
            background-color: $resize-hl;
        }
    }
}
.layout__dockl + .layout__resize {
    margin: 0;
    width: calc($layout-gap / 2);
    @include layout-resize-fix;
}
.layout__center + .layout__resize {
    margin: 0;
    width: calc($layout-gap / 2);
    @include layout-resize-fix;
}
.layout:not(.layout__center) > .layout__resize {
    margin: 0;
    height: calc($layout-gap / 2);
    @include layout-resize-fix;
}
// toolbar-hide
.body--toolbar-hide {
    .toolbar {
        margin-bottom: unset;
    }
    .layout:not(.layout__center) .layout__center {
        .neo-haswnd {
            margin: unset;
            [data-type="wnd"] {
                margin: calc($layout-gap / 2);
                margin-top: 0;
                min-height: 0.1px;
                corner-shape: unset;
                border-radius: unset;
                box-shadow: unset;
                overflow: visible;
                &:not(.layout__wnd--center > [data-type="wnd"]) {
                    margin-top: calc($layout-gap * -1);
                }
                & > .layout-tab-container {
                    border-radius: 8px;
                    //@include superellipse(8px);
                    box-shadow: var(--neo-main-shadow-light);
                }
                .layout-tab-bar {
                    background-color: transparent;
                }
            }
        }
    }
    .layout__dockl,
    .layout__dockr {
        .neo-haswnd {
            margin-top: 0;
        }
        .neo-haswnd-notfirst-visible {
            margin-top: calc($layout-gap / 2);
        }
    }
    #dockLeft,
    #dockRight {
        & > .dock__items:first-child {
            .dock__item:first-child {
                margin-top: 0;
            }
        }
        & > .dock__item--space + .dock__items {
            .dock__item:last-child {
                margin-bottom: $layout-gap;
            }
        }
    }
    .layout__resize--lr {
        &::after {
            top: 42px;
            height: calc(100% - 42px);
        }
    }
    .layout__dockb > .layout__resize--lr {
        &::after {
            top: 0;
            height: 100%;
        }
    }
}
// 拖拽区域
#toolbar {
    app-region: drag;
    .toolbar__item {
        app-region: no-drag;
    }
}
.body--toolbar-hide,
.body--window {
    .layout__center [data-type="wnd"] > .fn__flex:first-child {
        & > .layout-tab-bar:not(.layout-tab-bar--readonly) {
            app-region: drag;
            .item {
                app-region: no-drag;
            }
        }
        & > .layout-tab-bar--readonly {
            app-region: drag;
            .block__icon {
                app-region: no-drag;
            }
        }
    }
}