

// menu








.b3-list--background .b3-list-item--focus {
    background-color: var(--b3-list-active);
}
.b3-menu__checked,
.b3-menu__action {
    @include icon;
}


// av-menu
.b3-list-item__icon,
.b3-menu__avemoji,
.b3-list-item__switch {
    @include icon;
}
.b3-form__icona-icon {
    top: 50% !important;
    transform: translateY(-50%);
    @include icon;
}
.av__panel .b3-menu__item:not([data-type=nobg]):hover,
.av__panel .b3-menu__item--current:not([data-type=nobg]) {
    @include menu-item-current;
}
.av__panel .b3-menu__label {
    min-height: unset;
}
.av__panel .b3-menu .block__icon {
    padding: 4px !important;
}
// emoji

// list-mark
.b3-list mark {
    color: var(--b3-highlight-color);
    background-color: var(--b3-highlight-background);
}
// 资源
.b3-menu[data-name="background-asset"] {
    & > .b3-menu__items {
        & > .b3-menu__item {
            padding: 0;
        }
    }
}