@use "../tools" as *;
// menu
.b3-menu,
.b3-menu__submenu {
    padding: 4px;
    border: unset;
    box-shadow: unset;
    overflow: unset;
    @include superellipse(10px);
}
.b3-menu__items {
    padding: 0;
}
@mixin menu-item-current {
    background-color: var(--b3-theme-primary);
    & > .b3-menu__icon,
    & > .b3-menu__label,
    & > .b3-menu__accelerator,
    & > .fn__flex-center,
    & > .b3-menu__label > .b3-menu__icon {
        color: var(--b3-theme-on-primary);
    }
    .b3-switch {
        outline: 1px solid var(--b3-theme-on-primary);
    }
}
.b3-menu__item {
    line-height: 24px;
    @include superellipse(6px);
    &.b3-menu__item--current:not(.b3-menu__item--readonly) {
        @include menu-item-current;
    }
}
.b3-menu__separator {
    background-color: var(--b3-border-color-trans);
}
// protyle-toolbar
.protyle-toolbar {
    @include superellipse($layout-border-radius);
    border: unset;
    box-shadow: unset;
    padding: 4px;
}
.protyle-toolbar__item {
    transition: var(--b3-transition);
    @include icon;
    @include superellipse(6px);
    padding: 4px;
    margin: 0 2px;
    font-size: 8px;
    height: 24px;
    &--current {
        color: var(--b3-theme-accent);
    }
    &:first-child,
    &:last-child {
        @include superellipse(6px);
    }
}
// protyle-hint
.protyle-hint {
    padding: 4px;
    @include superellipse(6px);
    border: unset;
    box-shadow: unset;
    overflow: unset;
    & > .b3-text-field {
        margin: 0 0 4px 0 !important;
    }
    & > div {
        .b3-list-item {
            margin: 1px auto;
            width: 100% !important;
        }
    }
}
// protyle-util
.protyle-util {
    padding: 4px;
    @include superellipse(6px);
    border: unset;
    box-shadow: unset;
}
// slash menu
@mixin multicol-menu($min-width, $column-width) {
    .protyle-hint.hint--menu {   
        max-height: min(80vh, 550px);
        max-width: unset;
        padding: 0;
        & > div {
            min-width: $min-width;
            column-rule: 1px outset var(--b3-border-color-trans);
            column-width: $column-width;
            padding: 5px;
            & > .b3-menu__separator { 
                margin: 5px 6px;
                width: calc(100% - 12px);
            }
            & > .b3-list-item { 
                margin: 1px auto;
                width: 100% !important;
                &:first-child {
                    margin-top: 0;
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}
@media screen and (min-width: 1000px) { 
    @include multicol-menu(800px, 150px);
}
// av-menu
.b3-list-item__icon,
.b3-menu__avemoji,
.b3-list-item__switch {
    @include icon;
}
.b3-form__icona-icon {
    top: 50%;
    transform: translateY(-50%);
    @include icon;
    box-shadow: none !important;
}
.av__panel .b3-menu__item:not([data-type=nobg]):hover,
.av__panel .b3-menu__item--current:not([data-type=nobg]) {
    @include menu-item-current;
}
.av__panel .b3-menu__label {
    min-height: unset;
}
.av__panel .b3-menu .block__icon {
    padding: 4px !important;
}