@use "../tools" as *;
@use "../utils" as *;
// menu
.b3-menu,
.b3-menu__submenu {
    padding: 4px;
    border: unset;
    box-shadow: unset;
    overflow: unset;
    @include superellipse(10px);
}
.b3-menu__items {
    padding: 0;
}
.b3-menu__item--selected {
    color: var(--b3-theme-accent);
    & > .b3-menu__icon,
    & > .b3-menu__label,
    & > .b3-menu__accelerator {
        color: var(--b3-theme-accent);
    }
}
@mixin menu-item-current {
    background-color: var(--b3-theme-primary);
    & > .b3-menu__icon,
    & > .b3-menu__label,
    & > .b3-menu__accelerator,
    & > .fn__flex-center,
    & > .b3-menu__label > .b3-menu__icon,
    & > .b3-menu__action {
        @include color-reverse(--b3-theme-primary);
    }
    .b3-switch {
        outline: 1px solid oklch(from var(--b3-theme-primary) clamp(0, calc((0.72 - l) * 10000), 1) 0 0 / 0.7);
        transition: none;
    }
}
.b3-menu__item {
    line-height: 24px;
    @include superellipse(6px);
    &.b3-menu__item--current:not(.b3-menu__item--readonly),
    &.pdf__util__hide:hover {
        @include menu-item-current;
    }
}
.b3-menu__separator {
    background-color: var(--b3-border-color-trans);
}
// protyle-toolbar
.protyle-toolbar {
    @include superellipse($layout-border-radius);
    border: unset;
    box-shadow: unset;
    padding: 4px;
}
.protyle-toolbar__item {
    transition: var(--b3-transition);
    @include icon;
    @include superellipse(6px);
    padding: 4px;
    margin: 0 2px;
    font-size: 8px;
    height: 24px;
    &--current {
        color: var(--b3-theme-accent);
    }
    &:first-child,
    &:last-child {
        @include superellipse(6px);
    }
}
// protyle-hint
.protyle-hint {
    padding: 6px;
    @include superellipse(10px);
    border: unset;
    box-shadow: unset;
    overflow: unset;
    & > .b3-text-field {
        margin: 0 0 4px 0 !important;
        width: unset;
    }
    & > div {
        .b3-list-item {
            margin: 1px auto;
            width: 100% !important;
        }
    }
}
// protyle-util
.protyle-util {
    padding: 4px;
    @include superellipse(10px);
    border: unset;
    box-shadow: unset;
    & .block__icons--menu {
        background-color: transparent;
        & + .b3-text-field {
            background-color: transparent;
            &:hover,
            &:focus {
                box-shadow: none !important;
            }
        }
    }
}
.color__square:hover:not(.color__square--list):not(.color__square--current),
.protyle-font__style:hover {
    box-shadow: var(--neo-main-shadow);
}
// av-menu
.b3-list-item__icon,
.b3-menu__avemoji,
.b3-list-item__switch {
    @include icon;
}
.b3-form__icona-icon {
    top: 50% !important;
    transform: translateY(-50%);
    @include icon;
    box-shadow: none !important;
}
.av__panel .b3-menu__item:not([data-type=nobg]):hover,
.av__panel .b3-menu__item--current:not([data-type=nobg]) {
    @include menu-item-current;
}
.av__panel .b3-menu__label {
    min-height: unset;
}
.av__panel .b3-menu .block__icon {
    padding: 4px !important;
}
// emoji
.emojis {
    .emojis__tabheader {
        padding-bottom: 0;
        border-bottom: unset;
    }
    .emojis__type {
        transition: var(--b3-transition);
        &:hover {
            filter: saturate(1.5) brightness(1.05);
            background-color: transparent;
        }
    }
    .emojis__panel + .fn__flex {
        padding: 8px 8px 0 8px;
    }
}