@use "../utils" as *;
@use "../tools" as *;
.pdf__toolbar {
    margin-top: 4px;
}
#sidebarContainer {
    margin-top: 4px;
    background-color: var(--b3-theme-background);
}
#viewerContainer {
    margin-top: 4px;
}
#sidebarResizer {
    right: 0;
    &::after {
        background-color: var(--b3-border-color-trans);
    }
    &:hover {
        &::after {
            background-color: var(--_resize-hl);
        }
    }
}
.pdf__outer {
    .toolbarButton {
        transition: var(--b3-transition);
        @include icon;
        &.toggled {
            color: var(--b3-theme-accent);
            &:hover {
                color: var(--b3-theme-accent);
            }
        }
    }
}
#dialogContainer > .dialog {
    border: unset;
    box-shadow: unset;
    overflow: visible;
    @include superellipse(12px);
    .separator {
        background-color: var(--b3-border-color-trans);
    }
    .row {
        display: flex;
    }
}
[data-theme-mode="light"] #outerContainer:not(.pdf__outer--dark) .textLayer,
[data-theme-mode="dark"] #outerContainer.pdf__outer--dark .textLayer {
    background-color: var(--b3-theme-background);
}
// pdf标记
:root {
    --b3-pdf-background1: oklch(0.85 0.15 30);
    --b3-pdf-background2: oklch(0.85 0.15 50);
    --b3-pdf-background3: oklch(0.85 0.15 90);
    --b3-pdf-background4: oklch(0.85 0.15 150);
    --b3-pdf-background5: oklch(0.85 0.15 185);
    --b3-pdf-background6: oklch(0.85 0.15 250);
    --b3-pdf-background7: oklch(0.85 0.15 280);
    .pdf__outer--dark {
        --b3-pdf-background1: oklch(0.55 0.12 30);
        --b3-pdf-background2: oklch(0.55 0.12 50);
        --b3-pdf-background3: oklch(0.55 0.12 90);
        --b3-pdf-background4: oklch(0.55 0.12 150);
        --b3-pdf-background5: oklch(0.55 0.12 185);
        --b3-pdf-background6: oklch(0.55 0.12 250);
        --b3-pdf-background7: oklch(0.55 0.12 280);
    }
}
.pdf__rect > div:first-child,
.pdf__rect > div:last-child {
    border-radius: 0;
}