@use "../utils" as *;
@use "../tools" as *;
#sidebarContainer {
    background-color: var(--b3-theme-background);
}
#sidebarResizer {
    &::after {
        background-color: var(--b3-border-color-trans);
    }
    &:hover {
        &::after {
            background-color: $resize-hl;
        }
    }
}
.pdf__outer {
    .toolbarButton {
        transition: var(--b3-transition);
        @include icon;
        &.toggled {
            color: var(--b3-theme-accent);
            &:hover {
                color: var(--b3-theme-accent);
            }
        }
    }
}
#dialogContainer > .dialog {
    border: unset;
    box-shadow: unset;
    overflow: visible;
    @include superellipse(12px);
    .separator {
        background-color: var(--b3-border-color-trans);
    }
}
:root[data-theme-mode=light] .pdf__outer#outerContainer:not(.pdf__outer--dark) .pdfViewer .textLayer {
    background-color: var(--b3-theme-background);
}
:root[data-theme-mode=dark] .pdf__outer#outerContainer.pdf__outer--dark .pdfViewer .textLayer{
    background-color: var(--b3-theme-background);
}