@use "../tools" as *;
@use "../utils" as *;
.layout__center {
    anchor-name: --anchor-layout-center;
}
.status {
    position: absolute;
    bottom: calc(anchor(--anchor-layout-center bottom) + $layout-gap * 2);
    right: calc(anchor(--anchor-layout-center right) + $layout-gap * 2);
    @include superellipse($layout-border-radius);
    box-shadow: var(--b3-status-shadow);
    height: 26px;
    line-height: 26px;
    border: 0;
    overflow: hidden;
    z-index: 3;
    max-width: max(anchor-size(--anchor-layout-center) - 16px, 200px);
}