@use "../tools" as *;
.toolbar__item {
    @include icon;
    @include superellipse(6px);
}
#barWorkspace {
    transition: var(--b3-transition);
    .toolbar__text {
        font-size: 14px;
    }
    .toolbar__svg {
        display: none;
    }
    &:hover {
        background-color: var(--b3-theme-background) !important;
        box-shadow: var(--neo-main-shadow-light);
    }
}
#windowControls {
    .toolbar__item {
        &:hover {
            box-shadow: none;
            color: var(--b3-theme-accent);
            &#closeWindow {
                color: var(--b3-theme-error);
            }
        }
    }
}