@use "../utils" as *;
@use "../component" as *;
.av__cell [data-type=block-more] {
    background-color: var(--b3-theme-background);
    color: var(--b3-theme-on-surface);
    box-shadow: 0 0 0 1px var(--b3-border-color-trans);
    &:hover {
        color: var(--b3-theme-on-background);
    }
}
.b3-button[data-type="av-add-bottom"] {
    @include button-transparent-outline;
    padding: 3px 6px;
}
.av__gallery-item {
    box-shadow: var(--neo-main-shadow-light);
    @include superellipse(10px);
    &::before {
        background-color: transparent;
    }
    &:hover:not(.av__gallery-item--select) {
        &::before {
            background-color: transparent;
        }
    }
}
.av__gallery-fields:hover .b3-chip[data-type=block-more] {
    right: 56px;
}
.av__gallery-actions {
    right: 4px;
    top: 4px;
}
.av__gallery-add {
    box-shadow: 0 0 0 1px var(--b3-border-color-trans);
    @include button-transparent-outline;
    @include superellipse(10px);
}
.av__group-icon {
    @include icon;
}
.av__gallery-cover {
    border-bottom: 0.75px solid var(--b3-border-color-trans);
    @include superellipse(10px);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
// cell
.av__celltext--url,
.av__celltext--ref {
    border-bottom: 1px solid var(--b3-theme-accent);
    transition: var(--b3-transition);
    &:hover {
        color: var(--b3-theme-accent);
    }
}
.av__cell .b3-chip {
    outline: 1px solid oklch(from currentColor l c h / 0.2);
}
.av__celltext--url.b3-chip {
    background-color: transparent;
    outline: 1px solid var(--b3-border-color-trans);
    transition: var(--b3-transition);
    &:hover {
        color: var(--b3-theme-accent);
        background-color: oklch(from currentColor l c h / 0.05);
        outline: 1px solid oklch(from currentColor l c h / 0.2);
    }
}
.av__layout-item {
    @include superellipse(10px);
    border-color: var(--b3-border-color-trans);
}
.av__layout-item--select {
    color: var(--b3-theme-accent);
}