@use "../utils" as *;
@use "../component" as *;
.av__cell,
.av__row,
.av__row--footer {
    border-color: var(--b3-border-color);
}
.av__title {
    padding-left: 12px;
    color: var(--b3-theme-primary);
}
.av__cell--header {
    border-color: transparent;
}
.av__cell--select::after {
    @include superellipse(4px);
    box-shadow: 0 0 0 2px var(--neo-input-primary);
}
.av__gallery-item {
    box-shadow: var(--neo-main-shadow-light);
    @include superellipse(10px);
    &::before {
        background-color: transparent;
    }
    &:hover:not(.av__gallery-item--select) {
        &::before {
            background-color: transparent;
        }
    }
}
.av__gallery-fields:hover .b3-chip[data-type=block-more] {
    right: 56px;
}
.av__gallery-actions {
    right: 4px;
    top: 4px;
}
.av__gallery-add {
    @include button-transparent-hover-background;
    @include superellipse(10px);
}
.av__group-icon {
    @include icon;
}
.av__gallery-cover {
    border-bottom: 0.75px solid var(--b3-border-color-trans);
    @include superellipse(10px);
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
// cell
.av__celltext--url,
.av__celltext--ref {
    border-bottom: 1px solid var(--b3-theme-accent);
    transition: var(--b3-transition);
    &:hover {
        color: var(--b3-theme-accent);
    }
}
.av__cell .b3-chip,
.av__panel .b3-menu__item .b3-chip,
.av__panel .b3-chips .b3-chip {
    outline: 0.5px solid oklch(from currentColor l c h / 0.15);
    outline-offset: -0.5px;
    @include superellipse(4px);
    line-height: 18px;
    padding: 2px 6px;
}
.av__celltext--url.b3-chip {
    color: var(--b3-theme-on-surface);
    background-color: transparent;
    outline: 0.5px solid oklch(from currentColor l c h / 0.32);
    outline-offset: -0.5px;
    transition: var(--b3-transition);
    line-height: 18px;
    padding: 2px 6px;
    &:hover {
        color: var(--b3-theme-accent);
        background-color: oklch(from currentColor l c h / 0.1);
        outline-color: oklch(from currentColor l c h / 0.15);
    }
}
.av__layout-item {
    @include superellipse(10px);
    border-color: var(--b3-border-color-trans);
}
.av__layout-item--select {
    color: var(--b3-theme-accent);
}
// button
.av__cell [data-type=block-more] {
    background-color: var(--b3-theme-background);
    color: var(--b3-theme-on-surface);
    @include superellipse(5px);
    line-height: 16px;
    &:hover {
        color: var(--b3-theme-on-background);
    }
}
.b3-button[data-type="av-add-bottom"] {
    @include button-transparent-hover-background;
    padding: 3px 6px;
}
// filter
.av__panel .b3-menu {
    .av__filter-rowinner {
        overflow: visible;
    }
    .b3-menu__icon {
        @include icon;
    }
    .av__field-wrapper {
        border: unset;
        background-color: unset;
        gap: 6px;
        padding: 0;
    }
    .av__filter-group-children {
        border: unset;
        background-color: unset;
        outline: 1px solid var(--b3-border-color-trans);
        outline-offset: -1px;
        @include superellipse(10px);
    }
}
// 复选框
.av__gallery-field .av__checkbox {
    & + .fn__space {
        min-width: 1.5em;
    }
}