@use "../utils" as *;
.protyle-db-attr__header {
    @include superellipse(7px);
    .block__logo {
        color: var(--b3-theme-on-surface);
        font-size: unset;
        transition: var(--b3-transition);
    }
    &:hover {
        background-color: var(--b3-list-hover);
    }
}
.protyle-db-attr__body {
    .custom-attr__avvalue {
        max-height: 150px;
    }
}