@use "../utils" as *;
@use "../component" as *;
.protyle-db-attr {
    border-bottom: unset;
    padding-bottom: unset;
}
.protyle-db-attr__header {
    .block__logo {
        color: var(--b3-theme-on-surface);
        font-size: 1.05em;
        transition: var(--b3-transition);
        &:hover {
            color: var(--b3-theme-on-background);
        }
    }
}