@use "../utils" as *;
.neo-mobile {
    --mobile-bottom-bar-offset: 0;
}
#mobileBottomBar {
    margin: 6px;
    border-radius: 32px;
    width: 360px;
    width: calc(100% - 12px);
    justify-self: center;
    box-shadow: var(--neo-main-shadow);
    background-color: var(--b3-menu-background);
    @include frostedglass-menu;
}