@use "../utils" as *;
@use "../component" as *;
.neo-mobile .protyle-breadcrumb__icon {
    padding: 2px 6px;
}
#editor {
    background-color: var(--b3-theme-background);
    .neo-visual-frostedglass-global & {
        min-height: 100%;
    }
    @at-root {
        .neo-visual-frostedglass-global .neo-mobile {
            padding-bottom: 0 !important;
        }
    }
    & > .protyle-breadcrumb {
        background-color: var(--b3-theme-background);
    }
}
#mobileTopBar {
    background-color: var(--b3-theme-background);
}