@use "../utils" as *;
.toolbar__icon {
    @include superellipse(8px);
    color: var(--b3-theme-on-surface);
    transition: var(--b3-transition);
    &:not(.toolbar__icon--active) {
        &:hover,
        &:focus {
            background-color: transparent;
            color: var(--b3-theme-on-background);
        }
    }
    &.toolbar__icon--active {
        background-color: transparent;
        color: var(--b3-theme-accent);
        &:hover,
        &:focus {
            background-color: transparent;
            color: var(--b3-theme-accent);
        }
    }
}
#toolbarTabs {
    @include superellipse(8px);
    color: var(--b3-theme-on-surface);
    transition: var(--b3-transition);
    &:hover,
    &:focus {
        background-color: transparent;
        color: var(--b3-theme-on-background);
    }
}
#model .mobile-tabs__close {
    @include icon;
}
#sidebar > .toolbar > .toolbar__icon,
#sidebarRight > .toolbar > .toolbar__icon,
#menu > .b3-menu__title > .b3-menu__icon,
#model > .toolbar > .toolbar__icon,
.b3-menu--sheet > .b3-menu__title:not(.b3-menu__title--root) > .b3-menu__icon {
    box-shadow: var(--neo-main-shadow);
    border-radius: 50%;
    padding: 8px;
    margin: 2px;
    height: 16px;
    width: 16px;
    transition: var(--b3-transition), 0.65s var(--neo-ease-spring-4);
    &:hover {
        color: var(--b3-theme-on-background);
        scale: 1;
    }
    &:active {
        transform: scale(1.2);
        transition: var(--b3-transition), 0.65s var(--neo-ease-spring-4);
    }
}
#sidebar > .toolbar,
#sidebarRight > .toolbar,
#menu > .b3-menu__title,
#model > .toolbar {
    height: 48px;
    padding: 0 6px;
}
.b3-menu--sheet > .b3-menu__title:not(.b3-menu__title--root) {
    padding: 0 10px;
}
#model > .toolbar > .toolbar__text,
.b3-menu--sheet > .b3-menu__title:not(.b3-menu__title--root) .b3-menu__label {
    display: none;
}
.neo-mobile .config__view .b3-dialog__header .block__logo,
#model .config--mobile .config-bazaar__readme .item__header {
    width: 32px;
    height: 32px;
    min-height: 32px;
    top: 8px;
    left: 8px;
    &:hover {
        color: var(--b3-theme-on-background);
        scale: 1;
    }
    &:active {
        transform: scale(1.2);
        transition: var(--b3-transition), 0.65s var(--neo-ease-spring-3);
    }
}