@use "../utils" as *;
#keyboardToolbar {
    background-color: var(--b3-menu-background);
    border-top: unset;
    @include frostedglass($blur: s, $color: menu, $scope: global);
    @include superellipse-use(16px 16px 0 0);
    box-shadow: var(--b3-menu-shadow);
    margin: 0 2px -2px 2px;
    width: calc(100% - 4px);
    transform: translateY(4px); // 遮挡下阴影
}
.keyboard__bar {
    border-bottom: unset;
}
.keyboard__split {
    background-color: var(--b3-border-color-trans);
}
.keyboard__util {
    padding: 6px;
    background-color: transparent;
}
.keyboard__action.protyle-toolbar__item--current svg {
    background-color: transparent;
}
.keyboard__slash-item {
    @include superellipse-use(12px);
    background-color: transparent;
    outline: 1px solid var(--b3-border-color-trans);
    outline-offset: -1px;
    box-shadow: unset;
    color: var(--b3-theme-on-surface);
}
.protyle-util--mobile {
    border-radius: 30px !important;
    corner-shape: unset !important;
}
.keyboard__action {
    color: var(--b3-theme-on-surface);
    transition: var(--b3-transition);
    &:hover {
        color: var(--b3-theme-on-background);
    }
}
.protyle-util--mobile {
    box-shadow: var(--neo-main-shadow);
}