@use "../utils" as *;
#menu {
    transition: 0.15s var(--neo-ease-out-3);
}
.b3-menu__scrim {
    opacity: 0 !important;
    background-color: transparent;
    backdrop-filter: none;
    transition: backdrop-filter 0.3s 0s;
    &.b3-menu__scrim--open {
        opacity: 1 !important;
        backdrop-filter: brightness(0.75) saturate(0.5);
        .neo-mode-dark & {
            backdrop-filter: brightness(0.5) saturate(0.5);
        }
        .neo-visual-frostedglass & {
            z-index: -2;
            backdrop-filter: blur(2px);
        }
    }
    .neo-visual-frostedglass & {
        transition: backdrop-filter 0.15s 0s;
    }
}
.b3-menu.b3-menu--fullscreen {
    background-color: var(--b3-theme-background);
    border-radius: 0;
    corner-shape: unset;
    box-shadow: unset;
    .neo-visual-frostedglass-global & {
        background-color: transparent;
    }
    &::before {
        @include frostedglass-before($scope: global);
        @include frostedglass($blur: s, $color: background, $scope: global);
        border-radius: 0;
        corner-shape: unset;
        box-shadow: unset;
    }
    &.b3-menu--sheet {
        background-color: var(--b3-menu-background);
        @include superellipse-use(16px 16px 0 0);
        box-shadow: var(--b3-menu-shadow);
        margin: 0 2px -2px 2px;
        transition: 0.15s var(--neo-ease-out-3);
        .neo-visual-frostedglass & {
            background-color: transparent;
            box-shadow: var(--b3-menu-shadow-blur);
        }
        &::before {
            @include frostedglass-before;
            @include frostedglass($blur: s, $color: menu);
            box-shadow: var(--b3-menu-shadow-inset);
        }
        .b3-menu__title {
            &::before {
                background-color: oklch(from var(--b3-theme-on-background) l c h / 0.5);
            }
            &:not(.b3-menu__title--root) {
                border-radius: inherit;
                corner-shape: inherit;
                background-color: transparent;
            }
        }
        .b3-menu__submenu {
            background-color: var(--b3-menu-background);
            @include frostedglass($blur: s, $color: menu);
            transition: none;
            box-shadow: none;
            &::before {
                display: none;
            }
        }
    }
    .b3-menu__title {
        border-bottom: unset;
        background-color: transparent;
    }
    .b3-menu__items {
        background-color: transparent;
    }
    .b3-menu__item {
        background-color: transparent;
        border: unset;
        &--current {
            border-radius: 8px !important;
        }
    }
    .b3-menu__separator {
        background-color: transparent;
        border: unset;
    }
}
.b3-menu__groups {
    background-color: transparent;
}
.b3-menu__group-title {
    font-weight: bold;
}
.b3-menu__group-items {
    background-color: oklch(from var(--b3-theme-surface) l c h / 0.32);
    outline: .5px solid oklch(from var(--b3-theme-on-background) l c h / 0.12);
    outline-offset: -0.5px;
    @include superellipse-use(14px);
    & .b3-menu__item {
        background-color: transparent;
        border: none !important;
    }
}