.side-mask {
    opacity: 0 !important;
}
.neo-mobile {
    -webkit-tap-highlight-color: transparent;
    .toolbar {
        border-bottom: unset;
        background-color: transparent;
    }
    .b3-dialog__container {
        max-width: 95vw !important;
        max-height: 95vh !important;
        min-width: 300px !important;
    }
}