@use "../utils" as *;
@use "../component" as *;
.neo-mobile {
    background-color: var(--b3-theme-background);
    .side-mask {
        background-color: transparent;
    }
    // status
    .status {
        position: fixed;
        top: unset;
        bottom: -26px;
        corner-shape: unset;
        border-radius: unset;
        box-shadow: unset;
        height: 26px;
        line-height: 26px;
        border: unset;
        padding: 0 6px;
        overflow: unset;
        z-index: unset;
        max-width: unset;
    }
    // menu
    .b3-menu--fullscreen {
        padding: 0;
        box-shadow: unset;
        &::before {
            corner-shape: unset;
            border-radius: unset;
            box-shadow: unset;
        }
        .b3-menu__title {
            border-bottom: unset;
            background-color: transparent;
            box-sizing: border-box;
        }
        .b3-menu__items {
            background-color: transparent;
        }
        .b3-menu__item {
            background-color: transparent;
            border: unset;
        }
        .b3-menu__separator {
            background-color: transparent;
            border: unset;
        }
    }
    .b3-menu__group-items {
        background-color: oklch(from var(--b3-theme-surface) l c h / 0.32);
        outline: .5px solid oklch(from var(--b3-theme-on-background) l c h / 0.12);
        outline-offset: -0.5px;
        & > .b3-menu__item {
            background-color: transparent;
            border: none !important;
        }
    }
    .b3-menu__groups {
        background-color: transparent;
    }
    .toolbar {
        border-bottom: unset;
        background-color: transparent;
        box-sizing: border-box;
    }
    // editor
    #editor {
        background-color: var(--b3-theme-background);
        & > .protyle-breadcrumb {
            .protyle-breadcrumb__icon {
                transition: var(--b3-transition);
                width: max-content;
                @include button-transparent;
                color: var(--b3-theme-on-surface);
                &:hover,
                &:focus {
                    color: var(--b3-theme-accent);
                }
            }
        }
    }
    // sidebar
    #sidebar {
        background-color: var(--b3-theme-background);
        @include frostedglass($blur: s, $color: background);
    }
    // model
    #model {
        background-color: var(--b3-theme-background);
        .neo-visual-frostedglass & {
            background-color: transparent;
        }
        &::before {
            @include frostedglass-before;
            @include frostedglass($blur: s, $color: background);
        }
    }
    #model .config-group {
        margin: 0;
    }
    #model .config-assets__preview {
        background-color: transparent;
    }
    #model .config-items {
        background-color: oklch(from var(--b3-theme-surface) l c h / 0.32);
    }
    .config--mobile {
        background-color: transparent !important;
    }
    // keyboard
    #keyboardToolbar {
        background-color: var(--b3-theme-surface);
        border-top: 1px solid var(--b3-border-color-trans);
    }
    .keyboard__bar {
        border-bottom: 1px solid var(--b3-border-color-trans);
    }
    .keyboard__split {
        background-color: var(--b3-border-color-trans);
    }
    .keyboard__util {
        padding: 6px;
    }
    .protyle-toolbar__item--current svg {
        background-color: transparent;
    }
    .keyboard__slash-item {
        @include superellipse(12px);
        background-color: transparent;
        outline: 1px solid var(--b3-border-color-trans);
        outline-offset: -1px;
        box-shadow: unset;
        color: var(--b3-theme-on-surface);
    }
    .protyle-util--mobile {
        @include superellipse(30px);
    }
    .keyboard__action {
        color: var(--b3-theme-on-surface);
        transition: var(--b3-transition);
        &:hover {
            color: var(--b3-theme-on-background);
        }
    }
    .protyle-util--mobile {
        box-shadow: var(--neo-main-shadow);
    }
    // icon
    .toolbar__icon {
        @include superellipse(8px);
        color: var(--b3-theme-on-surface);
        transition: var(--b3-transition);
        &:not(.toolbar__icon--active) {
            &:hover,
            &:focus {
                background-color: transparent;
                color: var(--b3-theme-on-background);
            }
        }
        &.toolbar__icon--active {
            background-color: transparent;
            color: var(--b3-theme-accent);
            &:hover,
            &:focus {
                color: var(--b3-theme-accent);
            }
        }
    }
    #toolbarTabs {
        @include superellipse(8px);
        color: var(--b3-theme-on-surface);
        transition: var(--b3-transition);
        &:hover,
        &:focus {
            background-color: transparent;
            color: var(--b3-theme-on-background);
        }
    }
    // tab
    .mobile-tabs__item {
        @include superellipse(14px);
        border: unset;
        outline: 1px solid var(--b3-border-color-trans);
        outline-offset: -1px;
        background-color: transparent;
        &.mobile-tabs__item--active {
            outline-color: oklch(from var(--b3-base-color) clamp(0.4, l, 1) c h / 0.3);
            background-color: oklch(from var(--b3-base-color) clamp(0.4, l, 1) c h / 0.12);
            box-shadow: none;
        }
    }
    .mobile-tabs__actions {
        border-color: var(--b3-border-color-trans);
    }
}