@use "../utils" as *;
@use "../component" as *;
.neo-mobile {
    background-color: var(--b3-theme-background);
    .side-mask {
        background-color: transparent;
    }
    // status
    .status {
        position: fixed;
        top: unset;
        bottom: -26px;
        corner-shape: unset;
        border-radius: unset;
        box-shadow: unset;
        height: 26px;
        line-height: 26px;
        border: unset;
        padding: 0 6px;
        overflow: unset;
        z-index: unset;
        max-width: unset;
    }
    // menu
    .b3-menu--fullscreen {
        padding: 0;
        box-shadow: unset;
        &::before {
            corner-shape: unset;
            border-radius: unset;
            box-shadow: unset;
        }
        .b3-menu__title {
            border-bottom: 1px solid var(--b3-border-color-trans);
            background-color: transparent;
            box-sizing: border-box;
        }
        .b3-menu__items {
            background-color: transparent;
        }
        .b3-menu__item {
            background-color: transparent;
            border: unset;
        }
        .b3-menu__separator {
            background-color: transparent;
            border: unset;
        }
    }
    // editor
    & > .toolbar {
        border-bottom: unset;
        background-color: var(--b3-theme-background);
        box-sizing: border-box;
    }
    #editor {
        background-color: var(--b3-theme-background);
        & > .protyle-breadcrumb {
            .protyle-breadcrumb__icon {
                transition: var(--b3-transition);
                padding: 4px 8px;
                line-height: 16px;
                width: max-content;
                @include button-transparent-outline;
                color: var(--b3-theme-accent);
                &:hover,
                &:focus {
                    color: var(--b3-theme-accent);
                }
            }
        }
    }
    // sidebar
    #sidebar {
        background-color: var(--b3-theme-background);
        @include frostedglass($blur: s, $color: background);
        & > .toolbar:first-child {
            border-bottom: 1px solid var(--b3-border-color-trans);
            box-sizing: border-box;
        }
        .toolbar {
            background-color: transparent;
        }
    }
    // model
    #model {
        background-color: var(--b3-theme-background);
        .neo-visual-frostedglass & {
            background-color: transparent;
        }
        &::before {
            @include frostedglass-before;
            @include frostedglass($blur: s, $color: background);
        }
        & > .toolbar--border {
            border-bottom: 1px solid var(--b3-border-color-trans);
            background-color: transparent;
            box-sizing: border-box;
        }
    }
    #model .config-group {
        margin: 24px;
    }
    // keyboard
    #keyboardToolbar {
        background-color: var(--b3-theme-surface);
        border-top: 1px solid var(--b3-border-color-trans);
    }
    .keyboard__bar {
        border-bottom: 1px solid var(--b3-border-color-trans);
    }
    .keyboard__split {
        background-color: var(--b3-border-color-trans);
    }
    .keyboard__util {
        padding: 6px;
    }
    .keyboard__slash-item {
        @include superellipse(12px);
        background-color: transparent;
        outline: 1px solid var(--b3-border-color-trans);
        outline-offset: -1px;
        color: var(--b3-theme-on-surface);
    }
    // icon
    .toolbar__icon {
        @include superellipse(8px);
    }
    .toolbar__icon--active,
    .toolbar__icon:not(.toolbar__icon-deactivate):focus,
    .toolbar__icon:not(.toolbar__icon-deactivate):hover {
        background-color: transparent;
    }
}