@use "../utils" as *;
#model {
    background-color: var(--b3-theme-background);
    @include frostedglass-menu($scope: global);
    transition: 0.15s var(--neo-ease-out-3);
    #modelMain > .fn__flex-column {
        background-color: transparent !important;
    }
    .config-group {
        margin: 0;
    }
    .config-items {
        background-color: oklch(from var(--b3-theme-surface) l c h / 0.32);
        margin-bottom: 8px;
    }
    .config--mobile {
        background-color: transparent !important;
    }
    .config-title {
        font-weight: bold;
    }
    .config-assets__preview {
        background-color: transparent;
    }
    .mobile-setting-menu__search {
        background-color: transparent;
    }
    .sy__agentChat--mobile {
        background-color: transparent;
    }
    .config__view {
        .b3-dialog__content {
            padding: 8px 16px !important;
        }
    }
}