@use "../utils" as *;
.neo-mobile {
    .status {
        bottom: -26px;
        height: 26px;
        line-height: 26px;
        padding: 0 12px;
        @include superellipse-use(8px 8px 0 0);
        box-shadow: var(--neo-main-shadow);
        margin: 0 2px -2px 2px;
        width: calc(100% - 4px);
    }
}