@use "../utils" as *;
.neo-mobile {
    .status {
        bottom: -32px;
        height: 28px;
        line-height: 28px;
        padding: 0 12px;
        margin: 0 12px 3px 12px;
        width: calc(100% - 24px);
        justify-self: center;
        border-radius: 32px;
        box-shadow: var(--neo-main-shadow);
        background-color: var(--b3-menu-background);
        @include frostedglass-menu;
        .neo-frostedglass-luminous & {
            @include frostedglass-luminous(status);
        }
    }
}
