@use "../utils" as *;
.b3-snackbar {
    transition: none !important;
    transform: none !important;
}
.b3-snackbars {
    top: 8px;
    right: 18px;
    transition: none;
    transform: none;
    & > .fn__flex-1 {
        padding: 30px;
    }
    .body--toolbar-hide & {
        top: 18px;
    }
    .body--window & {
        top: 0;
        right: 0;
    }
    .neo-mobile & {
        right: 0;
    }
}
.b3-snackbar__close {
    display: none;
}
.b3-snackbar__content {
    @include superellipse(16px);
    box-shadow: var(--b3-message-shadow);
    color: var(--b3-theme-on-background);
    background-color: var(--b3-theme-surface);
    @include frostedglass($blur: s, $color: surface, $alpha: 0.6);
    padding: 12px 24px !important; // 覆盖内联
    transition: none;
    transform: none;
    transform-origin: center;
    will-change: transform;
    .b3-snackbar--hide &,
    .b3-snackbar--hide:not(:only-child) & {
        animation: neo-message-out 1.2s var(--neo-ease-spring-2);
        transition: display 1.2s;
        transition-behavior: allow-discrete;
    }
    .b3-snackbars--show & {
        animation: neo-message-entrance 0.3s var(--neo-ease-out-3);
    }
    .b3-snackbar--error & {
        &::after {
            content: none;
        }
    }
    a {
        color: var(--b3-theme-on-background);
        text-decoration-color: var(--b3-theme-accent);
        transition: var(--b3-transition);
        &:hover {
            color: var(--b3-theme-accent);  
        }
    }
}
@keyframes neo-message-entrance {
    0% {
        opacity: 0;
        filter: blur(16px);
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        filter: none;
        transform: none;
    }
}
@keyframes neo-message-out {
    0% {
        opacity: 1;
        filter: none;
        transform: none;
    }
    100% {
        opacity: 0;
        filter: blur(12px);
        transform: scale(1.2);
    }
}