@use "../utils" as *;
.tooltip {
    @include superellipse-use(8px);
    box-shadow: var(--neo-main-shadow);
    color: var(--b3-theme-on-background);
    background-color: var(--b3-menu-background);
    @include frostedglass($blur: s, $color: menu, $alpha: 0.6);
    animation: neo-tooltip-entrance 0.45s var(--neo-ease-spring-2);
    transform-origin: center;
    animation-delay: 0.3s;
    animation-fill-mode: both;
    &.tooltip--memo {
        padding: 8px 16px;
        font-size: 14px;
    }
}
@keyframes neo-tooltip-entrance {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
    }
}
.b3-tooltips {
    &:not(:hover) {
        &::after {
            transition: none;
        }
    }
    &::after {
        @include superellipse-use(8px);
        box-shadow: var(--neo-main-shadow);
        color: var(--b3-theme-on-background);
        background-color: var(--b3-menu-background);
        @include frostedglass($blur: s, $color: menu, $alpha: 0.6);
    }
}