@use "../utils" as *;
@mixin button-common {
    padding: 4px 12px;
    line-height: 18px;
    @include superellipse(7px);
    box-shadow: none;
    outline: none;
    transition: var(--b3-transition), transform 0.45s var(--neo-ease-spring-3);
    &:hover,
    &:active,
    &:focus {
        box-shadow: none; // 覆写思源的按钮阴影
        // outline: none; 设置此属性会导致hover时按钮outline被覆写
    }
    &:active {
        transform: scale(0.975);
        transition: var(--b3-transition), transform 0.15s var(--neo-ease-out-3);
    }
}
@mixin button-primary {
    @include button-common;
    background-color: var(--neo-button-primary);
    @include contrast-color(--neo-button-primary);
    @include contrast-color(--neo-button-primary-hover, --b3-theme-on-primary); // 兼容插件显式设置的按钮颜色
    --neo-button-primary-hover: oklch(from var(--neo-button-primary) calc(l + 0.0225 + 0.0575 * sign(0.680000001 - l)) c h);
    &:hover,
    &:active,
    &:focus {
        background-color: var(--neo-button-primary-hover);
        @include contrast-color(--neo-button-primary-hover);
    }
}
@mixin button-warning {
    @include button-common;
    background-color: var(--b3-theme-error-bg);
    @include contrast-color(--b3-theme-error-bg);
    --neo-button-warning-hover: oklch(from var(--b3-theme-error-bg) calc(l + (0.05 * sign(0.4999999 - l))) c h);
    &:hover,
    &:active,
    &:focus {
        background-color: var(--neo-button-warning-hover);
        @include contrast-color(--neo-button-warning-hover);
    }
}
@mixin button-gray {
    @include button-common;
    background-color: var(--b3-list-hover);
    color: var(--b3-theme-on-surface);
    &:hover,
    &:active,
    &:focus {
        background-color: oklch(from var(--b3-list-hover) l c h / 0.12);
        color: var(--b3-theme-on-surface);
    }
}
@mixin button-transparent {
    @include button-common;
    background-color: transparent;
    color: var(--b3-theme-on-surface);
    &:hover,
    &:active,
    &:focus {
        background-color: transparent;
        color: var(--b3-theme-on-background);
    }
}
@mixin button-outline {
    @include button-common;
    background-color: transparent;
    color: var(--b3-theme-on-surface);
    outline: 1px solid var(--b3-border-color-trans);
    outline-offset: -1px;
    &:hover,
    &:active,
    &:focus {
        background-color: var(--b3-list-hover);
        color: var(--b3-theme-on-surface);
    }
}
@mixin button-transparent-hover-gray {
    @include button-common;
    background-color: transparent;
    color: var(--b3-theme-on-surface);
    &:hover,
    &:active,
    &:focus {
        background-color: var(--b3-list-hover);
        color: var(--b3-theme-on-surface);
    }
}
@mixin button-outline-hover-primary {
    @include button-common;
    background-color: transparent;
    color: var(--b3-theme-on-surface);
    outline: 1px solid var(--b3-border-color-trans);
    outline-offset: -1px;
    &:hover,
    &:active,
    &:focus {
        background-color: var(--neo-button-primary);
        outline-color: var(--neo-button-primary);
        @include contrast-color(--neo-button-primary);
    }
}
@mixin button-outline-hover-warning {
    @include button-common;
    background-color: transparent;
    color: var(--b3-theme-on-surface);
    outline: 1px solid var(--b3-border-color-trans);
    outline-offset: -1px;
    &:hover,
    &:active,
    &:focus {
        background-color: var(--b3-theme-error-bg);
        outline-color: var(--b3-theme-error-bg);
        @include contrast-color(--b3-theme-error-bg);
    }
}
.b3-chip {
    @include superellipse(7px);
    color: var(--b3-theme-on-surface);
    background-color: var(--b3-list-hover);
    transition: var(--b3-transition);
    opacity: 1;
    .b3-chips & {
        transition: var(--b3-transition);
    }
    &:hover {
        color: var(--b3-theme-on-surface);
        background-color: var(--b3-list-active);
        opacity: 1;
    }
    &.b3-chip--primary,
    &.b3-chip--current {
        background-color: var(--neo-button-primary);
        @include contrast-color(--neo-button-primary);
        &.history__compare-filter {
            & > span {
                outline: 1px solid;
                @include contrast-color(--neo-button-primary, outline-color, 0.8);
            }
        }
    }
}
.b3-button {
    @include button-outline;
    &--outline {
        @include button-outline-hover-primary;
    }
    &--text {
        @include button-transparent-hover-gray;
    }
    &--cancel {
        @include button-transparent-hover-gray;
    }
    &--remove {
        @include button-outline-hover-warning;
    }
    &--primary {
        @include button-primary;
    }
}
// 设置页按钮
.config__tab-wrap,
.config__item,
#modelMain {
    .b3-button {
        @include button-transparent-hover-gray;
    }
    .b3-button--outline {
        @include button-outline-hover-primary;
    }
    .b3-button--remove,
    #removeAll,
    #removeAVAll,
    #clearSearchBtn,
    #clearHistory,
    #clearTempFiles,
    #resetLayout,
    #pandocBinReset,
    #keymapResetBtn,
    #purgeCloudData,
    #resetRepo,
    #purgeRepo {
        @include button-outline-hover-warning;  
    }
}
// 消息按钮
.b3-snackbars {
    .b3-button {
        @include button-outline;
    }   
}
// action按钮
.b3-dialog__action,
.config-account__center,
#action,
.emojis__link-footer {
    .b3-button {
        @include button-gray;
    }
    .b3-button--text {
        @include button-primary;
    }
    .b3-button--cancel {
        @include button-gray;
    }
    .b3-button--remove {
        @include button-warning;
    }
}
// 集市按钮
.config-bazaar__title {
    .b3-button {
        @include button-transparent;
        padding: 0 8px;
        &:not(.b3-button--outline) {
            @include button-transparent;
            padding: 0 8px;
            color: var(--b3-theme-accent);
            &:hover,
            &:active,
            &:focus {
                color: var(--b3-theme-accent);
            }
        }
        &[data-type="install-all"] {
            @include button-outline-hover-primary;
        }
    }
}
.config-bazaar__readme .item__side {
    .b3-button {
        @include button-outline-hover-primary;
        &[data-type="uninstall"],
        &[data-type="package-disable"] {
            @include button-outline-hover-warning;
        }
    }
}
// pdf搜索栏
.pdf__outer .findbar {
    .b3-button--outline {
        @include button-outline;
    }
    .b3-button:not(.b3-button--outline) {
        @include button-primary;
    }
    #findResultsCount, #findMsg {
        @include button-transparent;
    }
}
// 闪卡按钮
.card__action .b3-button {
    line-height: 32px;
    @include superellipse(16px);
    padding: 8px 0;
    .card__icon {
        display: none
    }
    &[data-type="-3"] {
        @include button-outline;
        line-height: 32px;
        @include superellipse(16px);
        padding: 8px 0;
    }
    &[data-type="-2"] {
        @include button-transparent-hover-gray;
        line-height: 32px;
        @include superellipse(16px);
        padding: 8px 0;
    }
    &[data-type="-1"] {
        @include button-primary;
        line-height: 32px;
        @include superellipse(16px);
        padding: 8px 0;
    }
    &[data-type="1"],
    &[data-type="2"],
    &[data-type="3"],
    &[data-type="4"] {
        background-color: oklch(from currentColor l c h / 0.15);
        outline-color: oklch(from currentColor l c h / 0.12);
        line-height: 32px;
        @include superellipse(16px);
        padding: 8px 0;
        &:hover {
            background-color: oklch(from currentColor calc(l + 0.08) c h / 0.25);
        }
    }
    &[data-type="1"] {
        color: var(--b3-card-error-color);
    }
    &[data-type="2"] {
        color: var(--b3-card-warning-color);
    }
    &[data-type="3"] {
        color: var(--b3-card-info-color);
    }
    &[data-type="4"] {
        color: var(--b3-card-success-color);
    }
}
// 题头图
.b3-cover__tabs {
    padding: 0 16px;
    .b3-chip {
        @include button-transparent;
        padding: 0 8px;
        &.b3-chip--current {
            color: var(--b3-theme-accent);
        }
    }
}
// misc
.b3-button[data-action="addCustom"] {
    @include button-transparent-hover-gray;   
}