@use "../utils" as *;
@use "sass:map";
@mixin button-common {
    padding: 4px 16px;
    line-height: 18px;
    @include superellipse(7px);
    box-shadow: none;
    outline: none;
    transition: var(--b3-transition), transform 0.45s var(--neo-ease-spring-3);
    &:hover,
    &:active,
    &:focus {
        box-shadow: none; // 覆写思源的按钮阴影
        // outline: none; 设置此属性会导致hover时按钮outline被覆写
    }
    &:active {
        transform: scale(0.975);
        transition: var(--b3-transition), transform 0.15s var(--neo-ease-out-3);
    }
}
@mixin button-solid($color: primary) {
    $colors: (
        primary: "--neo-button-primary",
        error: "--b3-theme-error-bg",
        success: "--b3-theme-success-bg",
    );
    $var: map.get($colors, $color);
    $hover-var: #{$var}-hover;
    @include button-common;
    background-color: var(#{$var});
    @include contrast-color($var);
    #{$hover-var}: oklch(from var(#{$var}) calc(l + 0.0225 + 0.0575 * sign(0.680000001 - l)) c h);
    &:hover,
    &:active,
    &:focus {
        background-color: var(#{$hover-var});
        @include contrast-color($hover-var);
    }
}
@mixin button-translucent($color: on-surface) {
    $colors: (
        on-surface: "--b3-theme-on-surface",
        error: "--b3-theme-error",
        accent: "--b3-theme-accent",
    );
    @if map.has-key($colors, $color) {
        $color: var(#{map.get($colors, $color)});
    }
    @include button-common;
    background-color: oklch(from currentColor l c h / 0.08);
    color: $color;
    &:hover,
    &:active,
    &:focus {
        background-color: oklch(from currentColor l c h / 0.12);
        color: $color;
    }
}
@mixin button-transparent {
    @include button-common;
    background-color: transparent;
    color: var(--b3-theme-on-surface);
    &:hover,
    &:active,
    &:focus {
        background-color: transparent;
        color: var(--b3-theme-on-background);
    }
}
@mixin button-transparent-hover-translucent {
    @include button-common;
    background-color: transparent;
    color: var(--b3-theme-on-surface);
    &:hover,
    &:active,
    &:focus {
        background-color: oklch(from currentColor l c h / 0.08);
        color: var(--b3-theme-on-surface);
    }
}
@mixin button-outline {
    @include button-common;
    background-color: transparent;
    color: var(--b3-theme-on-surface);
    outline: 1px solid var(--b3-border-color-trans);
    outline-offset: -1px;
    &:hover,
    &:active,
    &:focus {
        background-color: oklch(from currentColor l c h / 0.08);
        color: var(--b3-theme-on-surface);
    }
}
@mixin button-outline-hover-solid($color: primary) {
    $colors: (
        primary: "--neo-button-primary",
        error: "--b3-theme-error-bg",
        success: "--b3-theme-success-bg",
    );
    $var: map.get($colors, $color);
    @include button-common;
    background-color: transparent;
    color: var(--b3-theme-on-surface);
    outline: 1px solid var(--b3-border-color-trans);
    outline-offset: -1px;
    &:hover,
    &:active,
    &:focus {
        background-color: var(#{$var});
        outline-color: var(#{$var});
        @include contrast-color($var);
    }
}
// chip
.b3-chip {
    @include superellipse(7px);
    color: var(--b3-theme-on-surface);
    background-color: oklch(from currentColor l c h / 0.08);
    transition: var(--b3-transition);
    opacity: 1;
    .b3-chips & {
        transition: var(--b3-transition);
    }
    &:hover {
        color: var(--b3-theme-on-surface);
        background-color: oklch(from currentColor l c h / 0.12);
        opacity: 1;
    }
    &.b3-chip--primary,
    &.b3-chip--current {
        background-color: var(--neo-button-primary);
        @include contrast-color(--neo-button-primary);
        &.history__compare-filter {
            & > span {
                outline: 1px solid;
                @include contrast-color(--neo-button-primary, outline-color, 0.8);
            }
        }
    }
}
// 通用
.b3-button {
    @include button-outline;
    &--outline {
        @include button-outline-hover-solid(primary);
    }
    &--text {
        @include button-transparent-hover-translucent;
    }
    &--cancel {
        @include button-transparent-hover-translucent;
    }
    &--remove {
        @include button-outline-hover-solid(error);
    }
    &--primary {
        @include button-solid(primary);
    }
}
// 设置页按钮
.config__tab-wrap,
.config__item,
#modelMain {
    .b3-button {
        @include button-transparent-hover-translucent;
    }
    .b3-button--outline {
        @include button-outline-hover-solid(primary);
    }
    .b3-button--remove,
    #removeAll,
    #removeAVAll,
    #clearSearchBtn,
    #clearHistory,
    #clearTempFiles,
    #resetLayout,
    #pandocBinReset,
    #keymapResetBtn,
    #purgeCloudData,
    #resetRepo,
    #purgeRepo {
        @include button-outline-hover-solid(error);  
    }
}
// action按钮
.b3-dialog__action,
.config-account__center,
#action,
.emojis__link-footer,
.ai-editor-panel__actions {
    .b3-button {
        @include button-translucent(on-surface);
    }
    .b3-button--text {
        @include button-solid(primary);
    }
    .b3-button--cancel {
        @include button-translucent(on-surface);
    }
    .b3-button--remove {
        @include button-translucent(error);
    }
}
// misc
.b3-button[data-action="addCustom"] {
    @include button-transparent-hover-translucent;   
}