@use "../utils" as *;
@mixin input-common {
    @include superellipse(7px);
    height: 26px;
    min-height: 26px;
    line-height: 18px;
    font-size: 13px;
    color: var(--b3-theme-on-background);
    background-color: var(--neo-input-background);
    box-shadow: unset;
    transition: box-shadow var(--b3-transition);
    &:hover {
        background-color: var(--neo-input-background);
        --b3-border-color: transparent !important; // 取消阴影
    }
    &:focus {
        animation: neo-input-focus-ring 0.3s ease-out forwards;
        background-color: var(--neo-input-background);
    } 
}
@keyframes neo-input-focus-ring {
    0% {
        box-shadow: 0 0 15px 20px oklch(from var(--neo-input-primary) l c h / 0);
    }
    20% {
        box-shadow: 0 0 5px 10px oklch(from var(--neo-input-primary) l c h / 0.15);
    }
    100% {
        box-shadow: 0 0 0 2px var(--neo-input-primary);
    }
}
.b3-select {
    @include input-common;
    appearance: base-select;
    font-weight: normal;
    text-wrap-mode: nowrap;
    &::picker-icon {
        display: none;
    }
    &::picker(select) {
        appearance: base-select;
        color: var(--b3-theme-on-background);
        border: none;
        padding: 8px;
        background-color: var(--b3-theme-background);
        @include superellipse(10px);
        @include frostedglass($blur: l, $color: menu);
        box-shadow: var(--b3-menu-shadow);
    }
    option {
        @include superellipse(7px);
        display: flex;
        align-items: center;
        &:hover {
            background-color: var(--neo-menu-item-primary);
            @include contrast-color(--neo-menu-item-primary);
        }
        &:checked:not(:hover) {
            color: var(--b3-theme-accent);
        }    
        &::checkmark {
            margin-left: auto;
            order: 1;
        }
        &:focus-visible {
            outline: unset;
        }
    }
    &:hover {
        background-color: var(--neo-input-background);
        box-shadow: unset;
    }
    &:focus {
        background-color: var(--neo-input-background);
        box-shadow: 0 0 0 2px var(--neo-input-primary);
    }
}
.av__panel .b3-menu .av__filter-row,
.av__panel .b3-menu .av__filter-group-left {
    .b3-select,
    .b3-text-field--text {
        background-color: var(--neo-input-background);
        box-shadow: unset;
        border: unset;
        @include superellipse(7px);
        &:hover {
            background-color: var(--neo-input-background);
            box-shadow: unset;
        }
        &:focus {
            background-color: var(--neo-input-background);
            box-shadow: 0 0 0 2px var(--neo-input-primary);
        }
    }
}
.b3-text-field {
    @include input-common;
    .search__header & {
        box-shadow: none !important;
        background-color: transparent;
    }
    .block__icons + & {
        box-shadow: none !important;
    }
    .dockPanel .block__icons & {
        background-color: var(--b3-theme-background) !important;
    }
    .av__mask & {
        background-color: var(--b3-theme-background) !important;
    }
}
$slider-thumb-border-width: 0;
$slider-thumb-y: -5px;
$slider-thumb-height: 13px;
$slider-thumb-width: 20px;
$slider-track-height: 6px;
.b3-slider,
.protyle-scroll__bar .b3-slider {
    padding: 0;
    height: 26px;
    transition: 0.8s var(--neo-ease-spring-4);
    -webkit-appearance: none;
    &::-webkit-slider-runnable-track {
        height: $slider-track-height;
        border-radius: 6px;
        background-color: var(--neo-input-background);
        -webkit-appearance: none;
    }
    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        height: $slider-thumb-height;
        width: $slider-thumb-width;
        border-radius: 24px;
        background: #ffffff;
        box-shadow: var(--neo-main-shadow-light);
        transition: 0.8s var(--neo-ease-spring-4);
    }
    .neo-mode-dark &::-webkit-slider-thumb {
        background-color: #e0e0e0 !important;
    }
    &:hover {
        &::-webkit-slider-thumb {
            transform: none;
        }
    }
    &:focus {
        &::-webkit-slider-thumb {
            transform: scale(1.25);
        }
    }
}
.protyle-scroll__bar .b3-slider {
    padding: 0 4px;
    height: 18px;
}
input[type="radio" i],
input[type="checkbox"]:not(.b3-switch) {
    appearance: none;
    width: 1.2em;
    height: 1.2em;
    align-self: center;
    flex-shrink: 0;
    background-color: var(--b3-theme-on-surface);
    animation: neo-ratio-entrance 0.6s var(--neo-ease-spring-3);
    transform-origin: 30% 70%;
    mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path d="M512 903.110656c216.004608 0 391.110656-175.106048 391.110656-391.110656S728.004608 120.889344 512 120.889344 120.889344 295.995392 120.889344 512 295.995392 903.110656 512 903.110656z m0 64C260.64896 967.110656 56.889344 763.35104 56.889344 512S260.64896 56.889344 512 56.889344 967.110656 260.64896 967.110656 512 763.35104 967.110656 512 967.110656z"/></svg>');
    &:checked {
        background-color: var(--b3-theme-primary);
        animation: neo-ratio-checked-entrance 0.6s var(--neo-ease-spring-3);
        mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1024 1024"><path d="M512.45568 57.344c251.35104 0 455.11168 203.76064 455.11168 455.11168 0 251.35104-203.76064 455.11168-455.11168 455.11168C261.10464 967.56736 57.344 763.80672 57.344 512.45568 57.344 261.10464 261.10464 57.344 512.45568 57.344z m272.444416 288.876544c-5.842944-5.445632-16.21504-5.953536-22.995968-1.074176l-0.315392 0.232448-301.232128 228.097024c-5.515264 4.176896-15.601664 4.72064-21.655552 1.186816l-0.320512-0.193536-113.998848-71.015424c-7.031808-4.380672-16.93696-2.89792-22.390784 3.219456l-0.24576 0.2816-13.169664 15.497216c-5.553152 6.53312-4.62848 15.625216 1.519616 21.586944l0.27136 0.258048 140.93312 131.342336c10.247168 9.550848 26.529792 10.051584 36.615168 0.9728l0.313344-0.28672 323.310592-301.310976c6.679552-6.223872 7.225344-15.606784 1.036288-21.63712l-0.254976-0.241664-7.419904-6.915072z"/></svg>');
    }
    &:disabled {
        background-color: var(--b3-theme-on-surface);
        opacity: 0.5;
    }
    .protyle-task & {
        top: 50%;
        transform: translateY(-50%);
    }
}
@keyframes neo-ratio-entrance {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}
@keyframes neo-ratio-checked-entrance {
    from {
        transform: scale(1.2);
    }
    to {
        transform: scale(1);
    }
}