::-webkit-scrollbar {
    background-color: transparent !important;
    width: 12px !important;
    height: 12px !important;
}
::-webkit-scrollbar-thumb {
    border: 2px solid transparent !important;
    border-radius: 8px !important;
    background-clip: padding-box !important;
    background-color: var(--b3-scroll-color) !important;
    &:hover {
        border: 2px solid transparent !important;
        background-color: var(--b3-scroll-color-hover) !important;
    }
}