@use "../utils" as *;
@use "../component" as *;
:root {
    --_emoji-transiton: 0.65s var(--neo-ease-spring-4);
}
.emojis {
    .emojis__tabheader {
        padding-bottom: 0;
        border-bottom: unset;
    }
    .emojis__type {
        @include icon;
        @include superellipse(12px);
        transition: var(--_emoji-transiton);
        &:hover {
            filter: url(#neo-neon-emoji) saturate(1.5) brightness(1.02);
            scale: 1.35;
            background-color: transparent;
            box-shadow: none;
        }
    }
    .emojis__panel + .fn__flex {
        padding: 8px 8px 0 8px;
    }
    .emojis__item {
        @include icon;
        @include superellipse(12px);
        color: unset;
        transition: var(--_emoji-transiton);
        &:hover {
            filter: url(#neo-neon-emoji) saturate(1.5) brightness(1.02);
            scale: 1.35;
            box-shadow: none;
        }
    }
}
.emojis__title {
    position: unset;
    background-color: transparent;
}
.emojis__types {
    padding: 8px 8px 0 8px;
}
.emojis__link-empty-content {
    justify-content: center;
}
.emojis__link-upload {
    @include button-transparent-hover-gray;
    height: auto;
    display: inline-flex;
    margin: 0 auto;
    font-size: unset;
    svg {
        width: 16px;
        height: 16px;
    }
}
.emojis__link-preview {
    background-color: transparent;
}
.emojis__link-sample {
    border: unset;
    @include superellipse(10px);
}