@use "../utils" as *;
@use "../component" as *;
:root {
    --_emoji-transiton: 0.65s var(--neo-ease-spring-4);
}
[data-key="dialog-emojis"] .b3-dialog__scrim {
    opacity: 0 !important;
}
.emojis {
    .emojis__tabheader {
        padding-bottom: 0;
        border-bottom: unset;
    }
    .emojis__type {
        @include icon;
        @include superellipse(12px);
        transition: var(--_emoji-transiton);
        &:hover,
        &.emojis__type--current {
            color: var(--b3-theme-on-background);
            animation: neo-emoji-flow 0.32s var(--neo-ease-out-2) both;
            transform: scale(1.35);
            box-shadow: none;
        }
    }
    .emojis__item {
        @include icon;
        @include superellipse(12px);
        color: unset;
        transition: var(--_emoji-transiton);
        &:hover {
            animation: neo-emoji-flow 0.32s var(--neo-ease-out-2) both;
            transform: scale(1.35);
            box-shadow: none;
        }
    }
}
@keyframes neo-emoji-flow {
    0% {
        filter: saturate(1) brightness(1);
    }

    55% {
        filter: saturate(1.35) brightness(1.1);
    }

    100% {
        filter: saturate(1.2) brightness(1.05);
    }
}
.emojis__title {
    max-width: fit-content;
    padding: 4px 12px !important;
    @include superellipse-use(7px);
    background-color: var(--b3-menu-background);
    @include frostedglass($blur: t, $color: menu);
    outline: 0.5px solid var(--b3-border-color-trans);
    outline-offset: -0.5px;
}
.emojis__types {
    padding: 8px 8px 0 8px;
    overflow: hidden;
}
.emojis__link-empty-content {
    justify-content: center;
}
.emojis__link-upload {
    @include button-transparent-hover-translucent;
    height: auto;
    display: inline-flex;
    margin: 0 auto;
    font-size: unset;
    svg {
        width: 16px;
        height: 16px;
    }
}
.emojis__link-preview {
    background-color: transparent;
}
.emojis__link-sample {
    border: unset;
    @include superellipse(10px);
}