@use "../utils" as *;
@use "menu" as *;
.protyle-hint {
    @include menu-container-common-simple;
    animation: neo-hint-menu-entrance 0.45s var(--neo-ease-spring-2);
    transform-origin: center;
    transition: none;
}
@keyframes neo-hint-menu-entrance {
    0% {
        opacity: 0;
        transform: none;
    }
    10% {
        transform: scale(0.95);
    }
    90%,
    100% {
        opacity: 1;
    }
}