@use "../utils" as *;
.protyle-toolbar {
    @include superellipse(18px);
    background-color: var(--b3-menu-background);
    @include frostedglass($blur: s, $color: menu);
    border: unset;
    box-shadow: var(--neo-main-shadow);
    padding: 6px;
    animation: neo-toolbar-entrance 0.45s var(--neo-ease-spring-2);
    transform-origin: 50% 150%;
    will-change: transform;
    transition: none;
}
@keyframes neo-toolbar-entrance {
    0% {
        opacity: 0;
        transform: none;
    }
    10% {
        transform: scale(0.92);
    }
    90%,
    100% {
        opacity: 1;
    }
}
.protyle-toolbar__item {
    @include icon;
    @include superellipse(6px);
    padding: 4px;
    margin: 0 2px;
    font-size: 8px;
    height: 24px;
    &--current {
        @include icon-accent;
    }
    &:hover,
    &:hover:not(:disabled) {
        background-color: transparent;
    }
}
.protyle-toolbar__divider {
    border-color: var(--b3-border-color-trans);
}