@use "../utils" as *;
.protyle-toolbar {
    @include superellipse(16px);
    border: unset;
    box-shadow: var(--b3-menu-shadow-blur);
    padding: 6px;
    background-color: transparent;
    animation: neo-toolbar-entrance 0.6s var(--neo-ease-spring-3);
    transform-origin: center;
    will-change: transform;
    &::before {
        @include frostedglass-before;
        @include frostedglass($blur: s, $color: surface, $alpha: 0.5);
        box-shadow: var(--b3-menu-shadow-inset);
    }
}
@keyframes neo-toolbar-entrance {
    from {
        transform: scale(0.97);
    }
    to {
        transform: scale(1);
    }
}
.protyle-toolbar__item {
    @include icon;
    @include superellipse(6px);
    padding: 4px;
    margin: 0 2px;
    font-size: 8px;
    height: 24px;
    &--current {
        @include icon-accent;
    }
}
.protyle-toolbar__divider {
    border-color: var(--b3-border-color-trans);
}