@use "../utils" as *;
.protyle-util {
    @include superellipse-use(12px);
    background-color: var(--b3-menu-background);
    @include frostedglass-menu;
    border: unset;
    box-shadow: var(--b3-menu-shadow);
    animation: neo-util-menu-entrance 0.45s var(--neo-ease-spring-2);
    transform-origin: center;
    will-change: transform;
    .block__icons--menu {
        background-color: transparent;
    }
    textarea {
        background-color: transparent;
        height: unset;
        min-height: unset;
        &:focus,
        &:hover {
            background-color: transparent;
            box-shadow: unset !important;
        }
    }
    .toolbarResize {
        box-shadow: unset !important; // 覆盖内联
        border-left: 1px solid var(--b3-border-color-trans);
        transition: var(--b3-transition);
        &:hover {
            border-color: var(--_resize-hl);
        }
    }
}
@keyframes neo-util-menu-entrance {
    0% {
        opacity: 0;
        transform: none;
    }
    10% {
        transform: scale(0.95);
    }
    90%,
    100% {
        opacity: 1;
    }
}
.color__square,
.protyle-font__style {
    transition: var(--b3-transition);
    box-shadow: unset;
    outline: 0.5px solid oklch(from currentColor l c h / 0.18);
    outline-offset: -0.5px;
    border-radius: 50%;
    transition: var(--_emoji-transiton);
}
.color__square:hover,
.protyle-font__style:hover {
    box-shadow: unset !important;
    scale: 1.15;
}
.protyle-util .protyle-linenumber__rows {
    line-height: 18px;
}