@use "../utils" as *;
@use "../component" as *;
.protyle-breadcrumb {
    background-color: transparent;
}
.protyle-breadcrumb__bar {
    @include overflow-indicator-fadein-mask($fadeout-size-m, "left right");
    scrollbar-width: none;
}
.protyle-breadcrumb__arrow {
    color: transparent;
    margin: 0;
    &::before {
        content: "";
        position: absolute;
        color: transparent;
        background-color: var(--b3-theme-on-surface);
        width: 1px;
        height: 1em;
        border-radius: 2px;
        transform: rotate(27deg);
        opacity: 0.85;
        transition: var(--b3-transition);
    }
    &:hover {
        color: transparent;
        background-color: transparent;
        &::before {
            background-color: var(--b3-theme-on-background);
            opacity: 1;
        }
    }
}
.protyle-breadcrumb__item {
    transition: var(--b3-transition);
    padding: 0;
    margin: 2px;
    height: auto;
    color: var(--b3-theme-on-surface);
    @include icon;
    svg {
        height: 15.5px;
        width: 15.5px;
        padding: 2px;
        @include superellipse(4px);
    }
    &--active {
        background-color: transparent;
        svg {
            @include icon-accent;
            color: var(--b3-theme-accent);
        }
        &:hover {
            svg {
                @include icon-accent;
                color: var(--b3-theme-accent);
            }            
        }
        &:first-child {
            svg {
                @include icon;
            }            
        }
    }
}
.protyle-breadcrumb__icon[data-type="exit-focus"] {
    transition: var(--b3-transition);
    width: max-content;
    @include button-outline;
    padding: 4px 8px;
    line-height: 16px;
    color: var(--b3-theme-accent);
    &:hover,
    &:active,
    &:focus {
        background-color: var(--neo-menu-item-primary);
        @include contrast-color(--neo-menu-item-primary);
        outline-color: var(--neo-menu-item-primary);
    }
}
.block__icon[data-subtype="unlock"] {
    @include icon-accent($important: true);
}
.block__icon[data-subtype="lock"] svg {
    animation: neo-lock 0.45s var(--neo-ease-elastic-out-3);
}
.block__icon[data-subtype="unlock"] svg {
    animation: neo-unlock 0.45s var(--neo-ease-elastic-out-3);
}
@keyframes neo-lock {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-16deg);
    }
    65% {
        transform: rotate(6deg);
    }
    80% {
        transform: rotate(-6deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
@keyframes neo-unlock {
    0% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-16deg);
    }
    65% {
        transform: rotate(6deg);
    }
    80% {
        transform: rotate(-6deg);
    }
    100% {
        transform: rotate(0deg);
    }
}