@use "../utils" as *;
@use "../component" as *;
.protyle {
    background-color: transparent;
}
.protyle:not(.fn__none) .protyle-content {
    animation: neo-protyle-entrance 0.3s var(--neo-ease-out-3);
}
@keyframes neo-protyle-entrance {
    0% {
        opacity: 0;
        transform: translateY(-1.5%);
    }
    100% {
        opacity: 1;
        transform: none;
    }
}
.fullscreen {
    background-color: var(--b3-theme-background);
    @include frostedglass($blur: g, $color: background, $scope: global);
}
.protyle-icons,
.av__gallery-actions {
    max-width: max-content;
    transition: var(--b3-transition);
    @include superellipse(18px);
    box-shadow: var(--neo-main-shadow);
}
.protyle-icon {
    padding: 6px;
    height: auto;
    background-color: transparent;
    color: var(--b3-theme-on-surface);
    &:hover {
        background-color: transparent;
        color: var(--b3-theme-on-background);
    }
    &:first-child {
        margin-left: 4px;
    }
    &:last-child {
        margin-right: 4px;
    }
    &:only-child:not(.protyle-icon--text) {
        margin-left: 0;
        margin-right: 0;
    }
}
.protyle-icons,
.av__gallery-actions,
.b3-typography .code-block:not(pre) .protyle-action .protyle-icon,
.protyle-wysiwyg .code-block:not(pre) .protyle-action .protyle-icon {
    background-color: var(--b3-theme-background);
    @include frostedglass-tooltip;
}
.protyle-top:hover .protyle-background--enable .protyle-background__action,
.protyle-top:hover .protyle-background--enable .protyle-background__img .protyle-icons,
.av__gallery-item:hover .av__gallery-actions,
.protyle-wysiwyg[data-readonly=false] .img:hover .protyle-icons,
.protyle-wysiwyg [data-node-id].render-node:hover > .protyle-icons,
.b3-typography .code-block:not(pre):hover .protyle-icon,
.b3-typography .code-block:not(pre):hover .protyle-action__language,
.protyle-wysiwyg .code-block:not(pre):hover .protyle-icon,
.protyle-wysiwyg .code-block:not(pre):hover .protyle-action__language {
    opacity: 1 !important;
}
.protyle-background__img .protyle-icons {
    .protyle-icon {
        transition: var(--b3-transition);
        padding: 6px;
        height: unset;
    }
}
.b3-typography .code-block:not(pre) .protyle-action .protyle-icon,
.protyle-wysiwyg .code-block:not(pre) .protyle-action .protyle-icon {
    transition: var(--b3-transition);
    background-color: var(--b3-theme-background);
    color: var(--b3-theme-on-surface);
    box-shadow: inset 0 0.5px 0 0 var(--b3-border-color-trans), inset 0 -0.5px 0 0 var(--b3-border-color-trans);
    &:hover {
        color: var(--b3-theme-on-background);
    }
    &.protyle-icon--first {
        @include superellipse(18px);
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        padding-left: 10px;
        margin-left: 0;
        box-shadow: inset 0 0.5px 0 0 var(--b3-border-color-trans), inset 0 -0.5px 0 0 var(--b3-border-color-trans), inset 0.5px 0 0 0 var(--b3-border-color-trans);
    }
    &.protyle-icon--last {
        @include superellipse(18px);
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding-right: 10px;
        margin-right: 0;
        box-shadow: inset 0 0.5px 0 0 var(--b3-border-color-trans), inset 0 -0.5px 0 0 var(--b3-border-color-trans), inset -0.5px 0 0 0 var(--b3-border-color-trans);
    }
}
// 导出预览
.protyle-preview__action {
    background-color: transparent;
    button {
        @include button-transparent;
        &.protyle-preview__action--current {
            background-color: transparent;
            color: var(--b3-theme-accent);
        }
    }
}
// 导出
.export-img {
    border: unset;
}
// 块标
@mixin gutters-ani-common {
    transition: var(--b3-transition);
    animation: neo-gutters-entrance 0.5s var(--neo-ease-spring-3);
    animation-delay: calc((sibling-count() - sibling-index()) * 0.02s);
    transform-origin: right;
    animation-fill-mode: both;
}
@mixin gutters-svg-common {
    transition: var(--b3-transition);
    svg {
        transition: var(--b3-transition);
        color: var(--b3-theme-on-surface);
    }
    &:hover {
        svg {
            color: var(--b3-theme-accent);
        }
    }
}
.protyle-title__icon {
    svg {
        transition: var(--b3-transition);
    }
}
.protyle-title:hover .protyle-title__icon {
    @include gutters-ani-common;
    @include gutters-svg-common;
}
.protyle-gutters button {
    @include gutters-ani-common;
    @include gutters-svg-common;
    &::before {
        opacity: 0 !important;
    }
    &[data-type="fold"] {
        svg {
            transition: color var(--b3-transition), transform var(--_rotate-transition);
        }
    }
    &.protyle-gutters__line {
        background-color: oklch(from var(--b3-theme-on-surface) l c h / 0.5);
        animation-name: neo-gutters-top-entrance;
        transform-origin: top;
        & ~ .protyle-gutters__line {
            animation-name: neo-gutters-bottom-entrance;
            transform-origin: bottom;
        }
    }
    &.protyle-gutters__plus {
        @include gutters-svg-common;
        animation-name: neo-gutters-center-entrance;
        transform-origin: center;
    }
}
@keyframes neo-gutters-entrance {
    from {
        transform: scale(0.75) translateX(2px);
        opacity: 0;
    }
    to {
        transform: scale(1) translateX(0);
    }
}
@keyframes neo-gutters-top-entrance {
    from {
        transform: scale(0.75) translateY(5px);
        opacity: 0;
    }
    to {
        transform: scale(1) translateY(0);
    }
}
@keyframes neo-gutters-bottom-entrance {
    from {
        transform: scale(0.75) translateY(-5px);
        opacity: 0;
    }
    to {
        transform: scale(1) translateY(0);
    }
}
@keyframes neo-gutters-center-entrance {
    from {
        transform: scale(0.2);
        opacity: 0;
    }
    to {
        transform: scale(1);
    }
}
.protyle-scroll {
    top: 50%;
    transform: translateY(-50%);
    bottom: auto;
    height: 300px;
}
.protyle-scroll__up,
.protyle-scroll__down {
    @include icon;
    &:hover {
        scale: 1.25;
        transition: 0.6s var(--neo-ease-spring-3);
    }
}
.protyle-scroll:hover {
    .protyle-scroll__up {
        animation: neo-protyle-scroll-up-entrance 0.6s var(--neo-ease-spring-3);
        transform-origin: bottom;
        animation-fill-mode: both;
    }
    .protyle-scroll__down {
        animation: neo-protyle-scroll-down-entrance 0.6s var(--neo-ease-spring-3);
        transform-origin: top;
        animation-fill-mode: both;
    }
}
@keyframes neo-protyle-scroll-up-entrance {
    from {
        transform: scale(0.55) translateY(5px);
    }
    to {
        transform: scale(1);
    }
}
@keyframes neo-protyle-scroll-down-entrance {
    from {
        transform: scale(0.55) translateY(-5px);
    }
    to {
        transform: scale(1);
    }
}
// 选区
.protyle-select {
    outline: 1px solid oklch(from var(--b3-theme-secondary) l c h / 0.3);
    outline-offset: -1px;
    background-color: oklch(from var(--b3-theme-secondary) l c h / 0.12);
}
.protyle-wysiwyg--select::after,
.protyle-wysiwyg--hl::after {
    outline: 1px solid oklch(from var(--b3-theme-accent) l c h / 0.12);
    outline-offset: -1px;
    background-color: oklch(from var(--b3-theme-accent) l c h / 0.12);
}
// 拖拽
.layout-tab-container__drag {
    outline: 1px solid oklch(from var(--b3-theme-secondary) l c h / 0.12);
    outline-offset: -1px;
    background-color: oklch(from var(--b3-theme-secondary) l c h / 0.12);
}
.protyle-wysiwyg [data-node-id],
.av__gallery-item,
.av__gallery-add,
.av__row,
.b3-list--background .b3-list-item {
    &.dragover {
        border-radius: 0 !important;
        outline: 1px solid oklch(from var(--b3-theme-secondary) l c h / 0.12);
        outline-offset: -1px;
        background-color: oklch(from var(--b3-theme-secondary) l c h / 0.12) !important;
    }
    &.dragover__left,
    &.dragover__right,
    &.dragover__top,
    &.dragover__bottom,
    &.dragover__top--sibling,
    &.dragover__bottom--sibling,
    &.dragover__top--child,
    &.dragover__bottom--child {
        &::before {
            display: none;
        }
        &::after {
            background-color: oklch(from var(--b3-theme-secondary) l c h);
        }
    }
}