@use "../utils" as *;
@use "../component" as *;
.protyle-background__action {
    .b3-button {
        @include button-transparent-hover-translucent;
    }
}
.b3-chips__doctag .b3-chip {
    @include button-outline;
    @include superellipse(24px);
    $offset: 16px;
    padding: 4px 14px;
    background-color: oklch(from currentColor l c h / 0.12);
    color: var(--neo-tag-color);
    outline: 0.5px solid oklch(from currentColor l c h / 0.25);
    outline-offset: -0.5px;
    &::before {
        content: "#";
        display: inline-block;
        margin-inline-end: 4px;
    }
    .b3-chip__close {
        opacity: 0;
        margin-right: -$offset;
        margin-left: 0;
        padding-right: 0;
        transition: inherit;
        &:hover {
            background-color: transparent;
            color: var(--b3-theme-error);
        }
    }
    &:hover {
        padding: 4px 6px;
        background-color: oklch(from currentColor l c h / 0.18);
        color: var(--neo-tag-color);
        .b3-chip__close {
            opacity: 1;
            margin-right: 0;
        }
    }
}
.protyle-background--enable .protyle-background__icon {
    transition: var(--_emoji-transiton);
    &:hover {
        opacity: 1;
        scale: 1.05;
        transform: translateY(-2px);
        filter: saturate(1.5) brightness(1.02);
    }
}
.protyle-attr--refcount {
    @include superellipse(6px);
    right: -40px;
    top: 0px;
    padding: 2px 7px;
    color: var(--b3-theme-accent);
    background-color: oklch(from currentColor l c h / 0.1);
    outline: 0.5px solid oklch(from currentColor l c h / 0.12);
    outline-offset: -0.5px;
    transition: var(--b3-transition);
    .backlinkList &,
    .backlinkMList & {
        right: -25px;
    }
    .protyle-title & {
        right: 0;
        top: -24px;
    }
    &:hover {
        color: var(--b3-theme-accent);
        background-color: oklch(from currentColor l c h / 0.18);
    }
}
.protyle-attr > div:not(.protyle-attr--refcount) {
    transition: var(--b3-transition);
    svg {
        height: 16px;
        width: 16px;
        margin: 0 2px 0 0;
    }
}
.layout__empty {
    .b3-list-item {
        transition: var(--b3-transition);
    }
}